<div class="fr-generic-back-style" [style.background]="_domSanitizer.bypassSecurityTrustStyle('url(/assets/img/servicios-banner.jpg)')"></div>

<div class="fr-sign-in-up-container">

  <h4 class="fr-secon-text-color font-weight-bold py-3 mb-4">{{labels.travels.travels}}</h4>

  <hr class="border-light container-m--x mt-0 mb-4">

  <div class="fr-sign-in-up-container form-row">
    <div class="form-group col-md-6">
      <label class="form-label">{{labels.general.user}}:</label>
      <input [(ngModel)]="servicioTrans.nombreUsuario" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.general.user}}...">
    </div>
    <div class="form-group col-md-6">
      <label class="form-label">{{labels.travels.driver}}:</label>
      <input [(ngModel)]="unidad.nombreChofer" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.driver}}...">
    </div>
    <div class="form-group col-md-4">
      <label class="form-label">{{labels.travels.origin}}:</label>
      <input [(ngModel)]="servicioTrans.origen" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.origin}}...">
    </div>
    <div class="form-group col-md-4">
      <label class="form-label">{{labels.travels.destination}}:</label>
      <input [(ngModel)]="servicioTrans.destino" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.destination}}...">
    </div>
    <div class="form-group col-md-2">
      <label class="form-label">{{labels.general.cellPhone}}:</label>
      <input [(ngModel)]="servicioTrans.telefono" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.general.cellPhone}}...">
    </div>
    <div class="form-group col-md-2">
      <label class="form-label">{{labels.travels.rate}}:</label>
      <input [(ngModel)]="servicioTrans.tarifa" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.rate}}...">
    </div>
  </div>

  <hr class="border-light container-m--x mt-0 mb-4">

  <div class="form-row col-md-12 justify-content-md-center">
    <div class="form-group col-md-12">
      <div class="form-row col-md-12 justify-content-md-center">
        <div class="form-group col-md-6">
          <label class="form-label">{{labels.travels.unity}}:</label>
          <input [(ngModel)]="unidad.codigounidad" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.unity}}...">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Placa:</label>
          <input [(ngModel)]="unidad.placa" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.plates}}...">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Modelo:</label>
          <input [(ngModel)]="unidad.modelo" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.model}}...">
        </div>
        <div class="form-group col-md-6">
          <label class="form-label">Color:</label>
          <input [(ngModel)]="unidad.color" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.color}}...">
        </div>
        <div class="form-group col-md-12">
          <label class="form-label">{{labels.travels.driver}}:</label>
          <input [(ngModel)]="unidad.nombreChofer" [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" placeholder="{{labels.travels.driver}}...">
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="form-row" style="padding: 20px;">
    <div class="col-md-6 offset-md-3">
      <button style="width: 100%;" *ngIf="banReservasRealizadas && banViajesAnteriores" [disabled]="!banReservasRealizadas" type="button" class="btn btn-secondary" (click)="cancelTravel()">
        <span class="fas fa-stop-circle"></span>{{labels.general.cancel.toUpperCase()}} RESERVA</button>
    </div>
  </div>

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <ngb-tabset type="pills">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="viajesActivos()" style="height: 100%; padding: 7px;">
              <b>Activos</b>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-rom" style="margin-top: 10px;">
              <div class="form-row col-md-6">
                <div class="form-row justify-content-start">
                  <div class=" col-md-6 form-group" style="margin-bottom: 0px;">
                    <div class="input-group">
                      <input (ngModelChange)="onChangeDateActiva($event)" [ngModel]="fechaActivo" class="form-control" placeholder="Fecha Inicio..." ngbDatepicker #e="ngbDatepicker">
                      <div class="input-group-append">
                        <button style="height: 38px;"  type="button" class="btn btn-secondary btn-responsive-lg" (click)="e.toggle()">
                          <span class="fas fa-calendar-alt"></span></button>
                      </div>
                      <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.user}}...'
                           (keyup)='updateFilterActiva($event)'>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <div class="fr-fastline-table table-responsive">
              <ngx-datatable #table style="min-width: 500px" [rows]="rowsActiva" [loadingIndicator]="loadingIndicatorActiva"
                [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
                [selected]="selected" [selectionType]="'single'" [limit]="5" [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                (select)='onSelect($event)'>
                <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
                  [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.userRequest}}" prop="nombreUsuario"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.nameUsed}}" prop="nombreAsociado"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.general.dateTime}}" prop="fechaHoraServicio"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.origin}}" prop="origen"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.destination}}" prop="destino"></ngx-datatable-column>
                <ngx-datatable-column [width]="70" name="{{labels.formasPago.paymentMethod}}">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                    row.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                    row.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                    labels.general.card.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column  [width]="50" name="Referencia" prop="tipotar"></ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Cualquier
              cosa 2</div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="reservasRealizadas()" style="height: 100%; padding: 7px;">
              <b>Reservas</b>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-rom" style="margin-top: 10px;">
              <div class="form-row col-md-6">
                <div class="form-row justify-content-start">
                  <div class=" col-md-6 form-group" style="margin-bottom: 0px;">
                    <div class="input-group">
                      <input (ngModelChange)="onChangeDateReserva($event)" [ngModel]="fechaReserva" class="form-control" placeholder="Fecha de Inicio..." ngbDatepicker #e="ngbDatepicker">
                      <div class="input-group-append">
                        <button style="height: 38px;"  type="button" class="btn btn-secondary btn-responsive-lg" (click)="e.toggle()">
                          <span class="fas fa-calendar-alt"></span></button>
                      </div>
                      <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.user}}...'
                           (keyup)='updateFilterReserva($event)'>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <div class="fr-fastline-table table-responsive">
              <ngx-datatable #table style="min-width: 500px" [rows]="rowsReserva" [loadingIndicator]="loadingIndicatorReserva"
                             [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
                             [selected]="selected" [selectionType]="'single'" [limit]="5" [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                             (select)='onSelect($event)'>
                <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
                                      [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.userRequest}}" prop="nombreUsuario"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.nameUsed}}" prop="nombreAsociado"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.general.dateTime}}" prop="fechaHoraServicio"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.origin}}" prop="origen"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.destination}}" prop="destino"></ngx-datatable-column>
                <ngx-datatable-column [width]="75"  name="{{labels.general.state}}">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.estadoservicio == gv.estadosCarreras.pendiente ? 'PENDIENTE'.toUpperCase() :
                    row.estadoservicio == gv.estadosCarreras.activa ? 'ACTIVA'.toUpperCase() :
                    row.estadoservicio == gv.estadosCarreras.cancelada ? 'CANCELADA'.toUpperCase() :
                    'FINALIZADA'.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="85" name="{{labels.formasPago.paymentMethod}}">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                    row.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                    row.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                    labels.general.card.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="60" name="Referencia" prop="numtar"></ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Cualquier
              cosa 2</div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <div (click)="viajesAnteriores()" style="height: 100%; padding: 7px;">
              <b>Anteriores</b>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="form-rom" style="margin-top: 10px;">
              <div class="form-row col-md-6">
                <div class="form-row justify-content-start">
                  <div class=" col-md-6 form-group" style="margin-bottom: 0px;">
                    <div class="input-group">
                      <input (ngModelChange)="onChangeDateAnterior($event)" [ngModel]="fechaAnterior" class="form-control" placeholder="Fecha de Inicio..." ngbDatepicker #e="ngbDatepicker">
                      <div class="input-group-append">
                        <button style="height: 38px;"  type="button" class="btn btn-secondary btn-responsive-lg" (click)="e.toggle()">
                          <span class="fas fa-calendar-alt"></span></button>
                      </div>
                      <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.user}}...'
                           (keyup)='updateFilterAnterior($event)'>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="fr-fastline-table table-responsive">
              <ngx-datatable #table style="min-width: 500px" [rows]="rowsAnterior" [loadingIndicator]="loadingIndicatorAnterior"
                             [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
                             [selected]="selected" [selectionType]="'single'" [limit]="5" [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                             (select)='onSelect($event)'>
                <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
                                      [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                </ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.userRequest}}" prop="nombreUsuario"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.nameUsed}}" prop="nombreAsociado"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.general.dateTime}}" prop="fechaHoraServicio"></ngx-datatable-column>
                <!--<ngx-datatable-column name="Fecha y Hora de Fin" prop="fechaHoraServicio"></ngx-datatable-column>-->
                <ngx-datatable-column name="{{labels.travels.origin}}" prop="origen"> </ngx-datatable-column>
                <ngx-datatable-column name="{{labels.travels.destination}}" prop="destino"></ngx-datatable-column>
                <ngx-datatable-column [width]="95" name="{{labels.general.state}}">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.estadoservicio == gv.estadosCarreras.pendiente ? 'PENDIENTE'.toUpperCase() :
                    row.estadoservicio == gv.estadosCarreras.activa ? 'ACTIVA'.toUpperCase() :
                    row.estadoservicio == gv.estadosCarreras.cancelada ? 'CANCELADA'.toUpperCase() :
                    'FINALIZADA'.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="50" name="Valor" prop="tarifa"></ngx-datatable-column>
                <ngx-datatable-column [width]="100" name="{{labels.formasPago.paymentMethod}}">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                    row.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                    row.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                    labels.general.card.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="90" name="Referencia">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.formapago == gv.formasPago.efectivo ? '' :
                    row.formapago == gv.formasPago.voucherElectronico ? row.nvoucher :
                    row.formapago == gv.formasPago.voucherManual ? 'VM' :
                    row.tipotar.toUpperCase() + '-' + row.numtar}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Cualquier
              cosa 2</div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
