<button type="button" class="btn btn-sm btn-info" (click)="openHideMenu()">
  <span class="fas fa-bars mr-1"></span>
  Menú
</button>
<div #menuContainer>
  <a href="#" class="fr-cristal-back" (click)="openHideMenu($event, false)"></a>

  <div class="fr-side-menu h-100 d-flex flex-column">
    <div class="fr-menu-body fr-f-scroll-child card w-100 pb-4">
      <switch-input-list [title]="'Información del Servicio'" [switchIns]="switchInsServ" [listType]="switchListType"
        (selectedInput)="getSelectedSwitchValue($event)">
      </switch-input-list>

      <switch-input-list [title]="'Información Básica del Empleado'" [switchIns]="switchInsEmp"
        [listType]="switchListType" (selectedInput)="getSelectedSwitchValue($event)">
      </switch-input-list>

      <switch-input-list [title]="'Información Extra del Empleado'" [switchIns]="switchInsDynaEmp"
        [listType]="switchListType" (selectedInput)="getSelectedSwitchValue($event)">
      </switch-input-list>

    </div>
  </div>
</div>