<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.contacto.subtitle }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row justify-content-center">

    <div class="d-flex flex-column align-items-justify col-8 col-sm-4 col-md-3 col-xl-2">
      <label class="form-label">Escoja un Departamento:</label>
      <fr-accordion class="w-100" [accordionList]="depaWithChildList" [selectedItemId]="selectedDepa" [defaultSelect]="false"
        (onFocusItem)="getFocusedDepa($event)">
      </fr-accordion>
    </div>

    <div class="col-sm-8 col-md-9 col-xl-10 mt-2 mt-sm-0">
      <form #frmContacto="ngForm" class="form-row col-12">
        <div class="form-group col-md-6 col-lg-3">
          <label class="form-label">{{ labels.general.company }}:</label>
          <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEmpresaId"
            (ngModelChange)="onEnterpriseChange()">
            <option *ngFor="let empresa of empresaList" [value]="empresa.id">
              {{ empresa.nombreEmpresa }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6 col-lg-3">
          <label class="form-label">Sucursal:</label>
          <select class="custom-select" name="sucId" #sucId="ngModel" [(ngModel)]="responsable.sucursal.id"
            (ngModelChange)="onChangeSuc()">
            <option *ngFor="let suc of sucursalList" [value]="suc.id">
              {{ suc.nomSucursal }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6 col-lg-3">
          <label class="form-label">{{ labels.contacto.contactoPara }}:</label>
          <select class="custom-select" name="codTipoResponsable" #codTipoResponsable="ngModel"
            [(ngModel)]="responsable.codTipoResponsable" required>
            <option *ngFor="let tipo of tipoResponsableList" [value]="tipo.id">
              {{ tipo.name }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6 col-lg-3">
          <label class="form-label">{{ labels.general.state }}:</label>
          <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
            [(ngModel)]="responsable.active">
            <option [value]=true>ACTIVO</option>
            <option [value]=false>INACTIVO</option>
          </select>
        </div>
      </form>

      <div class="form-row col-12">

        <div class="offset-md-1 col-md-10 offset-lg-0 col-lg-6 mt-3 mt-lg-0">

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="conv-tab" data-toggle="tab" href="#conv" role="tab" aria-controls="conv"
                [attr.aria-selected]="true">
                Convenios
              </a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane pt-2 active" id="conv" role="tabpanel" aria-labelledby="conv-tab">
              <div class="card">
                <div class="card-header text-center">
                  <h6 class="mb-0 pb-0">Escoja un Convenio</h6>
                </div>

                <convenios-list class="w-100" [updateData]="updateConvData"
                  (onConvenioSelected)="getSelectedConvenio($event)"></convenios-list>
              </div>
            </div>
          </div>
        </div>

        <div class="offset-md-1 col-md-10 offset-lg-0 col-lg-6 mt-3 mt-lg-0">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="emple-tab" data-toggle="tab" href="#emple" role="tab" aria-controls="emple"
                aria-selected="true">Empleados</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active pt-2" id="emple" role="tabpanel" aria-labelledby="emple-tab">
              <div class="card">
                <div class="card-header text-center">
                  <h6 class="mb-0 pb-0">Asigne un Responsable</h6>
                </div>

                <employee-list class="w-100" [updateData]="updateEmpData" [sucursalId]="responsable.sucursal.id"
                  [departamentoId]="departamentoId" [unSelectRow]="unSelectRow" [selectRowById]="selectedEmpId"
                  (onEmployeeSelected)="getSelectedEmplooyee($event)"></employee-list>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-row col-12 mt-3 pl-3">
        <switch-input-list [switchIns]="switchIns" (selectedInput)="getSelectedSwitchValue($event)">
        </switch-input-list>
      </div>

      <hr>

      <div class="form-row">
        <div class="form-row col-md-8 col-xl-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="button" class="btn btn-primary btn-responsive-lg" (click)="onSubmit()"
                [disabled]="!frmContacto.form.valid || !ableToSubmit">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-end mt-3 pb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{page.totalElements}}">{{page.totalElements}}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{ labels.contacto.filterPlaceHolder }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div #tableContainer>
    <ngx-datatable #table style="min-width: 500px" [rows]="filterResponsableList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      [selected]="selectedRow" (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.company}}" prop="empleado.sucursal.empresa.nombreEmpresa"
        [width]="200" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.employees.sucursal}}" prop="empleado.sucursal.nomSucursal" [width]="200"
        [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.responsable.responsable}}" prop="empleado.nomCompleto" [width]="250"
        [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Correo" prop="empleado.correo" [width]="250" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Celular" prop="empleado.telefonoCelular" [width]="100" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Cargo" prop="empleado.cargo.nombre" [width]="200" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Departamento" prop="empleado.cargo.departamento.nombreDepa" [width]="200"
        [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.contacto.contactoPara}}" prop="tipoResponsable" [width]="250"
        [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.contacto.empresaConvenio}}" prop="empresaConvenio.nombreEmpresa"
        [width]="250" [canAutoResize]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Recibe Notificaciones" [width]="150" [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.recibeNotif ? 'SI' : 'NO' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}" [width]="100" [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>