<div style="background-color: black; color: white; max-width: 500px;">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button style="color: white;" type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: black;">
    {{ nombre }}
    <div class="card-body" style="background-color: black;">
      <p class="card-text" style="color: #fff; font-weight: bold; font-size: 12px; margin: 0px;">ORIGEN:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{origen}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #fff; font-weight: bold; font-size: 12px; margin: 0px;">DESTINO:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{destino}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #fff; font-weight: bold; font-size: 12px; margin: 0px;">FECHA:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{fecha}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #fff; font-weight: bold; font-size: 12px; margin: 0px;">HORA:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{hora}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #fff; color: #fff; font-weight: bold; font-size: 12px; margin: 0px;">OBSERVACION:</p>
      <textarea maxlength="250" class="form-control" rows="2" id="comment"></textarea>
      <hr style="margin: 10px 0px 10px 0px;">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline('comment')">RECHAZAR</button>
    <button type="button" class="btn btn-primary" (click)="accept('comment')">AUTORIZAR</button>
</div>
</div>
