<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" style="padding: 0px;" [ngClass]="currentBg()">

  <div class="container">
    <div class="form-row col-sm-4">
      <div class="form-group col-md-12" style="margin-bottom: 0px;">
        <img src="assets/img/logos/logo-fastline.png" alt="Smiley face" style="width: 150px;">
      </div>
    </div>
    <div class="form-row col-sm-8 justify-content-end" style="text-align: right;">
      <div class="form-group col-sm-10" style="margin-bottom: 0px;">
        <!-- Brand -->
        <a routerLink="/" class="navbar-brand text-large font-weight-bolder" style="color: #2D2E7E;">{{nombre}}</a>
        <!--<a routerLink="/" class="navbar-brand text-large font-weight-bolder" style="color: #2D2E7E;">{{cellPhone}}</a>-->
        <img src="assets/img/avatars/1.png" alt="Avatar" class="avatar">
      </div>
    </div>
  </div>

  <!-- Sidenav toggle -->
  <div class="navbar-nav align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
  <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center ml-auto">

      <!-- Divider -->
      <div class="nav-item d-none d-lg-block text-big font-weight-light line-height-1 opacity-25 mr-3 ml-1">|</div>

      <div ngbDropdown [placement]="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
        <a ngbDropdownToggle class="nav-link" href="javascript:void(0)">
          <i class="fas fa-ellipsis-v" style="color: #2D2E7E; font-size: 20px;"></i>
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <img src="assets/img/avatars/{{authService.user.avatar}}" alt class="d-block ui-w-30 rounded-circle">
            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">{{authService.user.name}} {{authService.user.lastName}}</span>
          </span>
        </a>
        <div ngbDropdownMenu [class.dropdown-menu-right]="!isRTL">
          <a href="javascript:void(0)" class="dropdown-item"  [routerLink]="['/settings']" ><i class="ion ion-md-settings text-lightest"></i> &nbsp; Perfil</a>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)" class="dropdown-item" (click)="authService.logout()"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Salir</a>
        </div>
      </div>
    </div>
  </div>

</nav>
