<div class="form-row col-md-12">
  <div class="form-group col-sm-6 col-md-5">
    <label class="form-label">{{ labels.general.company }}:</label>
    <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="enterpriseId"
      (ngModelChange)="onEnterpriseChange()">
      <option *ngFor="let empresa of empresaList" [value]="empresa.id">
        {{ empresa.nombreEmpresa }}
      </option>
    </select>
  </div>

  <div class="form-group col-sm-6 col-md-5">
    <label class="form-label">Sucursal:</label>
    <select class="custom-select" name="sucId" #sucId="ngModel" [(ngModel)]="sucursalId"
      (ngModelChange)="onSucursalChange()">
      <option *ngFor="let suc of sucursalList" [value]="suc.id">
        {{ suc.nomSucursal }}
      </option>
    </select>
  </div>

  <div class="form-group col-sm-6 col-md-2">
    <label class="form-label">{{ labels.presupuesto.anio }}:</label>
    <select class="custom-select" name="anio" #anio="ngModel" [(ngModel)]="filterYear"
      [ngModelOptions]="{ standalone: true}" [ngClass]="{ 'is-invalid': !anio.valid && anio.touched }"
      (ngModelChange)="onChangeYearFilter()" required>
      <option *ngFor="let year of yearList" [value]="year">
        {{ year }}
      </option>
    </select>
  </div>
</div>

<div class="row justify-content-center justify-content-lg-between">

  <div class="d-flex flex-column align-items-center col-10 col-sm-6 col-md-4 col-xl-3">
    <fr-accordion class="w-100" [accordionList]="depaWithChildList" (onFocusItem)="getFocusedDepa($event)">
    </fr-accordion>
  </div>

  <div class="fr-position-relative col-md-8 col-xl-9 pl-3 pl-md-0 mt-4 mt-md-0">
    <div *ngIf="loadingIndicator" class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-100" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <table class="table table-responsive table-hover table-sm">
      <thead>
        <tr>
          <th class="text-center fr-v-align-mid" scope="col">#</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.presupuesto.department}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.ene}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.feb}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.mar}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.abr}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.may}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.jun}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.jul}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.ago}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.sep}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.oct}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.nov}}</th>
          <th class="text-center fr-v-align-mid" scope="col">{{labels.months.dic}}</th>
          <th class="text-center fr-v-align-mid" scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let detRow of filterDetalleGenList; let i = index">
          <tr [ngClass]="{ 'table-active': i == 0 }">
            <th scope="row">{{ i + 1 }}</th>
            <td class="text-justify fr-v-align-mid" style="width: 180px;">{{ detRow.nombreDepa }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_ene }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_feb }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_mar }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_abr }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_may }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_jun }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_jul }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_ago }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_sep }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_oct }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_nov }}</td>
            <td class="text-center fr-v-align-mid">${{ detRow.valor_dic }}</td>
            <th class="text-center fr-v-align-mid">${{ detRow.valor_total }}</th>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2" class="text-justify fr-v-align-mid">Total:</th>
          <th class="text-center fr-v-align-mid">${{ totals.ene }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.feb }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.mar }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.abr }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.may }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.jun }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.jul }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.ago }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.sep }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.oct }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.nov }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.dic }}</th>
          <th class="text-center fr-v-align-mid">${{ totals.total }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>