<div class="demo-vertical-spacing">
  <div class="row justify-content-start justify-content-sm-end pb-2">
    <div class="col-4 col-sm-3 pb-2 pb-sm-0">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-12 col-sm-7">
      <input class="form-control" type='text' placeholder='{{ labels.usuarioEmpresa.filterPlaceHolderEnterList }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterEmpresaList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" (select)="onSelectRow($event)"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.ruc}}" prop="ruc"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.company.companyName}}" prop="nombreEmpresa"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.company.representative}}" prop="representanteLegal" [width]="200">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>