/******************************************************
** CUSTOM AUTOCOMPLETE COMPONENT STYLES
** AUTHOR: FREDI ROMAN
*******************************************************/
.fr-input-auto-complete {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.fr-auto-complete {
    position: absolute !important;
    background-color: $secondary-text-color !important;
    width: calc(100% - 15px) !important;
    z-index: 1 !important;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    top: calc(100% - .5px) !important;
    visibility: hidden;
    
    a {
        width: 100%;
        flex-grow: 1;
    }
    
    a:hover {
        background-color: $default-back-color-mdark;
    }
    
    &.fr-full-width {
        width: 100% !important;
    }

    &.show-autocomplete {
        visibility: visible;
    }
}
