/******************************************************
** CUSTOM CAROUSEL
** AUTHOR: FREDI ROMAN
*******************************************************/

.fr-carousel {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: all .9s;

    &.fr-prev {
        position: absolute;
        left: 0;
        transform: translateX(-110%);
        transition: all .8s;
    }

    &.fr-next {
        position: absolute;
        top: 0;
        transform: translateX(110%);
        transition: all .8s;
    }
}

.fr-visibility-hidden {
    visibility: hidden;
}

////
