/****************************************************
*****************************************************
* CUSTOM FASTLINE TABLE STYLES:
* AUTHOR: FREDI ROMAN
*****************************************************
****************************************************/
.fr-fastline-table {
    datatable-header {
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom: 2px solid $primary-color !important;
        background: $primary-dark-color-opa;
        display: flex !important;
        justify-content: center;
        align-items: center;

        datatable-header-cell {
            border-right: none !important;
            text-align: center;
        }
    }

    datatable-footer {
        .page-count {
            color: $primary-color !important;
        }
    }

    datatable-body {
        datatable-selection {
            datatable-scroller {
                datatable-row-wrapper {
                    datatable-body-row {
                        border-color: transparent !important;

                        datatable-body-cell {
                            border-right: none !important;
                            border-left: none !important;
                        }

                        &.active {
                            background-color: rgba(24, 28, 33, 0.055) !important;
                        }
                    }
                }
            }
        }
    }
}

.fr-respon-table-header {
    overflow: visible !important;
    border: none !important;

    .datatable-header-inner {
        border-bottom: 2px solid #f1f1f2;
    }
}
