/***************************************************************************
* ADDITIONAL FLEX BOX COMPONENT STYLES
* AUTOR: FREDI ROMAN
***************************************************************************/
//FLEX-CHILDS:
.fr-f-child-full-space {
    flex: 1 0 auto !important;
}

.fr-f-child-no-auto {
    flex: 1 0 !important;
}

.fr-f-child-no-shrink {
    flex-shrink: 0 !important;
}

.fr-f-child-grow {
    flex-grow: 1 !important;
}

//REF: https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336
.fr-f-scroll-child {
    flex-grow: 1;
    overflow: auto;

    /* for Firefox */
    min-height: 0;
}