$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .675);
$font-size-tiny: ($font-size-base * .670);

$input-height-lg: 3rem;
$input-height: 2.375rem;
$input-height-sm: 1.9375rem;
$input-height-xs: 1.4375rem;
$input-height-tiny: .85rem;

$input-btn-focus-width: .2rem;
$custom-control-indicator-bg: #dee2e6;
$custom-control-indicator-disabled-bg: #c7ccd1;
$custom-control-description-disabled-color: #868e96;
$white: white;
$default-color: $custom-control-indicator-bg;

$theme-colors: (
  'primary': #08d
);

//
// These variables can be used to customize the switch component.
//
$switch-height: calc(#{$input-height} * .8) !default;
$switch-height-lg: calc(#{$input-height-lg} * .8) !default;
$switch-height-sm: calc(#{$input-height-sm} * .8) !default;
$switch-height-xs: calc(#{$input-height-xs} * .8) !default;
$switch-height-tiny: calc(#{$input-height-tiny} * .8) !default;

$switch-border-radius: $switch-height !default;
$switch-bg: $custom-control-indicator-bg !default;
$switch-checked-bg: map-get($theme-colors, 'primary') !default;
$switch-disabled-bg: $custom-control-indicator-disabled-bg !default;
$switch-disabled-color: $custom-control-description-disabled-color !default;
$switch-thumb-bg: $white !default;
$switch-thumb-border-radius: 50% !default;
$switch-thumb-padding: 2px !default;
$switch-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$switch-transition: .2s all !default;