/***********************************************************************************************************
************************************************************************************************************
* AUTOR: FREDI ROMAN
***********************************************************************************************************
***********************************************************************************************************/

.fr-cristal-back {
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.2);
    opacity: 0;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all .5s ease;

    &.fr-open-menu {
        opacity: 1;
    }

    &.fr-show {
        display: inherit;
    }
}

.fr-side-menu {
    min-width: 250px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11;
    transform: translateX(-100%);
    transition: all .5s ease;

    .fr-menu-body {
        border-radius: 0px;

        .card {
            border-radius: unset !important;
            border: none !important;
        }

        li {
            cursor: pointer;
            transition: all .3s ease;
        }

        li:hover {
            background: rgba($color: #000000, $alpha: 0.025) !important;
        }
    }

    &.fr-open-menu {
        transform: translateX(0);
    }
}
