/**
* AUTOR: FREDI ROMAN
*/
@import "./assets/scss/_fr_switch_in_vars.scss";

/////SWITCH INPUT/////
.switch {
    font-size: $font-size-base;
    position: relative;

    input {
        position: absolute;
        height: 1px;
        width: 1px;
        background: none;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;

        + label {
            position: relative;
            min-width: calc(#{$switch-height} * 2);
            border-radius: $switch-border-radius;
            height: $switch-height;
            line-height: $switch-height;
            display: inline-block;
            cursor: pointer;
            outline: none;
            user-select: none;
            vertical-align: middle;
            text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
        }

        + label::before,
        + label::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(#{$switch-height} * 2);
            bottom: 0;
            display: block;
        }

        + label::before {
            right: 0;
            background-color: $switch-bg;
            border-radius: $switch-border-radius;
            transition: $switch-transition;
        }

        + label::after {
            top: $switch-thumb-padding;
            left: $switch-thumb-padding;
            width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
            height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
            border-radius: $switch-thumb-border-radius;
            background-color: $switch-thumb-bg;
            transition: $switch-transition;
        }

        &:checked + label::before {
            background-color: $switch-checked-bg;
        }

        &:checked + label::after {
            margin-left: $switch-height;
        }

        &:focus + label::before {
            outline: none;

            //box-shadow: $switch-focus-box-shadow;
       
        }

        &:disabled + label + p {
            color: $switch-disabled-color;
            cursor: not-allowed;
        }

        &:disabled + label::before {
            background-color: $switch-disabled-bg;
        }
    }

    // TINY variation
    &.tiny-switch {
        font-size: $font-size-tiny;

        input {
            + label {
                min-width: calc(#{$switch-height-tiny} * 2);
                height: $switch-height-tiny;
                line-height: $switch-height-tiny;
                text-indent: calc(calc(#{$switch-height-tiny} * 2) + .5rem);
            }

            + label::before {
                width: calc(#{$switch-height-tiny} * 2);
            }

            + label::after {
                width: calc(#{$switch-height-tiny} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-tiny} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked + label::after {
                margin-left: $switch-height-tiny;
            }
        }
    }

    // Extra Small variation
    &.switch-xs {
        font-size: $font-size-xs;

        input {
            + label {
                min-width: calc(#{$switch-height-xs} * 2);
                height: $switch-height-xs;
                line-height: $switch-height-xs;
                text-indent: calc(calc(#{$switch-height-xs} * 2) + .5rem);
            }

            + label::before {
                width: calc(#{$switch-height-xs} * 2);
            }

            + label::after {
                width: calc(#{$switch-height-xs} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-xs} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked + label::after {
                margin-left: $switch-height-xs;
            }
        }
    }

    // Small variation
    &.switch-sm {
        font-size: $font-size-sm;

        input {
            + label {
                min-width: calc(#{$switch-height-sm} * 2);
                height: $switch-height-sm;
                line-height: $switch-height-sm;
                text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
            }

            + label::before {
                width: calc(#{$switch-height-sm} * 2);
            }

            + label::after {
                width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked + label::after {
                margin-left: $switch-height-sm;
            }
        }
    }

    // Large variation
    &.switch-lg {
        font-size: $font-size-lg;

        input {
            + label {
                min-width: calc(#{$switch-height-lg} * 2);
                height: $switch-height-lg;
                line-height: $switch-height-lg;
                text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
            }

            + label::before {
                width: calc(#{$switch-height-lg} * 2);
            }

            + label::after {
                width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
                height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
            }

            &:checked + label::after {
                margin-left: $switch-height-lg;
            }
        }
    }

    + .switch {
        margin-left: 1rem;
    }

    // MAIN COLOR VARIATION
    &.switch-normal {
        input {
            &:checked + label::before {
                background-color: $primary-color;
            }
        }
    }

    // PRIMARY LIGHT COLOR VARIATION
    &.switch-dark {
        input {
            &:checked + label::before {
                background-color: $primary-dark-color;
            }
        }
    }
}

////////////////////////
