/***************************************************************************
* GLOBAL STYLING VARIABLES
* AUTOR: FREDI ROMAN
***************************************************************************/
/******* FASTLINE COLORS: ********/
$primary-color: rgb(255, 177, 0);
$primary-color-opa: rgba(255, 177, 0, 0.5);
$primary-dark-color: rgb(45, 46, 126);
$primary-dark-color-opa: rgba(45, 46, 126, 0.5);
$primary-shadow-dark: rgba(45, 46, 126, .125);

$secondary-color: rgb(38, 181, 216);
$tertiary-color: rgb(86, 153, 17);

$primary-text-color: #0a0b0d;
$secondary-text-color: #FFF;
$tertiary-text-color: #666666;
$default-back-color-mdark: rgba(238, 238, 238, 0.5);
$default-back-color-dark: rgba(238, 238, 238, 0.9);

$btn-shadow: rgba(0, 0, 0, 0.2);

$secondary-back-color-light: #cccccc;

$enphasys-font-family: Verdana, Geneva, Tahoma, sans-serif;
$min-row-height: 40px;
/****************************************************************************/