<div class="col-md-5">
  <div class="card w-100">
    <div class="card-header px-3">
      <h6 class="mb-0 pb-0">{{ tableData ? tableData.title: '' }}</h6>
    </div>

    <div *ngIf="reportHeader" class="form-row pt-2 pl-3 pr-1">
      <div class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">Empresa:</strong>{{ reportHeader.empresa }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">Ciudad:</strong>{{ reportHeader.ciudad }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">Estado:</strong>{{ reportHeader.estado }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">Desde:</strong>{{ reportHeader.desde }}
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">Hasta:</strong>{{ reportHeader.hasta }}
      </div>
      <div class="pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0" [ngClass]="{
        'col-sm-6 col-md-12 col-lg-6': reportHeader.departamento,
        'col-12': !reportHeader.departamento
      }">
        <strong class="pr-2">Forma de Pago:</strong>{{ reportHeader.formaPago }}
      </div>
      <div *ngIf="reportHeader.departamento" class="col-sm-6 col-md-12 col-lg-6 pl-0 pl-sm-1 pl-md-0 pl-lg-1 pr-0">
        <strong class="pr-2">{{ reportHeader.nivelDepa }}:</strong>{{ reportHeader.departamento }}
      </div>
    </div>

    <div class="py-2 px-3">
      <fr-table *ngIf="tableData" [tableHeaders]="tableData.tableHeaders" [tableRows]="tableData.tableRows"
        [tableFooter]="tableData.tableFooter" [pageSize]="tableData.pageSize" (onRowClick)="getClickedRow($event)"></fr-table>
    </div>
  </div>
</div>

<div class="col-md-7 mt-4 mt-md-0">
  <div class="card w-100 h-100">
    <div class="card-header">
      <h6 class="mb-0 pb-0">{{ chartData ? chartData.title : '' }}</h6>
    </div>
    <div #repCanvasCont>
      <div *ngIf="showChart" class="py-3 px-4">
        <canvas>{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>