<div class="form-row">
  <div class="form-group col-1" style="background-color: #2D2E7E; height: 51px;">
    <div ngbDropdown class="viewmenu" style="padding-top: 10px;">
      <button style="border: none;" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fas fa-ellipsis-v" style="font-size: 20px;"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="javascript:void(0)" class="dropdown-item"  [routerLink]="['/settings']" ><i class="ion ion-md-settings text-lightest"></i> &nbsp; Perfil</a>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0)" class="dropdown-item" (click)="authService.logout()"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Salir</a>
      </div>
    </div>
  </div>
  <div class="form-group col-9" style="padding: 0px;">
    <sidenav [orientation]="orientation" [ngClass]="getClasses()" class="bg-secondary">

      <!-- Inner -->
      <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">

        <!-- Dashboards -->
        <!--<sidenav-router-link icon="ion ion-md-speedometer" route="/" [active]="isActive('/')">Inicio</sidenav-router-link>-->

        <!-- Cliente Empresa (Fasltine) -->
        <sidenav-menu icon="ion ion-md-home" text="Inicio" [active]="isMenuActive('/dashboards')" [open]="isMenuOpen('/dashboards')"
                      *ngIf="authService.user.company_id!='0'">
          <sidenav-router-link icon="ion ion-md-car" route="/" [active]="isActive('/')">OK</sidenav-router-link>
          <sidenav-menu icon="ion ion-md-lock" text="Seguridad" [active]="isMenuActive('/dashboards')" [open]="isMenuOpen('/dashboards')"
                        *ngIf="authService.user.company_id!='0'">
            <sidenav-router-link icon="fas fa-th-list" route="/admin/catalog" [active]="isActive('/admin/catalog')">Catalogos</sidenav-router-link>
          </sidenav-menu>
          <sidenav-router-link icon="fas fa-user-cog" route="/admin/user" [active]="isActive('/admin/user')">Usuarios</sidenav-router-link>
          <sidenav-router-link icon="far fa-address-book" route="/admin/usuarioEmpresa" [active]="isActive('/admin/usuarioEmpresa')">Usuarios y Empresas</sidenav-router-link>
        </sidenav-menu>


        <!-- Administrar Empresa (Empresa) -->
        <sidenav-menu icon="fas fa-cog" text="Configuración" [active]="isMenuActive('/dashboards')" [open]="isMenuOpen('/dashboards')"
                      *ngIf="authService.user.company_id!='0'">
          <sidenav-router-link icon="fas fa-building" route="/admin/company" [active]="isActive('/admin/company')">Compañía</sidenav-router-link>
          <sidenav-router-link icon="fas fa-handshake" route="/admin/characteristics" [active]="isActive('/admin/characteristics')">Convenios</sidenav-router-link>
          <sidenav-router-link icon="ion ion-md-list" route="/admin/departamentos" [active]="isActive('/admin/departamentos')">Jerarquía</sidenav-router-link>
        </sidenav-menu>

        <sidenav-menu icon="fas fa-file" text="Reportes" [active]="isMenuActive('/dashboards')" [open]="isMenuOpen('/dashboards')"
                      *ngIf="authService.user.company_id!='0'">
          <!--<sidenav-router-link icon="fas fa-briefcase" route="/reports/fastline" [active]="isActive('/reports/fastline')">Power BI</sidenav-router-link>-->
          <sidenav-router-link icon="fas fa-briefcase" route="/reports/coorp" [active]="isActive('/reports/coorp')">Coorporativos</sidenav-router-link>
          <sidenav-router-link icon="fas fa-briefcase" route="/reports/graphic-panel" [active]="isActive('/reports/coorp')">Panel Gráfico</sidenav-router-link>
        </sidenav-menu>

        <sidenav-menu icon="fas fa-taxi" text="Solicitar Taxi" [active]="isMenuActive('/dashboards')" [open]="isMenuOpen('/dashboards')"
                      *ngIf="authService.user.company_id!='0'">
          <sidenav-router-link icon="fas fa-taxi" route="/fastmovil/orderfastmovil" [active]="isActive('/fastmovil/orderfastmovil')">Solicitar
            un FastMovil</sidenav-router-link>
          <sidenav-router-link icon="fas fa-users" route="/fastmovil/usersfast" [active]="isActive('/fastmovil/usersfast')">Usuarios</sidenav-router-link>
          <sidenav-router-link icon="fas fa-car" route="/fastmovil/travels" [active]="isActive('/fastmovil/travels')">Viajes</sidenav-router-link>
          <sidenav-router-link icon="fas fa-credit-card" route="/fastmovil/paymentmethods" [active]="isActive('/fastmovil/paymentmethods')">Formas
            de Pago</sidenav-router-link>
        </sidenav-menu>

        <sidenav-menu icon="ion ion-md-information-circle-outline" text="Información" [active]="isMenuActive('/dashboards')"
                      [open]="isMenuOpen('/dashboards')">
          <sidenav-router-link icon="ion ion-md-help-circle-outline" route="/help" [active]="isActive('/help')">Ayuda</sidenav-router-link>
          <sidenav-router-link icon="fas fa-id-badge" route="/contact" [active]="isActive('/contact')">Contacto</sidenav-router-link>
        </sidenav-menu>

      </div>

    </sidenav>
  </div>
  <div class="form-group col-2" style="background-color: #2D2E7E; height: 51px;">
    <div class="form-row">
      <div class="form-group col-12">
        <div style="margin-bottom: 0px;">
          <div ngbDropdown [autoClose]="false" >
            <button style="background: transparent; border: none; margin-top: 6px; color: #fff; margin-top: 10px; width: 60px;"
                    class="btn btn-outline-secondary notification" id="dropdownBasic1" ngbDropdownToggle>
              <i class="fas fa-bell" style="font-size: 20px;"></i><span *ngIf="sizeAyyar > 0" style="background: #e22e2e; color: white;" class="badge float-right">{{sizeAyyar}}</span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="margin: 0px; padding: 0px;">
              <div style="width: 300px; position: fixed; right: 0; overflow-y: scroll; max-height: 400px;">
                <ul class="list-group list-group-flush pb-0">
                  <li *ngFor="let array of arrayServicios; let i = index">
                    <div class="card" style="background-color: #2D2E7E;">
                      <h5 class="card-header">
                        <a style="color: white; font-size: 12px; color:#F9B100; " class="collapsed d-block" data-toggle="collapse" href="{{'#collapse-collapsed-' + i}}" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                          AUTORIZACION DE SERVICIO
                        </a>
                        <a style="color: white; font-size: 12px;" class="collapsed d-block" data-toggle="collapse" href="{{'#collapse-collapsed-' + i}}" aria-expanded="true" aria-controls="collapse-collapsed" id="heading-collapsed">
                          <i class="fa fa-chevron-down pull-right"></i>
                          {{array['nomEmpleado']}}
                        </a>
                      </h5>
                      <div id="{{'collapse-collapsed-' + i}}" class="collapse" aria-labelledby="heading-collapsed">
                        <div class="card-body" style="background-color: white;">
                          <p class="card-text" style="color: #2D2E7E; font-weight: bold; font-size: 12px; margin: 0px;">ORIGEN:</p>
                          <p class="card-text" style="font-size: 12px; font-weight: bold; margin: 0px;">{{array['origen']}}</p>
                          <hr style="margin: 10px 0px 10px 0px;">
                          <p class="card-text" style="color: #2D2E7E; font-weight: bold; font-size: 12px; margin: 0px;">DESTINO:</p>
                          <p class="card-text" style="font-size: 12px; font-weight: bold; margin: 0px;">{{array['destino']}}</p>
                          <hr style="margin: 10px 0px 10px 0px;">
                          <p class="card-text" style="color: #2D2E7E; font-weight: bold; font-size: 12px; margin: 0px;">FECHA:</p>
                          <p class="card-text" style="font-size: 12px; font-weight: bold; margin: 0px;">{{array['fecha']}}</p>
                          <hr style="margin: 10px 0px 10px 0px;">
                          <p class="card-text" style="color: #2D2E7E; font-weight: bold; font-size: 12px; margin: 0px;">HORA:</p>
                          <p class="card-text" style="font-size: 12px; font-weight: bold; margin: 0px;">{{array['hora']}}</p>
                          <hr style="margin: 10px 0px 10px 0px;">
                          <p class="card-text" style="color: #2D2E7E; font-weight: bold; font-size: 12px; margin: 0px;">OBSERVACION:</p>
                          <textarea maxlength="250" class="form-control" rows="2" id="{{'comment' + i}}"></textarea>
                          <hr style="margin: 10px 0px 10px 0px;">
                          <button class="btn btn-primary" (click)="rechazarServ(array['idServicio'], 'comment' + i)">Rechazar</button>
                          <button class="btn btn-secondary" (click)="autorizarServ(array['idServicio'], 'comment' + i)">Autorizar</button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

