<div [ngClass]="{ 'card': !isChild, 'fr-top-border': isChild }">
  <ul class="col-12 list-group list-group-flush p-0">
    <li *ngFor="let item of accordionList; let i = index"
      class="list-group-item d-flex justify-content-center align-items-center p-0">
      <fr-accordion-item class="w-100" [accordionItem]="item" [show]="!isChild && defaultSelect != false && i == 0"
        [selectedItemId]="selectedItemId" (onFocusItem)="getFocusedItemId($event)" [removeClassTo]="removeClassTo">
      </fr-accordion-item>
    </li>
  </ul>
</div>