<div #autoComplete class="fr-position-relative col-12 px-0">
  <label class="form-label">{{ labels.reports.coorpServicesReport.empleado.searchEmp }}:</label>
  <input list="users" type="text" class="fr-input-auto-complete form-control" [(ngModel)]="filterPattern"
    [ngModelOptions]="{standalone: true}" (keyup)="onFilteringUser()" (blur)="showHideOptions()"
    placeholder="{{labels.employees.emploFilterPlaceholder}}">
  <div class="fr-auto-complete {{ class }} card">
    <ul class="list-group list-group-flush pb-0">
      <li *ngFor="let dat of filteredData; let i = index"
        class="list-group-item d-flex flex-column justify-content-between align-items-center p-0">
        <a href="#" class="fr-primary-text-color px-3 py-2" (click)="onOptionClick($event, i)">
          <div class="fr-primary-text-color">
            {{ dat.identificacion }} | {{ dat.nomCompleto }} | {{ dat.correo }} |
            {{ dat.sucursal.empresa.nombreEmpresa }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>