<div style="background-color: black; color: #F9B100; max-width: 500px;">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button style="color: white;" type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: black;">
    {{ nombre }}
    <div class="card-body" style="background-color: black;">
      <p class="card-text" style="color: #F9B100; font-weight: bold; font-size: 12px; margin: 0px;">ORIGEN:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{origen}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #F9B100; font-weight: bold; font-size: 12px; margin: 0px;">DESTINO:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{destino}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #F9B100; font-weight: bold; font-size: 12px; margin: 0px;">FECHA:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{fecha}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
      <p class="card-text" style="color: #F9B100; font-weight: bold; font-size: 12px; margin: 0px;">HORA:</p>
      <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{hora}}</p>
      <hr style="margin: 10px 0px 10px 0px;">
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-12">
        <p class="card-text" style="color: #F9B100; font-weight: bold; font-size: 12px; margin: 0px;">OBSERVACION:</p>
      </div>
      <div class="col-12">
        <p class="card-text" style="color: #fff; font-size: 12px; font-weight: bold; margin: 0px;">{{observacion}}</p>
      </div>
    </div>
    <!--<button type="button" class="btn btn-secondary" (click)="decline('comment')">RECHAZAR</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="accept('comment')">AUTORIZAR</button>-->
  </div>
</div>
