<div #tableContainer>
  <ngx-datatable class="mb-1" [rows]="filterPresupList" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true" [selectionType]="'single'"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
    [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
    [selected]="selectedRow" (select)='onSelectRow($event)' (page)='setPage($event)'>

    <ngx-datatable-column name="{{labels.presupuesto.anio}}" prop="anio" [width]="70" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="{{labels.presupuesto.mes}}" prop="mesDesc" [width]="100" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="{{labels.presupuesto.valor}}" prop="valor" [width]="80" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="Política de Horarios" [width]="300" [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong>Días Laborables: </strong> De {{ row.poliTaxiLaborable.desde }} a {{ row.poliTaxiLaborable.hasta }}
        <ng-container *ngIf="row.poliTaxiFeriaFds">
          <br>
          <strong>Fin de Semana y Feriados:</strong> De {{ row.poliTaxiFeriaFds.desde }} a
          {{ row.poliTaxiFeriaFds.hasta }}
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>