<h4 class="font-weight-bold py-3 mb-4">{{labels.catalog.title}}</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <form [formGroup]="formCatalog" novalidate>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label class="form-label reqlabel">{{labels.catalog.code}}:</label>
          <input mask='000' type="text" formControlName="code" maxlength="3"  class="form-control" placeholder="{{labels.catalog.code}}" value="{{catalogo.codCatalogo}}"  (keyup)="onKey($event, 'codCatalogo')" [ngClass]="{ 'is-invalid': submitedCatalog && fc.code.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq3}}</small>
        </div>
        <div class="form-group col-md-8">
          <label class="form-label reqlabel">{{labels.catalog.name}}:</label>
          <input type="name" formControlName="name" maxlength="50" class="form-control" placeholder="{{labels.catalog.name}}"  value="{{catalogo.nomCatalogo}}" (keyup)="onKey($event, 'nomCatalogo')" [ngClass]="{ 'is-invalid': submitedCatalog && fc.name.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{labels.general.state}}:</label>
          <select disabled=true class="custom-select" (change)="onKey($event, 'estado')">
            <option *ngFor="let estado of estados" [value]="estado.id" [disabled]="estado.id == gv.state.active ? true : false">
              {{estado.nomSubCatalogo.toUpperCase()}}
            </option>
          </select>
          <small class="invalid-feedback">{{labels.messages.req}}</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label class="form-label reqlabel">{{labels.catalog.desc}}:</label>
          <input type="text" formControlName="desc" class="form-control" placeholder="{{labels.catalog.desc}}"  value="{{catalogo.descripcion}}" (keyup)="onKey($event, 'descripcion')" [ngClass]="{ 'is-invalid': submitedCatalog && fc.desc.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{labels.catalog.kind}}:</label>
          <select class="custom-select" (change)="onKey($event, 'tipoTabla')" [(ngModel)]="catalogo.tipoTabla" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let tipo of tiposCat" [value]="tipo.id">
              {{tipo.nomSubCatalogo.toUpperCase()}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-row col-lg-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button style="width: 100px; margin: 10px;" type="button" class="btn btn-primary btn-responsive-lg" (click)="save()">
                <span class="far fa-paper-plane"></span>{{labels.general.save}}</button>
            </div>
            <br>
            <div class="col-6">
              <button style="width: 100px; margin: 10px;" type="button" class="btn btn-secondary" (click)="clear()">
                <span class="fas fa-stop-circle"></span>{{labels.general.cancel}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="row justify-content-end pb-2">
      <div class="col-3 col-sm-2 col-lg-1">
        <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size" [ngModelOptions]="{standalone: true}">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="{{page.totalElements}}">{{labels.general.totalPage}}</option>
        </select>
      </div>
      <div class="col-9 col-sm-6 col-md-4">
        <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.name}}...' (keyup)='updateFilter($event)'>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="43"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [reorderable]="true"
        [selected]="selected"
        [selectionType]="'single'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
        (select)='onSelect($event)'
        (page)='setPage($event)'>
        <ngx-datatable-column
          [width]="20"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="false"
          [checkboxable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.placeholders.code}}" prop="codCatalogo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.name}}"  prop="nomCatalogo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.desc}}" prop="descripcion"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.kind}}">
          <ng-template  let-row="row" ngx-datatable-cell-template>
                 {{row.tipoTabla == "103" ? labels.general.user.toUpperCase() : labels.general.system.toUpperCase()}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.state}}">
          <ng-template  let-row="row" ngx-datatable-cell-template>
                 {{row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase()}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <button [hidden]="catalogo.codCatalogo==''" type="button" class="btn btn-primary"  [routerLink]="['/admin/catalogitem', catalogo.id,  catalogo.descripcion, catalogo.codCatalogo]">{{ labels.catalog.elements }}</button>
  </div>
</div>

