table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #F9B100;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2D2E7E;
  color: white;
}
