<div style="width: 400px; background-color: white">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button style="color: white;" type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="overflow-y: scroll; height: 400px;">
    <div class="form-group">
      <p>Se debe realizar las siguientes validaciones para iniciar sesión.</p>
      <hr>
      <table>
        <tr>
          <th style="background: #F9B100;">Validación</th>
          <th style="background: #F9B100;">Estado</th>
        </tr>
        <tr>
          <td>Identificación</td>
          <td style="text-align: center;">
            <i *ngIf="banId" style="font-size: 16px; color: green;" class="fas fa-check"></i>
            <i *ngIf="!banId" style="font-size: 16px; color: #e22e2e;" class="fas fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>Términos y Condiciones</td>
          <td style="text-align: center;">
            <i *ngIf="banTerm" style="font-size: 16px; color: green;" class="fas fa-check"></i>
            <i *ngIf="!banTerm" style="font-size: 16px; color: #e22e2e;" class="fas fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>Celular</td>
          <td style="text-align: center;">
            <i *ngIf="banCell" style="font-size: 16px; color: green;" class="fas fa-check"></i>
            <i *ngIf="!banCell" style="font-size: 16px; color: #e22e2e;" class="fas fa-times"></i>
          </td>
        </tr>
        <tr>
          <td>Correo Electrónico</td>
          <td style="text-align: center;">
            <i *ngIf="banMail" style="font-size: 16px; color: green;" class="fas fa-check"></i>
            <i *ngIf="!banMail" style="font-size: 16px; color: #e22e2e;" class="fas fa-times"></i>
          </td>
        </tr>
      </table>
      <br>
      <hr>
      <label class="form-label reqlabel">Nombre:</label>
      <input [disabled]="banNombre" style="margin-bottom: 10px" placeholder="Ingrese su nombre completo"
             name="registerName" type="text" class="form-control" maxlength="80"
             [(ngModel)]="nombre">
      <label class="form-label reqlabel">Correo:</label>
      <input [disabled]="banCorreo" style="margin-bottom: 10px" placeholder="Ingrese su correo"
             name="registerName" type="text" class="form-control" maxlength="80"
             [(ngModel)]="correo">
      <label class="form-label reqlabel">Celular:</label>
      <input [disabled]="banCelular" style="margin-bottom: 10px" placeholder="Ingrese su celular"
             name="registerName" type="text" class="form-control" maxlength="80"
             [(ngModel)]="celular">
      <label class="form-label reqlabel">Tipos de Identificación:</label>
      <select [disabled]="banId" class="custom-select" [(ngModel)]="tipoIdentificacion" [ngModelOptions]="{standalone: true}" (change)="onChangeDate($event)">
        <option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">
          {{tipo.nomSubCatalogo}}
        </option>
      </select>
      <label class="form-label reqlabel">Identificación:</label>
      <input [disabled]="banId" style="margin-bottom: 20px" placeholder="Ingrese su identificación"
             name="registerName" type="text" class="form-control" maxlength="80"
             [(ngModel)]="identificacion" mask="000000000000000">
      <hr>
      <div *ngIf="!banTerm">
        <label class="custom-control custom-checkbox m-0">
          <input type="checkbox" class="custom-control-input" name="aceptTerms"
                 [(ngModel)]="aceptTerms">
          <span class="custom-control-label">
                  <div class="fr-secon-text-color" style="color: black !important;">
                    {{labels.messages.terms}}
                    <a style="cursor: pointer;" href="#">{{labels.messages.policies}}</a>.
                    {{labels.messages.mailNotifications}}
                  </div>
                </span>
        </label>
      </div>
      <hr>
      <div *ngIf="!banCell && banMail">
        <p>Solicitar PIN para validar el celular ingresado.</p>
        <label class="form-label">PIN:</label>
        <input style="margin-bottom: 10px" placeholder="PIN"
               name="registerName" type="text" class="form-control" maxlength="80"
               [(ngModel)]="pin">
        <button style="width: 100%; margin-bottom: 10px;" type="button" class="btn btn-primary" (click)="sendPin()">SOLICITAR PIN</button>
        <button style="width: 100%;" type="button" class="btn btn-secondary" (click)="validarCelular()">VALIDAR CELULAR</button>
      </div>
      <hr>
      <button *ngIf="!banMail" style="width: 100%;" type="button" class="btn btn-secondary" (click)="validarCorreo()">VALIDAR CORREO ELECTRONICO</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">LISTO</button>
  </div>
</div>
