<div class="fr-position-relative col-12 px-0 mt-2">
  <div *ngIf="loadingIndicator" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning w-100" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders" class="text-justify fr-v-align-mid" scope="col"
            [ngStyle]="{ 'width': header.columnWidth + 'px' }">{{ header.label }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tableRow of filterTableRows; let i = index">
          <tr [ngClass]="{ 'table-active': i % 2 == 0 }" (click)="clickedRow(tableRow)">
            <td *ngFor="let data of tableRow" class="text-justify fr-v-align-mid">
              {{ data }}</td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <th *ngFor="let foot of tableFooter" [attr.colspan]="foot.colspan">{{ foot.label }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="fr-table-page form-row px-2 justify-content-between">
    <p>Total {{ page.totalElements }}</p>
    <ul class="pagination">
      <li *ngFor="let pagiItem of paginationArray; let i = index" [ngClass]="{ 'active': pagiItem.active }">
        <a *ngIf="pagiItem.firstPageBtn" href="#" (click)="setPage($event, i)"
          [ngClass]="{ 'fr-disabled-link': pagiItem.disabled }">
          <span class="fas fa-step-backward"></span>
        </a>
        <a *ngIf="pagiItem.prevBtn" href="#" (click)="setPage($event, i)"
          [ngClass]="{ 'fr-disabled-link': pagiItem.disabled }">
          <span class="fas fa-chevron-left"></span>
        </a>
        <a *ngIf="pagiItem.nextBtn" href="#" (click)="setPage($event, i)"
          [ngClass]="{ 'fr-disabled-link': pagiItem.disabled }">
          <span class="fas fa-chevron-right"></span>
        </a>
        <a *ngIf="pagiItem.lastPageBtn" href="#" (click)="setPage($event, i)"
          [ngClass]="{ 'fr-disabled-link': pagiItem.disabled }">
          <span class="fas fa-step-forward"></span>
        </a>
        <a *ngIf="pagiItem.pageNumber" href="#" (click)="setPage($event, i)">{{ pagiItem.pageNumber }}</a>
      </li>
    </ul>
  </div>
</div>