<!-- Modal -->
<div #modalContainer class="modal fade" tabindex="-1" role="dialog" aria-labelledby="movil-detail-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg fr-modal-wide" role="document">
    <div class="modal-content pt-2">
      <div class="modal-body py-3">
        <h5>Datos del detalle</h5>

        <fr-table [tableHeaders]="tableHeaders" [tableRows]="tableRows" [pageSize]="pageSize"></fr-table>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" [attr.data-dismiss]="'modal'">
          <span class="fas fa-check-circle mr-2"></span>Aceptar
        </button>

        <button type="button" class="btn btn-secondary" [attr.data-dismiss]="'modal'">
          <span class="fas fa-file-excel mr-2"></span>Descargar
        </button>
      </div>
    </div>
  </div>
</div>