<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.employees.subtitle1 }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row">

    <div class="d-flex flex-column align-items-center col-md-4 col-lg-3 col-xl-2">
      <nivel class="col-12 p-0" [empresaId]="mainEnterpriseId" [nivelesList]="nivelesList"
        [showEditableControls]="false" (nivelClickedIndex)="onNivelClick($event)"></nivel>
    </div>

    <form #frmEmploye="ngForm" class="col-md-8 col-lg-9 col-xl-10 pt-3 pt-md-0" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-row col-12">
          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">{{ labels.general.company }}:</label>
            <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
              (ngModelChange)="onChangeEmpresa()">
              <option *ngFor="let empresa of empresaList" [value]="empresa.id">
                {{ empresa.nombreEmpresa }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">Sucursal:</label>
            <select class="custom-select" name="sucId" #sucId="ngModel" [(ngModel)]="empleado.sucursal.id"
              (ngModelChange)="onChangeSuc()">
              <option *ngFor="let suc of sucursalList" [value]="suc.id">
                {{ suc.nomSucursal }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">{{ depaName }}:</label>
            <select class="custom-select" name="departId" #departId="ngModel"
              [(ngModel)]="empleado.cargo.departamento.idDepartamento" (ngModelChange)="onChangeDepa()">
              <option *ngFor="let depa of depaList" [value]="depa.idDepartamento">
                {{ depa.nombreDepa }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">Cargos:</label>
            <select class="custom-select" name="cargoId" #cargoId="ngModel" [(ngModel)]="empleado.cargo.id"
              [disabled]="!cargoList || this.cargoList.length == 0">
              <option *ngFor="let cargo of cargoList" [value]="cargo.id">
                {{ cargo.nombre }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row col-12">
          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label reqlabel">{{labels.employees.code}}:</label>
            <input type="text" name="codEmp" #codEmp="ngModel" [(ngModel)]="empleado.codEmpleado" maxlength="15"
              class="form-control" [ngClass]="{ 'is-invalid': codEmp.touched && !codEmp.valid }"
              placeholder="{{ labels.placeholders.code }}" pattern="[a-zA-Z|0-9]+" required
              (keyup)="empleado.codEmpleado = empleado.codEmpleado.toUpperCase()">
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">{{ labels.employees.kindIdentifi }}:</label>
            <select class="custom-select" name="tipoId" #tipoId="ngModel" [(ngModel)]="empleado.tipoIdentif">
              <option *ngFor="let tipo of tiposIdList" [value]="tipo.id">
                {{ tipo.nomSubCatalogo }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label reqlabel">{{ labels.employees.identification }}:</label>
            <input type="text" name="empId" #empId="ngModel" [(ngModel)]="empleado.identificacion"
              mask="000000000000000" maxlength="15" class="form-control"
              placeholder="{{ labels.employees.identification }}"
              [ngClass]="{ 'is-invalid': empId.touched && !empId.valid }" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq5 }}</small>
          </div>

          <div class="form-group col-sm-6 col-lg-3">
            <label class="form-label">{{ labels.general.state }}:</label>
            <select class="custom-select" name="estado" #estado="ngModel" [(ngModel)]="empleado.estado"
              [disabled]="saveEdit">
              <option *ngFor="let estado of estadosList" [value]="estado.id">
                {{ estado.nomSubCatalogo.toUpperCase() }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-row col-md-6">
          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{ labels.employees.firstName }}:</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="empleado.primerNombre" maxlength="50"
              class="form-control" [ngClass]="{ 'is-invalid': nombre.touched && !nombre.valid }"
              (keyup)='fullNameComplete()' placeholder="{{ labels.employees.firstName }}" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{ labels.employees.lastName }}:</label>
            <input type="text" name="segNombre" #segNombre="ngModel" [(ngModel)]="empleado.segundoNombre" maxlength="50"
              class="form-control" placeholder="{{labels.employees.lastName}}"
              [ngClass]="{ 'is-invalid': segNombre.touched && !segNombre.valid }" (keyup)='fullNameComplete()' required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{ labels.employees.firstSurname }}:</label>
            <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="empleado.primerApellido" maxlength="50"
              class="form-control" [ngClass]="{ 'is-invalid': apellido.touched && !apellido.valid }"
              (keyup)='fullNameComplete()' placeholder="{{ labels.employees.firstSurname }}" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{labels.employees.lastSurname}}:</label>
            <input type="text" name="segApellido" #segApellido="ngModel" [(ngModel)]="empleado.segundoApellido"
              maxlength="50" class="form-control"
              [ngClass]="{ 'is-invalid': segApellido.touched && !segApellido.valid }" (keyup)='fullNameComplete()'
              placeholder="{{labels.employees.lastSurname}}" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>
        </div>

        <div class="form-row col-md-6 pl-2 pr-0">
          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label">{{ labels.employees.operator }}:</label>
            <select class="custom-select" name="codOp" #codOp="ngModel" [(ngModel)]="empleado.codOperadora">
              <option *ngFor="let operadora of operadorasList" [value]="operadora.id">
                {{operadora.nomSubCatalogo}}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{ labels.general.cellPhone }}:</label>
            <input type="text" name="celular" #celular="ngModel" [(ngModel)]="empleado.telefonoCelular"
              mask="(000)-000-0000" class="form-control" [ngClass]="{ 'is-invalid': celular.touched && !celular.valid }"
              placeholder="{{ labels.general.cellPhone }}" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label">{{ labels.general.phone }}: </label>
            <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="empleado.telefonoConvencional"
              mask="(000)-000-000" class="form-control" placeholder="{{labels.general.phone}}">
          </div>

          <div class="form-group col-sm-6 col-md-12 col-lg-6">
            <label class="form-label reqlabel">{{ labels.general.mail }}:</label>
            <input type="text" name="correo" #correo="ngModel" [(ngModel)]="empleado.correo" maxlength="80"
              class="form-control" [ngClass]="{ 'is-invalid': correo.touched && !correo.valid }"
              placeholder="{{ labels.general.mail }}" [textMask]="emailMaskOptions" required>
            <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
          </div>
        </div>

        <div class="form-row col-lg-4">
          <div class="form-group col-12">
            <label class="form-label reqlabel">{{ labels.employees.fullName }}:</label>
            <input type="text" name="nomComp" #nomComp="ngModel" [(ngModel)]="empleado.nomCompleto" maxlength="200"
              class="form-control" placeholder="{{ labels.employees.fullName }}" [disabled]=true>
          </div>
        </div>

        <div class="form-row col-lg-8 pl-2 pr-0">
          <div class="form-group col-sm-4 mb-0">
            <label class="form-label reqlabel">Fecha Desde:</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}" name="fecDesde"
                  #fecDesde="ngModel" [(ngModel)]="empleado.fechaDesde" ngbDatepicker #d="ngbDatepicker"
                  [ngClass]="{ 'is-invalid': fecDesde.touched && !fecDesde.valid }" required />
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                    <span class="fas fa-calendar-alt"></span></button>
                </div>
                <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4 mb-0">
            <label class="form-label">Fecha Hasta:</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}" name="fecHasta"
                  #fecHasta="ngModel" [(ngModel)]="empleado.fechaHasta" ngbDatepicker #dH="ngbDatepicker"
                  [ngClass]="{ 'is-invalid': fecHasta.touched && !fecHasta.valid }" [disabled]="saveEdit" />
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="dH.toggle()">
                    <span class="fas fa-calendar-alt"></span></button>
                </div>
                <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-4">
            <label class="form-label">{{ labels.general.alternateCode }}:</label>
            <input type="text" name="codAlt" #codAlt="ngModel" [(ngModel)]="empleado.codAlterno" maxlength="15"
              class="form-control" [ngClass]="{ 'is-invalid': codAlt.touched && !codAlt.valid }"
              placeholder="{{ labels.general.alternateCode }}" pattern="[a-zA-Z|0-9]+">
          </div>
        </div>
      </div>

      <ng-container *ngIf="dynaParamList.length > 0">
        <hr>

        <div class="card form-row mx-2">
          <h6 class="card-header">Atributos Adicionales</h6>
          <div class="col-12 py-2">
            <fr-dyna-form *ngIf="inputFormList" class="form-row col-12" [dynaInputList]="inputFormList"
              [pushedInputValue]="pushedInputValue" [letReset]="letReset" [letSubmit]="letSubmit"
              (changedInput)="getChangedInput($event)" (submitedData)="getSumitedData($event)">

              <h1>DENTRO DEL FORMULARIO</h1>

            </fr-dyna-form>
          </div>
        </div>
      </ng-container>

      <div class="form-row col-12" [ngClass]="{ 'mt-3 mb-4': dynaParamList, 'mt-2': !dynaParamList }">
        <switch-input-list [switchIns]="switchIns" (selectedInput)="getSelectedSwitchValue($event)">
        </switch-input-list>
      </div>

      <hr>

      <div class="form-row">
        <div class="form-row col-md-8 col-xl-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmEmploye.form.valid">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div class="row justify-content-end mt-3 pb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.name}}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterEmpleadoList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" [selected]="selectedRow"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Código" prop="codEmpleado"></ngx-datatable-column>
      <ngx-datatable-column name="Identificación" prop="identificacion"></ngx-datatable-column>
      <ngx-datatable-column name="Nombre" prop="nomCompleto"></ngx-datatable-column>
      <ngx-datatable-column name="Cargo" prop="cargo.nombre"></ngx-datatable-column>
      <ngx-datatable-column name="Departamento" prop="cargo.departamento.nombreDepa"></ngx-datatable-column>
      <ngx-datatable-column name="Sucursal" prop="sucursal.nomSucursal"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>