<h4 class="font-weight-bold py-3 mb-4">{{ labels.usuarioEmpresa.subtitle }}</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h6 class="mb-0 pb-0">{{ labels.usuarioEmpresa.userDetailTitle }}</h6>
        </div>
        <div class="d-flex justify-content-center">
          <span class="fas fa-user fr-back-icon fr-icon-md fr-dark-icon"></span>
          <ul class="col-12 list-group list-group-flush p-0">
            <li class="list-group-item d-flex justify-content-center align-items-center p-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-user mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.firstName }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ selectedRow[0].firstName }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-user mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.lastName }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ selectedRow[0].lastName }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-envelope mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.email }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ selectedRow[0].email }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-mobile mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.phone }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ selectedRow[0].phone }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-ban mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.status }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ selectedRow[0].active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6 my-4 mt-md-0">
      <div class="form-row d-flex align-items-stretch">
        <div class="col-sm-6 col-md-8 col-lg-6 pl-0">
          <div class="form-group">
            <label class="form-label">{{ labels.general.company }}:</label>
            <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
              (ngModelChange)="changeEnterprise()">
              <option *ngFor="let data of usuarioEmpresaList" [value]="data.empresa.id">
                {{ data.empresa.nombreEmpresa }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-center">
          <h6 class="mb-0 pb-0">{{ labels.usuarioEmpresa.empresaDetailTitle }}</h6>
        </div>
        <div class="d-flex justify-content-center">
          <span class="fas fa-building fr-back-icon fr-icon-sm"></span>
          <ul class="col-12 list-group list-group-flush p-0">
            <li class="list-group-item d-flex justify-content-center align-items-center p-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-building mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.firstName }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ currUsuarioEmpresa.empresa.nombreEmpresa }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-envelope mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.email }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ currUsuarioEmpresa.empresa.correo }}</div>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
              <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                <div class="p-ilustration">
                  <span class="fas fa-phone mr-1"></span>
                </div>
                {{ labels.usuarioEmpresa.telephone }}:
              </div>
              <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                {{ currUsuarioEmpresa.empresa.telefono }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-start align-items-center">
      <button type="button" class="btn btn-primary" (click)="openEnterpriseModal()">
        <span class="fas fa-plus mr-1"></span>{{ labels.usuarioEmpresa.new }}
      </button>
      <button type="button" class="btn btn-secondary ml-3" (click)="onDeleteSelected()"
        [disabled]="!usuarioEmpresaList || usuarioEmpresaList.length == 0">
        <span class="fas fa-ban mr-1"></span>{{ labels.usuarioEmpresa.remove }}
      </button>
    </div>
  </div>

  <hr>

  <div class="row justify-content-end pb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{ labels.usuarioEmpresa.filterPlaceHolder }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterUserList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" [selected]="selectedRow"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (page)='setPage($event)' (select)="onSelectRow($event)">
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.mailShort}}" prop="email"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.usuarioEmpresa.firstName}}" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.usuarioEmpresa.lastName}}" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.usuarioEmpresa.phone}}" prop="phone"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>