<div class="authentication-wrapper authentication-4 px-4">
  <video autoplay="" loop="" poster="http://m.fastline.com.ec/video/cover.jpg" class="fr-login-background">
    <source src="../../assets/video/cover.webm" type="video/webm">
    <source src="../../assets/video/cover.mp4" type="video/mp4">
  </video>

  <div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalOlvido.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <p>{{modalOlvido.mensaje}}</p>
            <hr>
            <label class="form-label">{{modalOlvido.label}}:</label>
            <input *ngIf="!modalOlvido.bandera" placeholder="{{modalOlvido.label}}"
                   name="registerName" type="text" class="form-control" maxlength="80"
                   [(ngModel)]="celularParam" [textMask]="{mask: mask}">
            <input *ngIf="modalOlvido.bandera" placeholder="{{modalOlvido.label}}"
                   name="registerName" type="text" class="form-control" maxlength="80"
                   (keyup)="registerCredentials.name = registerCredentials.name.toUpperCase()"
                   [(ngModel)]="correoParam">
          </div>
          <button type="button" class="btn btn-primary" (click)="getUserPass()">{{modalOlvido.button}}</button>
        </form>
      </div>
    </ng-template>
  </div>

  <div class="authentication-inner py-5">

    <!-- Logo -->
    <div class="fr-secon-text-color d-flex flex-column justify-content-center align-items-center mb-3">
      <div class="ui-w-225">
        <div class="w-100 position-relative text-center" style="padding-bottom: 4%">
          <span class="text-large font-weight-bolder">{{labels.general.title}}</span><br>
          <span class="text-small font-muted">{{labels.general.subtitle}}</span>
        </div>
      </div>

      <img class="mt-3" src="/assets/img/logos/logo_fastmovil.png" alt="Fastmovil logo" height="200px">
    </div>
    <!-- / Logo -->

    <div class="fr-sign-in-up-container card">
      <div class="row no-gutters row-bordered">
        <!-- Login -->
        <div class="col-md-6">
          <h5 class="text-center text-muted font-weight-normal py-4 px-4 px-sm-5 m-0">{{labels.general.init}}</h5>
          <hr class="border-light m-0">

          <div class="px-4 px-sm-5 pt-4 pb-5 pb-sm-5">

            <!-- Login form -->
            <form>
              <div class="form-group">
                <label class="form-label d-flex justify-content-between align-items-end">
                  <div>{{labels.general.user}}:</div>
                  <a style="cursor: pointer;" class="d-block small" (click)="openModal(content, 0)">{{labels.login.userForgot}}</a>
                </label>
                <input placeholder="{{labels.general.user}}" [(ngModel)]="loginCredentials.email" name="loginEmail"
                  type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label d-flex justify-content-between align-items-end">
                  <div>{{labels.login.password}}:</div>
                  <a  style="cursor: pointer;" class="d-block small" (click)="openModal(content, 1)">{{labels.login.passwordForgot}}</a>
                </label>
                <input placeholder="{{labels.login.password}}" [(ngModel)]="loginCredentials.password"
                  name="loginPassword" type="password" class="form-control" (keyup.enter)="loginUser()">
              </div>
              <div class="d-flex justify-content-between align-items-center m-0">
                <label class="custom-control custom-checkbox m-0">
                  <input type="checkbox" class="custom-control-input" name="loginRememberMe"
                    [(ngModel)]="loginCredentials.rememberMe">
                  <span class="custom-control-label">{{labels.login.remember}}</span>
                </label>
                <button type="button" class="btn btn-primary" (click)="loginUser()">{{labels.general.init}}</button>
              </div>
            </form>
            <!-- / Login form -->
            <br>
            <p *ngFor="let alert of alerts">
              <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
            </p>
          </div>
        </div>
        <!-- / Login -->

        <!-- Register -->
        <div class="col-md-6">
          <h5 class="text-center text-muted font-weight-normal py-4 px-4 px-sm-5 m-0">{{labels.login.registerAccount}}
          </h5>
          <hr class="border-light m-0">

          <div class="px-4 px-sm-5 pt-4 pb-5 pb-sm-5">

            <!-- Register form -->
            <form>
              <div class="form-group">
                <label class="form-label">{{labels.general.names}}:</label>
                <input placeholder="{{labels.general.names}}" [(ngModel)]="registerCredentials.name" name="registerName"
                  type="text" class="form-control" maxlength="80" (keyup)="registerCredentials.name = registerCredentials.name.toUpperCase()">
              </div>
              <div class="form-group">
                <label class="form-label">{{labels.general.surnames}}:</label>
                <input placeholder="{{labels.general.surnames}}" [(ngModel)]="registerCredentials.lastName"
                  name="registerLastName" type="text" class="form-control" maxlength="80" (keyup)="registerCredentials.lastName = registerCredentials.lastName.toUpperCase()">
              </div>
              <div class="form-group">
                <label class="form-label">{{ labels.employees.kindIdentifi }}:</label>
                <select class="custom-select" [(ngModel)]="registerCredentials.tipoIdentificacion" [ngModelOptions]="{standalone: true}" (change)="onChangeDate($event)">
                  <option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.id">
                    {{tipo.nomSubCatalogo}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">{{labels.employees.identification}}:</label>
                <input mask="000000000000000" maxlength="15" [(ngModel)]="registerCredentials.identificacion" class="form-control" type="text" placeholder="{{labels.employees.identification}}" [ngModelOptions]="{standalone: true}" (keyup)="registerCredentials.identificacion = registerCredentials.identificacion.toUpperCase()">
              </div>
              <div class="form-group">
                <label class="form-label">{{labels.general.mail}}:</label>
                <input placeholder="{{labels.general.mail}}" [(ngModel)]="registerCredentials.email"
                  name="registerEmail" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">{{labels.general.cellPhone}}:</label>
                <input [textMask]="{mask: mask}" placeholder="{{labels.general.cellPhone}}"
                  [(ngModel)]="registerCredentials.cell" name="registerCell" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">{{labels.login.password}}:</label>
                <input placeholder="{{labels.login.password}}" [(ngModel)]="registerCredentials.password"
                  name="registerPassword" type="password" class="form-control" maxlength="40">
                <ng2-password-strength-bar [passwordToCheck]="registerCredentials.password"></ng2-password-strength-bar>
              </div>
              <label class="custom-control custom-checkbox m-0">
                <input type="checkbox" class="custom-control-input" name="aceptTerms"
                  [(ngModel)]="registerCredentials.aceptTerms">
                <span class="custom-control-label">
                  <div class="text-light fr-secon-text-color small ml-1">
                    {{labels.messages.terms}}
                    <a style="cursor: pointer;" href="#" (click)="openTermsModal($event)">{{labels.messages.policies}}</a>.
                    {{labels.messages.mailNotifications}}
                  </div>
                </span>
              </label>
              <button type="button" class="btn btn-primary btn-block mt-4" (click)="registerUser()" [disabled]="!registerCredentials.aceptTerms">Crear</button>
            </form>
            <!-- / Register form -->

          </div>
        </div>
        <!-- / Register -->

      </div>
    </div>

  </div>
</div>
