<!-- Modal -->
<div #modalContainer class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg fr-modal-wide" role="document">
    <div class="modal-content">
      <div class="modal-header pl-3">
        <h6 class="modal-title pr-2">{{ _dynamicData.title }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="showBody">
          <div *ngIf="_dynamicData.componentType == componentTypes.html"
          class="text-justify px-2 {{ _dynamicData.bodyClass }}"
          [innerHTML]="_dynamicData.bodyData ? _dynamicData.bodyData : ' '"></div>
          <ng-template #dynaTemplate></ng-template>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button *ngFor="let button of _dynamicData.btnList; let i = index" type="button"
          class="btn {{ button.btnClass }}"
          [attr.data-dismiss]="button.onClickAction == btnActions.close ? 'modal' : ''"
          (click)="onButtonClick(i)">{{ button.label }}</button>
      </div>
    </div>
  </div>
</div>