<div class="fr-generic-back-style" [style.background]="_domSanitizer.bypassSecurityTrustStyle('url(/assets/img/servicios-banner.jpg)')"></div>

<h4 class="fr-secon-text-color font-weight-bold py-3 mb-4">{{labels.usuarios.users}}</h4>

<div class="fr-sign-in-up-container demo-vertical-spacing">
  <hr class="border-light container-m--x mt-0 mb-4">
  <search-user (onDataFilter)="getFilteredData($event)"></search-user>

  <form #frmAssoc="ngForm" (ngSubmit)="addAssocUser()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-label">{{labels.general.mail}}:</label>
        <input disabled type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="associatedUser.email"
          placeholder="{{labels.general.mail}}...">
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">{{labels.general.names}}:</label>
        <input disabled type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="associatedUser.firstName"
          placeholder="{{labels.general.names}}...">
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">{{labels.general.surnames}}:</label>
        <input disabled type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="associatedUser.lastName"
          placeholder="{{labels.general.surnames}}...">
      </div>
      <div class="form-group col-md-6">
        <label class="form-label">{{labels.general.cellPhone}}:</label>
        <input disabled type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="associatedUser.phone"
          placeholder="{{labels.general.cellPhone}}...">
      </div>
    </div>

    <hr>

    <div class="form-row">
      <div class="form-row col-md-6">
        <div class="form-row justify-content-start">
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-responsive-lg">
              <span class="far fa-paper-plane"></span>{{labels.general.save}}</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary" (click)="resetForm()">
              <span class="fas fa-stop-circle"></span>{{labels.general.cancel}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br>

  <div class="row align-items-center justify-content-end" style="padding-right: 15px;">
    <button type="button" class="btn btn-success mb-0 mr-1" (click)="activateDeactivateAssocUser(false)">
      <span class="fas fa-check"></span>
    </button>

    <button type="button" class="btn btn-danger mb-0 mr-2" (click)="activateDeactivateAssocUser()">
      <span class="fas fa-ban"></span>
    </button>

    <div>
      <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.name}}...'
        (keyup)='updateFilter($event)'>
    </div>
  </div>

  <div class="fr-fastline-table table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true" [selected]="selected"
      [selectionType]="'single'" [limit]="10" [messages]="{emptyMessage:'Sin datos que mostrar', totalMessage: 'Total', selectedMessage: 'seleccionado(s)'}"
      (select)='onSelect($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
        [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="NOMBRE" prop="firstName"></ngx-datatable-column>
      <ngx-datatable-column name="APELLIDO" prop="lastName"></ngx-datatable-column>
      <ngx-datatable-column name="EMAIL" prop="email"></ngx-datatable-column>
      <ngx-datatable-column name="TELEFONO" prop="phone"></ngx-datatable-column>
      <ngx-datatable-column name="ESTADO">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div *ngIf="row.estado == gv.state.active" class="fas fa-check text-success"></div>
          <div *ngIf="row.estado == gv.state.inactive" class="fas fa-ban text-danger"></div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>
