<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.presupuesto.subtitle }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row justify-content-sm-center justify-content-lg-between">

    <div class="d-flex flex-column align-items-center col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <nivel class="col-12 p-0" [empresaId]="mainEmpresaId" [nivelesList]="nivelesList" [showEditableControls]="false"
        (nivelClickedIndex)="onNivelClick($event)"></nivel>
    </div>

    <div class="form-row col-12 col-lg-9 col-xl-10 mt-3 mt-lg-0">
      <form #frmPresupuesto="ngForm" class="col-md-6 col-xl-7" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label class="form-label">{{ labels.general.company }}:</label>
            <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEmpresaId"
              (ngModelChange)="onEnterpriseChange()" [disabled]="autoGenPresupuesto">
              <option *ngFor="let empresa of empresaList" [value]="empresa.id">
                {{ empresa.nombreEmpresa }}
              </option>
            </select>
          </div>

          <div class="form-group col-sm-6">
            <label class="form-label">Sucursal:</label>
            <select class="custom-select" name="sucId" #sucId="ngModel" [(ngModel)]="presupuesto.sucursal.id"
              (ngModelChange)="onSucursalChange()" [disabled]="autoGenPresupuesto">
              <option *ngFor="let suc of sucursalList" [value]="suc.id">
                {{ suc.nomSucursal }}
              </option>
            </select>
          </div>

          <div *ngIf="currentNivelIndex > 0" class="form-group col-sm-6">
            <label class="form-label">{{ parentDepaName }}:</label>
            <select class="custom-select" name="parentDepartId" #parentDepartId="ngModel" [(ngModel)]="parentDepaId"
              (ngModelChange)="onChangeParentDepa()" [disabled]="autoGenPresupuesto">
              <option *ngFor="let parentDepa of parentDepaList" [value]="parentDepa.idDepartamento">
                {{ parentDepa.nombreDepa }}
              </option>
            </select>
          </div>

          <div class="form-group col-12" [ngClass]="{ 'col-sm-6': currentNivelIndex > 0 }">
            <label class="form-label">{{ depaName }}:</label>
            <select class="custom-select" name="departId" #departId="ngModel"
              [(ngModel)]="presupuesto.departamento.idDepartamento" required [disabled]="autoGenPresupuesto">
              <option *ngFor="let depa of depaList" [value]="depa.idDepartamento">
                {{ depa.nombreDepa }}
              </option>
            </select>
          </div>

          <div class="form-row col-12">
            <div class="form-group col-sm-3 col-md-6 col-xl-3">
              <label class="form-label">{{ labels.presupuesto.anio }}:</label>
              <select class="custom-select" name="anio" #anio="ngModel" [(ngModel)]="presupuesto.anio"
                (ngModelChange)="onYearChange()" [ngClass]="{ 'is-invalid': !anio.valid && anio.touched }" required
                [disabled]="autoGenPresupuesto">
                <option *ngFor="let year of yearList" [value]="year">
                  {{ year }}
                </option>
              </select>
            </div>
            <div class="form-group col-sm-3 col-md-6 col-xl-3">
              <label class="form-label">{{ labels.presupuesto.mes }}:</label>
              <select class="custom-select" name="mes" #mes="ngModel" [(ngModel)]="presupuesto.mes"
                [ngClass]="{ 'is-invalid': !mes.valid && mes.touched }" required [disabled]="autoGenPresupuesto">
                <option *ngFor="let month of monthList" [value]="month.monthCode">
                  {{ month.monthName }}
                </option>
              </select>
              <small *ngIf="!mes.valid && mes.touched" class="invalid-feedback"> {{ labels.messages.req }}</small>
            </div>
            <div class="form-group col-sm-3 col-md-6 col-xl-3">
              <label class="form-label">{{ labels.presupuesto.valor }}:</label>
              <input #inputValor type="number" step="0.10" min="0" class="form-control" name="valor" #valor="ngModel"
                [(ngModel)]="presupuesto.valor" [ngClass]="{ 'is-invalid': !valor.valid && valor.touched }" required>
              <small *ngIf="!valor.valid && valor.touched" class="invalid-feedback"> {{ labels.messages.req }}</small>
            </div>

            <div class="form-group col-sm-3 col-md-6 col-xl-3">
              <label class="form-label">{{ labels.general.state }}:</label>
              <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
                [(ngModel)]="presupuesto.active">
                <option [value]=true>ACTIVO</option>
                <option [value]=false>INACTIVO</option>
              </select>
            </div>
          </div>

          <div class="mb-3 form-row col-12">
            <div class="mt-3 mt-md-0 col-12">
              <div class="card">
                <h6 class="pl-3 card-header">Política de Taxis</h6>
                <div class="card-block row pt-2">
                  <div class="col-sm-6 col-md-12">
                    <strong class="col-10">Laborable</strong>

                    <div class="form-row pt-1 px-3">
                      <div class="form-group col-md-6 col-lg-12 col-xl-6">
                        <fast-time-picker [timeObj]="timeVars[0]" (onTimeChange)="getTimeChanges($event)">
                        </fast-time-picker>
                      </div>
                      <div class="form-group col-md-6 col-lg-12 col-xl-6">
                        <fast-time-picker [timeObj]="timeVars[1]" (onTimeChange)="getTimeChanges($event)">
                        </fast-time-picker>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-12">
                    <strong class="col-10 mb-2">Feriado y Fin de Semana</strong>

                    <div class="form-row pt-1 px-3">
                      <div class="form-group col-md-6 col-lg-12 col-xl-6">
                        <fast-time-picker [timeObj]="timeVars[2]" (onTimeChange)="getTimeChanges($event)">
                        </fast-time-picker>
                      </div>
                      <div class="form-group col-md-6 col-lg-12 col-xl-6">
                        <fast-time-picker [timeObj]="timeVars[3]" (onTimeChange)="getTimeChanges($event)">
                        </fast-time-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row col-sm-8 col-md-12 col-xl-8 d-inherit d-md-none">
            <div class="form-group col-12 mt-2">
              <switch-input-list [title]="'Presupuesto Automático'" [switchIns]="switchIns"
                (selectedInput)="getSelectedSwitchValue($event)"></switch-input-list>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-row">
          <div class="form-row col-md-8 col-xl-6">
            <div class="form-row justify-content-start">
              <div class="col-6">
                <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmPresupuesto.form.valid">
                  <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">
                  <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="col-md-6 col-lg-6 col-xl-5 mt-4 mt-md-0">
        <convenio-detail [convenio]="localConvenio"></convenio-detail>

        <div class="form-row col-12 px-0 mt-3 d-none d-md-block">
          <div class="form-group col-12 mt-2">
            <switch-input-list [title]="'Presupuesto Automático'" [switchIns]="switchIns"
              (selectedInput)="getSelectedSwitchValue($event)"></switch-input-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-end mt-3 pb-2">
    <button type="button" class="btn btn-primary" (click)="openGeneralDetail()">
      <span class="fas fa-list mr-1"></span> Detalle General
    </button>
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{page.totalElements}}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{ labels.presupuesto.filterPlaceHolder }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterPresupuestoList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size" [selected]="selectedRows"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.presupuesto.department}}" prop="departamento.nombreDepa">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.presupuesto.level}}" prop="departamento.nivel.nombre">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.presupuesto.anio}}" prop="anio"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.presupuesto.mes}}" prop="mesDesc"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.presupuesto.valor}}" prop="valor"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>