<!-- Modal -->
<div #modalContainer class="modal fade" tabindex="-1" role="dialog" aria-labelledby="movil-detail-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content pt-2">
      <div class="modal-body py-3 px-4">
        <h5>Detalle de Autorización</h5>

        <div class="card">
          <div class="d-flex justify-content-center">
            <span class="fas fa-list-alt fr-back-icon"></span>
            <ul class="col-12 list-group list-group-flush p-0">
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-info-circle mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.autorizacion }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.autorizacion }}</div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-1">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-user mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.empleado }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.empleado.nomCompleto }}</div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-user-tie mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.autorizador }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.autorizador.nomCompleto }}</div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-user-tie mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.autorizadorBack }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.autorizadorBack.nomCompleto }}</div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-1">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-calendar mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.fechaAutorizacion }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.fechaAutorizacion }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-1">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-clock mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.horaAutorizacion }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.horaAutorizacion }}
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-0">
                <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
                  <div class="p-ilustration">
                    <span class="fas fa-comment-alt mr-1"></span>
                  </div>
                  {{ labels.reports.autorizacionDetail.observacion }}:
                </div>
                <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
                  {{ detalleAutorizacion.observacion }}
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" [attr.data-dismiss]="'modal'">
          <span class="fas fa-check-circle mr-2"></span>Aceptar
        </button>

        <button type="button" class="btn btn-secondary" [attr.data-dismiss]="'modal'">
          <span class="fas fa-file-excel mr-2"></span>Descargar
        </button>
      </div>
    </div>
  </div>
</div>