<h4 class="font-weight-bold py-3">{{ labels.reports.consumoReport.title }}</h4>

<hr class="border-light container-m--x mt-0 my-4">

<div class="demo-vertical-spacing">
  <div class="row">
    <form #frmFilter="ngForm" class="col-12 pt-3" (ngSubmit)="onSubmit()">
      <div class="form-row pb-2">
        <div class="form-group col-sm-6 col-md-6">
          <label class="form-label">{{ labels.reports.consumoReport.empresa }}:</label>
          <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="filter.idEmpresa" (ngModelChange)="onEnterpriseChange()">
            <option *ngFor="let empresa of empresaList" [value]=empresa.id>{{ empresa.nombreEmpresa }}
            </option>
          </select>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label class="form-label">{{ labels.reports.consumoReport.ciudad }}:</label>
          <select class="custom-select" name="ciudad" #ciudad="ngModel" [(ngModel)]="filter.ciudad">
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.key">{{ ciudad.value }}</option>
          </select>
        </div>

        <div class="form-group col-sm-6 col-md-3">
          <label class="form-label">{{ labels.reports.coorpServicesReport.servicio.forma_pago }}:</label>
          <select class="custom-select" name="formaPago" #formaPago="ngModel" [(ngModel)]="filter.formaPago">
            <option *ngFor="let forma of formasPago" [value]=forma.key>{{ forma.value }}</option>
          </select>
        </div>

        <div class="form-group col-sm-6 col-md-4 mb-0">
          <label class="form-label">{{ labels.reports.filter.fechaDesde }}:</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}" name="calenDesde"
                #calenDesde="ngModel" [(ngModel)]="calDesde" ngbDatepicker #d="ngbDatepicker"
                [ngClass]="{ 'is-invalid': calenDesde.touched && !calenDesde.valid }" required />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                  <span class="fas fa-calendar-alt"></span></button>
              </div>
              <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-6 col-md-4 mb-0">
          <label class="form-label">{{ labels.reports.filter.fechaHasta }}:</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}" name="calenHasta"
                #calenHasta="ngModel" [(ngModel)]="calHasta" [ngModelOptions]="{standalone: false}" ngbDatepicker
                #dH="ngbDatepicker" [ngClass]="{ 'is-invalid': calenHasta.touched && !calenHasta.valid }" required />
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="dH.toggle()">
                  <span class="fas fa-calendar-alt"></span></button>
              </div>
              <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-6 col-md-4">
          <label class="form-label">{{ labels.general.state }}:</label>
          <select class="custom-select" name="estado" #estado="ngModel" [(ngModel)]="filter.estado">
            <option *ngFor="let estado of estadosCarrera" [value]="estado.key">{{ estado.value }}
            </option>
          </select>
        </div>
      </div>

      <hr>

      <div class="form-row pb-3">
        <div class="form-row justify-content-start">
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmFilter.form.valid">
              <span class="far fa-paper-plane mr-1"></span>{{ labels.reports.filter.askFor }}
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary" (click)="resetForm(frmFilter)">
              <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="form-row col-12">
      <div class="col-12 mt-3">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="conv-tab" data-toggle="tab" href="#cons" role="tab" aria-controls="cons"
              [attr.aria-selected]="true">
              Consumo Servicio
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane pt-2 active" id="cons" role="tabpanel" aria-labelledby="cons-tab">
          </div>
        </div>
      </div>

      <div #reportViews class="col-12">
        <div *ngFor="let view of reportViewsArray; let i = index"
          class="{{ prefix + i }} fr-carousel {{ view.trasitionClass }} col-12 mt-2">
          <a *ngIf="i > 0" href="#" class="fr-back-btn btn btn-outline-secondary" (click)="goBack($event, i)">
            <span class="fas fa-chevron-left"></span>
          </a>
          <chart-report-view class="form-row" [reportHeader]="reportHeader" [viewIndex]="i" [tableData]="view.tableData"
            [chartData]="view.chartData" (onGraphicItemClick)="getItemId($event)"></chart-report-view>
        </div>
      </div>
    </div>
  </div>
</div>