<div class="card">
  <div class="card-header text-center">
    <h6 class="mb-0 pb-0">Detalle del Convenio</h6>
  </div>
  <div class="d-flex justify-content-center">
    <span class="fas fa-handshake fr-back-icon"></span>
    <ul class="col-12 list-group list-group-flush p-0">
      <li class="list-group-item d-flex justify-content-center align-items-center p-0">
        <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
          <div class="p-ilustration">
            <span class="fas fa-info-circle mr-1"></span>
          </div>
          {{ labels.convenio.codigo }}:
        </div>
        <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
          {{ convenio.codConvenio }}</div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-0">
        <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
          <div class="p-ilustration">
            <span class="fas fa-calendar mr-1"></span>
          </div>
          {{ labels.convenio.fechaSubscrip }}:
        </div>
        <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
          {{ convenio.fechaSuscripcion }}</div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-top-0">
        <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
          <div class="p-ilustration">
            <span class="fas fa-calendar mr-1"></span>
          </div>
          {{ labels.convenio.fechaVenci }}:
        </div>
        <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
          {{ convenio.fechaVencimiento }}</div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center p-0">
        <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
          <div class="p-ilustration">
            <span class="fas fa-exclamation-circle mr-1"></span>
          </div>
          {{ labels.convenio.plazo }}:
        </div>
        <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
          {{ convenio.plazo }} días</div>
      </li>
      <li class="list-group-item d-flex justify-content-center align-items-center p-0 fr-border-bot-1">
        <div class="d-label d-flex justify-content-start align-items-center pl-2 pr-1">
          <div class="p-ilustration">
            <span class="fas fa-share-alt mr-1"></span>
          </div>
          {{ labels.convenio.tipoControl }}:
        </div>
        <div class="d-value fr-f-child-no-auto d-flex justify-content-start align-items-center px-3">
          {{ convenio.tipoControlDesc }}
        </div>
      </li>
    </ul>
  </div>
</div>