<div *ngIf="listType else errorTmp" class="p-border-none card p-0">
  <div *ngIf="title" class="card-header pl-3">
    <h6 class="fr-custom-header mb-0">{{ title }}</h6>
  </div>
  <ul class="list-group list-group-flush pb-0">
    <li *ngFor="let switch of switchIns" class="list-group-item py-2 px-2">
      <switch-input [switchInput]="switch" (onChange)="getSwitchChanges($event)"></switch-input>
    </li>
  </ul>
</div>

<ng-template #errorTmp>
  <div class="alert alert-warning">
    <strong>Alerta!</strong> No se ha especificado el tipo de Lista Switch Input
  </div>
</ng-template>