<button type="button" class="btn btn-sm btn-info" (click)="openHideMenu()">
  <span class="fas fa-bars mr-1"></span>
  Menú
</button>
<div #menuContainer>
  <a href="#" class="fr-cristal-back" (click)="openHideMenu($event, false)"></a>

  <div class="fr-side-menu h-100 d-flex flex-column">
    <div class="fr-menu-body fr-f-scroll-child card w-100">
      <div class="card-header">Menú de Configuración</div>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Niveles</div>
        </li>
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Departamentos</div>
        </li>
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Empresas</div>
        </li>
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Sucursales</div>
        </li>
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Cargos</div>
        </li>
        <li class="list-group-item d-flex" (click)="onClick()">
          <span class="fas fa-stop-circle d-flex justify-content-center align-items-center col-1 px-0"></span>
          <div class="col-11 pl-2">Empleados</div>
        </li>
      </ul>
    </div>
  </div>
</div>