<!-- REF: https://www.abeautifulsite.net/bootstrap-4-switches -->
<div class="form-group mb-0">
  <span class="switch {{ switchInput.customClass }} d-flex align-items-center" [ngClass]="{
    'tiny-switch': switchInput.size == switchSize.tiny,
    'switch-xs': switchInput.size == switchSize.xs,
    'switch-sm': switchInput.size == switchSize.sm,
    'switch-lg': switchInput.size == switchSize.lg
  }">
    <input type="checkbox" class="switch" id="{{ switchInput.id }}" [checked]="switchInput.checked"
      (click)="switchChange($event)" [disabled]="switchInput.disabled">
    <label for="{{ switchInput.id }}" class="mb-0"></label>
    <p class="ml-2 mb-0">{{ switchInput.label }}</p>
  </span>
</div>