<div style="background-color: black; color: white;">
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button style="color: white;" type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ message }}
    <div class="form-row col-md-12 justify-content-md-center">
      <fieldset class="rating">
      <input (click)="changeCalification('5')" type="radio" id="star5" name="rating" value="5" /><label id="lbl1" class = "full" for="star5" title="Excelente - 5 Estrellas"></label>
      <!--<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 Estrellas"></label>-->
      <input (click)="changeCalification('4')" type="radio" id="star4" name="rating" value="4" /><label id="lbl2" class = "full" for="star4" title="Muy Bueno - 4 Estrellas"></label>
      <!--<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 Estrellas"></label>-->
      <input (click)="changeCalification('3')" type="radio" id="star3" name="rating" value="3" /><label id="lbl3" class = "full" for="star3" title="Bueno - 3 Estrellas"></label>
      <!--<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 Estrellas"></label>-->
      <input (click)="changeCalification('2')" type="radio" id="star2" name="rating" value="2" /><label id="lbl4" class = "full" for="star2" title="Regular - 2 Estrellas"></label>
      <!--<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 Estrellas"></label>-->
      <input (click)="changeCalification('1')" type="radio" id="star1" name="rating" value="1" /><label id="lbl5" class = "full" for="star1" title="Malo - 1 Estrella"></label>
      <!--<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 Estrellas"></label>-->
      </fieldset>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
  </div>
</div>
