<div class="row py-3">
  <h4 class="font-weight-bold col-lg-6">{{ labels.characteristics.title }}</h4>

  <div class="col-lg-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">

  <div class="form-row">
    <form [formGroup]="formCharacteristic" class="form-row" novalidate>
      <div class="col-xl-6 pr-xl-2">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0 pb-0">{{ labels.characteristics.subtitle1 }}</h5>
          </div>

          <div class="form-row col-lg-12 mt-2 pl-3 px-1">
            <div class="form-group col-sm-6">
              <label class="form-label">{{ labels.general.company }}:</label>
              <select [disabled]="banCompany" class="custom-select" [(ngModel)]="caracteristica.SGE_Empresa_idEmpresa"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeEmpresa()">
                <option *ngFor="let empresa of empresas" [value]="empresa.id">
                  {{empresa.nombreEmpresa}}
                </option>
              </select>
            </div>

            <div class="form-group col-sm-3">
              <label class="form-label reqlabel">{{ labels.characteristics.codConvenio }}</label>
              <input mask="000000000000000" type="text" formControlName="code" maxlength="15" class="form-control"
                placeholder="{{labels.placeholders.code}}..." [(ngModel)]="caracteristica.codConvenio"
                [ngClass]="{ 'is-invalid': submitedCharacteristic && fc.code.errors }">
              <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
            </div>

            <div class="form-group col-sm-3">
              <label class="form-label">{{ labels.general.state }}:</label>
              <select disabled="{{enableState}}" class="custom-select" [(ngModel)]="caracteristica.estado"
                (ngModelChange)="changeState()" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let estado of estados" [value]="estado.id"
                  [disabled]="estado.id == gv.state.active ? true : false">
                  {{estado.nomSubCatalogo.toUpperCase()}}
                </option>
              </select>
            </div>

            <div class="form-group col-sm-4">
              <label class="form-label reqlabel">{{ labels.characteristics.fecSuscrip }}</label>
              <div class="form-group">
                <div class="input-group">
                  <input formControlName="fecsus" class="form-control" placeholder="{{labels.placeholders.date}}"
                    [(ngModel)]="fechaSuscripcion" (ngModelChange)="onChangeDate($event)" ngbDatepicker
                    #d="ngbDatepicker" [ngClass]="{ 'is-invalid': submitedCharacteristic && fc.fecsus.errors }">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                      <span class="fas fa-calendar-alt"></span></button>
                  </div>
                  <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-4">
              <label class="form-label reqlabel">{{ labels.characteristics.plazo }}:</label>
              <input id="plazoDay" (keyup)='addDays()' mask="00000000000" type="number" formControlName="plaz"
                maxlength="11" class="form-control" placeholder="{{labels.characteristics.plazo}}..."
                [(ngModel)]="caracteristica.plazo"
                [ngClass]="{ 'is-invalid': submitedCharacteristic && fc.plaz.errors }">
              <small class="invalid-feedback">{{ labels.messages.req }}</small>
            </div>

            <div class="form-group col-sm-4">
              <label class="form-label reqlabel">{{ labels.characteristics.fecVenc }}</label>
              <div class="form-group">
                <div class="input-group">
                  <input [minDate]="fechaSuscripcion" formControlName="fecven" class="form-control"
                    placeholder="{{labels.placeholders.date}}" name="dp" [(ngModel)]="fechaVencimiento"
                    (ngModelChange)="onChangeDate($event)" ngbDatepicker #e="ngbDatepicker"
                    ngModelOptions="{standalone: true}"
                    [ngClass]="{ 'is-invalid': submitedCharacteristic && fc.fecven.errors }">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="e.toggle()">
                      <span class="fas fa-calendar-alt"></span></button>
                  </div>
                  <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                </div>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <label class="form-label">{{ labels.characteristics.obs }}</label>
              <textarea maxlength="250" class="form-control" rows="2" id="comment"
                [(ngModel)]="caracteristica.observaciones" ngModelOptions="{standalone: true}"
                [ngModelOptions]="{standalone: true}"
                (keyup)="caracteristica.observaciones = caracteristica.observaciones.toUpperCase()"></textarea>
            </div>
          </div>

          <div class="form-row col-sm-12" style="margin-bottom: 15px;">
            <div class="form-row col-sm-6 mt-2 pl-3 px-1">
              <div class="card" style="width: 100%;">
                <div class="pl-3 card-header">{{ labels.characteristics.ctrlCartera }}</div>
                <div class="card-block row pt-2" style="margin: 10px;">
                  <div class="form-group col-sm-12">
                    <label class="form-label">{{ labels.characteristics.reqCarteraVencida }}:</label>
                    <select class="custom-select" [(ngModel)]="caracteristica.carteravencida"
                            [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let afirmacion of afirmaciones" [value]="afirmacion.id">
                        {{afirmacion.nomSubCatalogo.toUpperCase()}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group col-sm-12">
                    <label class="form-label">{{ labels.characteristics.diasVenciemiento }}:</label>
                    <input type="text" mask="000" maxlength="3" class="form-control"
                           placeholder="{{ labels.characteristics.diasVenciemiento }}..."
                           [(ngModel)]="caracteristica.plazovencimiento" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row col-sm-6 mt-2 pl-3 px-1">
              <div class="card" style="width: 100%;">
                <div class="pl-3 card-header">{{ labels.characteristics.titleAutorizacion }}</div>
                <div class="card-block row pt-2" style="margin: 10px;">
                  <div class="form-group col-sm-12">
                    <label class="form-label">{{ labels.characteristics.reqAutorizacion }}:</label>
                    <select class="custom-select" [(ngModel)]="caracteristica.requiereAutorizacion"
                            [ngModelOptions]="{standalone: true}" (ngModelChange)="changeAutorizacion()">
                      <option *ngFor="let afirmacion of afirmaciones" [value]="afirmacion.id">
                        {{afirmacion.nomSubCatalogo.toUpperCase()}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group col-sm-12">
                    <label class="form-label">{{ labels.characteristics.tmpEsperaAutorizacion }}:</label>
                    <input [disabled]="banAutorizador" type="text" mask="00000000000" maxlength="3" class="form-control"
                           placeholder="{{ labels.characteristics.tmpEsperaAutorizacion }}..."
                           [(ngModel)]="caracteristica.tiempoEspera" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 mt-3 mt-xl-0 pl-xl-2">
        <div class="card" style="height: 100%;">
          <div class="card-header">
            <h5 class="mb-0 pb-0">{{ labels.characteristics.subtitle3 }}</h5>
          </div>

          <div class="card-block row pt-2" style="margin-left: 10px;">
            <div class="col-sm-12" style="margin-top: 5px; margin-bottom: 5px;">
              <div class="form-group col-sm-6 offset-sm-3">
                <label class="form-label">{{ labels.characteristics.msgAlert }}:</label>
                <select class="custom-select" [(ngModel)]="caracteristica.alertaMensaje"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let afirmacion of afirmaciones" [value]="afirmacion.id">
                    {{afirmacion.nomSubCatalogo.toUpperCase()}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-row col-12" style="margin-bottom: 15px;">
              <div class="form-row col-sm-6">
                <div class="form-row col-sm-12 mt-2 pl-3 px-1">
                  <div class="card" style="width: 100%;">
                    <div class="pl-3 card-header">{{ labels.characteristics.politicaTaxi }}</div>
                    <div class="card-block row pt-2" style="margin: 10px;">
                      <div class="form-group col-sm-12">
                        <label class="form-label">{{ labels.characteristics.contHor }}:</label>
                        <select class="custom-select" [(ngModel)]="caracteristica.controlHoras"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="verifyControl()">
                          <option *ngFor="let afirmacion of afirmaciones" [value]="afirmacion.id">
                            {{afirmacion.nomSubCatalogo.toUpperCase()}}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="caracteristica.controlHoras == gv.afirmation.si"  class="col-sm-12">
                        <strong class="col-10">Laborable:</strong>

                        <div class="form-row pt-1 px-3">
                          <div class="form-group col-lg-12">
                            <fast-time-picker [timeObj]="timeVars[0]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                          </div>
                          <div class="form-group col-lg-12">
                            <fast-time-picker [timeObj]="timeVars[1]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="caracteristica.controlHoras == gv.afirmation.si"  class="col-sm-12">
                        <strong class="col-12 mb-2">Feriado y Fin de Semana:</strong>
                        <div class="form-row pt-1 px-3">
                          <div class="form-group col-lg-12">
                            <fast-time-picker [timeObj]="timeVars[2]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                          </div>
                          <div class="form-group col-lg-12">
                            <fast-time-picker [timeObj]="timeVars[3]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row col-sm-6">
                <div class="form-row col-lg-12 mt-2 pl-3 px-1">
                  <div class="card" style="width: 100%;">
                    <div class="pl-3 card-header">{{ labels.convenio.presupuesto }}</div>
                    <div class="card-block row pt-2" style="margin: 10px;">
                      <div class="form-group col-sm-12">
                        <label class="form-label">{{ labels.convenio.tipoControl }}:</label>
                        <switch-input-list [switchIns]="switchIns" (selectedInput)="getSelectedSwitchValue($event)">
                        </switch-input-list>
                      </div>
                      <div class="form-group col-sm-12">
                        <label class="form-label reqlabel">{{ labels.characteristics.percentServ }}:</label>
                        <input type="text" formControlName="dec" maxlength="10" class="form-control"
                               placeholder="{{labels.services.service}}..." [(ngModel)]="caracteristica.porcentajeServicio"
                               [ngClass]="{ 'is-invalid': submitedCharacteristic && fc.dec.errors }">
                        <small *ngIf="formCharacteristic.controls.dec.errors?.required" class="invalid-feedback">
                          {{ labels.messages.req }}</small>
                        <small *ngIf="formCharacteristic.controls.dec.errors?.max"
                               class="invalid-feedback">{{ labels.messages.lowHundred }}</small>
                        <small *ngIf="formCharacteristic.controls.dec.errors?.pattern" class="invalid-feedback">
                          {{ labels.messages.decimal }}</small>
                      </div>

                      <div class="form-group col-sm-12">
                        <label class="form-label reqlabel">{{ labels.characteristics.numServicio }}:</label>
                        <input type="text" mask="00000000000" maxlength="3" class="form-control"
                               placeholder="{{ labels.characteristics.numServicio }}..."
                               [(ngModel)]="caracteristica.numServiciosExtra" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>

  <hr>

  <div class="form-row col-12 my-2">
    <div class="form-row col-md-6">
      <div class="form-row justify-content-start">
        <div class="col-6">
          <button type="button" class="btn btn-primary btn-responsive-lg" (click)="confirmMethod()">
            <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary" (click)="clear()">
            <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-end mt-3 mt-sm-0 pb-2">
    <div class="col-12 col-md-2 col-lg-2">
      <select class="custom-select" [(ngModel)]="estadoBuscar" (change)="updateFilterState()">
        <option value="TODOS">{{labels.general.all}}</option>
        <option *ngFor="let estado of estados" [value]="estado.id">
          {{estado.nomSubCatalogo.toUpperCase()}}
        </option>
      </select>
    </div>
    <div class="col-3 col-md-2 col-lg-1">
      <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size" [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{page.totalElements}}">{{labels.general.totalPage}}</option>
      </select>
    </div>
    <div class="col-9 col-md-5 col-lg-5">
      <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.company}}...'
        (keyup)='updateFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="rows" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selected]="selected" [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements"
      [offset]="page.pageNumber" [limit]="page.size"
      [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelect($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.company}}" prop="empresa.nombreEmpresa"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.nroConvenio}}" prop="codConvenio"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.fecDesde}}" prop="fechaSuscripcion"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.characteristics.plazo}}" prop="plazo"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.fecHasta}}" prop="fechaVencimiento"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase()}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <button [disabled]="inactiveState" [hidden]="viewServices" type="button" class="btn btn-primary"
    [routerLink]="['/admin/services', caracteristica.id, caracteristica.codConvenio,  caracteristica.SGE_Empresa_idEmpresa,  caracteristica.nombreEmpresa]">
    <span class="fas fa-plus-circle mr-1"></span>{{ labels.general.add }} {{ labels.general.services }}</button>
  <!--<button [disabled]="inactiveState" [hidden]="viewServices" type="button" class="btn btn-primary"-->
    <!--(click)="openContacts()">-->
    <!--<span class="fas fa-address-book mr-1"></span>{{ labels.general.contacts }}</button>-->
</div>
