<div class="d-flex align-items-center">
  <label *ngIf="!timeObj.hideLabel">{{ timeObj.label }}:</label>
  <input type="number" min="0" max="23" class="form-control form-control-sm ml-2" [(ngModel)]="timeObj.hours" (ngModelChange)="validateH()"/>
  <span class="px-2">
    :
  </span>
  <input type="number" min="0" max="59" class="form-control form-control-sm" [(ngModel)]="timeObj.minutes" (ngModelChange)="validateM()"/>
</div>