<div #tableContainer>
  <ngx-datatable class="mb-1" [rows]="filterConvenioList" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true" [selectionType]="'single'"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
    [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
    [selected]="selectedRow" (select)='onSelectRow($event)' (page)='setPage($event)'>

    <ngx-datatable-column name="{{labels.general.company}}" prop="empresa.nombreEmpresa" [width]="250"
      [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column name="{{labels.general.nroConvenio}}" prop="id" [width]="100" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="{{labels.general.fecDesde}}" prop="fechaSuscripcion" [width]="100"
      [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column name="{{labels.characteristics.plazo}}" prop="plazo" [width]="70" [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.plazo > 10 ? row.plazo + " días" : row.plazo + " día" }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="{{labels.general.fecHasta}}" prop="fechaVencimiento" [width]="100"
      [canAutoResize]="false"></ngx-datatable-column>
    <ngx-datatable-column name="Política de Horarios" [width]="300" [canAutoResize]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <strong>Días Laborables: </strong> De {{ row.poliTaxiLaborable.desde }} a {{ row.poliTaxiLaborable.hasta }}
        <ng-container *ngIf="row.poliTaxiFeriaFds">
          <br>
          <strong>Fin de Semana y Feriados:</strong> De {{ row.poliTaxiFeriaFds.desde }} a
          {{ row.poliTaxiFeriaFds.hasta }}
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>