mgl-map {
  width: 100%;
  position: absolute;
  height: 100% !important;
}

.layout-container, .layout-content, .layout-content > *, .layout-sideOrder {
  min-height: 1px;
  /*padding: 0px;*/
}

.sideOrder {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
}

.sideOrder a {
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideOrder a:hover {
  color: #f1f1f1;
}

.sideOrder .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.inputMap {
  max-width: 400px;
}

.buttonMap {
  position: absolute;
  z-index: 1;
  width: 41px;
  top: 140px;
  right: 50px;
  background-color: black;
  color: white;
}

.buttonInfo1 {
  position: absolute;
  z-index: 1;
  width: 41px;
  top: 70px;
  left: 8px;
  background: transparent;
  color: #F9B100;
  font-size: 31px;
  padding: 0px;
}

.buttonInfo2 {
  position: absolute;
  z-index: 1;
  width: 41px;
  top: 105px;
  left: 8px;
  background: transparent;
  color: #2b2c78;
  font-size: 31px;
  padding: 0px;
}

.formMap {
  padding: 0px !important;
  position: fixed;
  top: 111px;
  left: 0;
  width: 100%;
  bottom: 20px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: black;
  opacity: 0.8;
  color: #fff;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-control-attribution a {
  text-decoration: none;
  display: none;
}

.unit-style {
  background: black;
  opacity: 0.9;
  z-index: 1000 !important;
  color: #fff;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

@media (max-width: 770px) {
  .sideOrder{
    z-index: 101 !important;
  }
  .inputMap {
    width: 70%;
  }
  .buttonMap {
    position: absolute;
    z-index: 1;
    width: 41px;
    top: 140px;
    right: 50px;
  }
}
