<div class="fr-generic-back-style" [style.background]="_domSanitizer.bypassSecurityTrustStyle('url(/assets/img/servicios-banner.jpg)')"></div>
<div id="mySidenav" class="sideOrder" style="width: 90% !important; max-width: 350px !important; background-image: url(/assets/img/servicios-banner.jpg);">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12"><!-- ES ESTEEE!!-->
        <div class="fr-sign-in-up-container card"  style="width: 100%;">
          <div class="card-body" style="padding: 20px 5px !important;">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            <ngb-tabset type="pills">
              <ngb-tab>
                <ng-template ngbTabTitle><b style="color: white !important;">{{labels.solicitarTaxi.forMe}}</b></ng-template>
                <ng-template ngbTabContent>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-credit-card" style="margin-right: 5px;"></span>{{labels.formasPago.paymentMethod}}:</label>
                    <select [disabled]="carreraPedida" class="custom-select" [(ngModel)]="servicioTrans.formaPago" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let forma of formasPago" [value]="forma.id">
                        {{forma.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                        forma.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                        forma.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                        labels.general.card.toUpperCase() + ' - ' + forma.numtar + ' - ' + forma.tipotar }}
                      </option>
                    </select>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-map-marker-alt" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.originAddress}}:</label>
                    <input maxlength="240" [disabled]="carreraPedida" list="browsers" type="text" class="form-control" placeholder="{{labels.solicitarTaxi.street1}}..." [(ngModel)]="servicioTrans.origen" [ngModelOptions]="{standalone: true}" (change)="blur()" (keyup)="keyUpOrSt1()">
                    <datalist id="browsers">
                      <option *ngFor="let street of arrayOrigen1">
                        {{street.calle1.toUpperCase() + ' Y ' + street.calle2.toUpperCase()}}
                      </option>
                    </datalist>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-map-marker" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.destinationAddress}}:</label>
                    <input maxlength="240" [disabled]="carreraPedida" list="browsers3" type="text" class="form-control" placeholder="{{labels.solicitarTaxi.street2}}..." [(ngModel)]="servicioTrans.destino" [ngModelOptions]="{standalone: true}" (change)="blur()" (keyup)="keyUpOrSt3()">
                    <datalist id="browsers3">
                      <option *ngFor="let street of arrayDestino1">
                        {{street.calle1.toUpperCase() + ' Y ' + street.calle2.toUpperCase()}}
                      </option>
                    </datalist>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-compass" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.reference}}:</label>
                    <input maxlength="250" [disabled]="carreraPedida" type="text" class="form-control" [(ngModel)]="servicioTrans.observacion" [ngModelOptions]="{standalone: true}" placeholder="{{labels.solicitarTaxi.reference}}..." (keyup)="servicioTrans.observacion = servicioTrans.observacion.toUpperCase()">
                  </div>
                  <div class="form-row">
                    <div class="form-row col-6">
                      <label style="padding-left: 25px; padding-top: 5px;"><input [disabled]="carreraPedida" type="checkbox" [(ngModel)]="reservaCheck" [checked]="reservaCheck" [ngModelOptions]="{standalone: true}">{{ labels.solicitarTaxi.reserve }}</label>
                    </div>
                    <div class="form-row col-6">
                      <button style="width: 100%; color: black !important;" [disabled]="carreraPedida" type="button" class="btn btn-primary" (click)="agregarFavorito('1')">
                        <span style="color: black !important;" class="fas fa-plus"></span>Agregar a Favoritos</button>
                    </div>
                  </div>
                  <div class="form-row" *ngIf="reservaCheck" style="height: 70px; padding-top: 20px;">
                    <div class="form-row col-6" style="padding-top: 2px; padding-left: 10px;">
                      <div class="form-group col-8" style="padding: 0px;">
                        <input [minDate]="fechaInicial" [disabled]="carreraPedida" class="form-control" placeholder="{{labels.placeholders.date}}" [(ngModel)]="fechaServicioReserva" [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker">
                      </div>
                      <div class="form-group col-4" style="padding: 0px;">
                        <button [disabled]="carreraPedida" style="border-radius: 5px; height: 38px;" type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                          <span class="fas fa-calendar-alt"></span></button>
                      </div>
                    </div>
                    <div class="form-row col-6" style="top: -30px; padding-left: 25px;"
                    >
                      <ngb-timepicker [(ngModel)]="timeReserva" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                    </div>
                  </div>
                  <div style="padding-top: 20px;">
                    <button style="width: 100%;" [disabled]="carreraPedida" type="button" class="btn btn-secondary" (click)="solicitarTaxi(1)">
                      <span class="fas fa-stop-circle"></span>{{labels.solicitarTaxi.apply}}</button>
                  </div>
                  <!--<button type="button" class="btn btn-primary" (click)="openModal(content)">-->
                    <!--<span class="fas fa-map-marker-alt"></span>{{labels.travels.travel}}</button>-->
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><b style="color: white !important;">{{labels.solicitarTaxi.other}}</b></ng-template>
                <ng-template ngbTabContent>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-credit-card" style="margin-right: 5px;"></span>{{labels.formasPago.paymentMethod}}:</label>
                    <select class="custom-select" [(ngModel)]="servicioTransOtro.formaPago" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let forma of formasPago" [value]="forma.id">
                        {{forma.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                        forma.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                        forma.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                        labels.general.card.toUpperCase() + ' - ' + forma.numtar + ' - ' + forma.tipotar }}
                      </option>
                    </select>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-users" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.selectUser}}:</label>
                    <select class="custom-select" [(ngModel)]="servicioTransOtro.idUsrAsociado" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let asociado of asociados" [value]="asociado.usuarioAsociado.id">
                        {{asociado.usuarioAsociado.firstName + ' ' + asociado.usuarioAsociado.lastName}}
                      </option>
                    </select>
                  </div>
                  <!--<div style="margin-bottom: 15px;">-->
                  <!--<label class="form-label">-->
                  <!--<span class="fas fa-phone" style="margin-right: 5px;"></span>{{labels.general.cellPhone}}:</label>-->
                  <!--<input type="text" class="form-control" placeholder="{{labels.general.cellPhone}}...">-->
                  <!--</div>-->
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-map-marker-alt" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.originAddress}}:</label>
                    <input maxlength="240" list="browsers1.1" type="text" class="form-control" placeholder="{{labels.solicitarTaxi.street1}}..." [(ngModel)]="servicioTransOtro.origen" [ngModelOptions]="{standalone: true}" (change)="blur()" (keyup)="keyUpOrSt1Otr()">
                    <datalist id="browsers1.1">
                      <option *ngFor="let street of arrayOrigen1">
                        {{street.calle1.toUpperCase() + ' Y ' + street.calle2.toUpperCase()}}
                      </option>
                    </datalist>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-map-marker" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.destinationAddress}}:</label>
                    <input maxlength="240" list="browsers3.1" type="text" class="form-control" placeholder="{{labels.solicitarTaxi.street2}}..." [(ngModel)]="servicioTransOtro.destino" [ngModelOptions]="{standalone: true}" (change)="blur()" (keyup)="keyUpOrSt3Otr()">
                    <datalist id="browsers3.1">
                      <option *ngFor="let street of arrayDestino1">
                        {{street.calle1.toUpperCase() + ' Y ' + street.calle2.toUpperCase()}}
                      </option>
                    </datalist>
                  </div>
                  <div style="margin-bottom: 15px;">
                    <label class="form-label">
                      <span class="fas fa-compass" style="margin-right: 5px;"></span>{{labels.solicitarTaxi.reference}}:</label>
                    <input maxlength="250" type="text" class="form-control" [(ngModel)]="servicioTransOtro.observacion" [ngModelOptions]="{standalone: true}" placeholder="{{labels.solicitarTaxi.reference}}..." (keyup)="servicioTransOtro.observacion = servicioTransOtro.observacion.toUpperCase()">
                  </div>
                  <div>
                    <label><input type="checkbox" [(ngModel)]="reservaCheck" [checked]="reservaCheck" [ngModelOptions]="{standalone: true}">{{ labels.solicitarTaxi.reserve }}</label>
                  </div>
                  <div class="form-row" *ngIf="reservaCheck" style="height: 70px;">
                    <div class="form-row col-6" style="padding-top: 2px; padding-left: 10px;">
                      <div class="form-group col-8" style="padding: 0px;">
                        <input [minDate]="fechaInicial" class="form-control" placeholder="{{labels.placeholders.date}}" [(ngModel)]="fechaServicioReserva" [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker">
                      </div>
                      <div class="form-group col-4" style="padding: 0px;">
                        <button style="border-radius: 5px; height: 38px;" type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                          <span class="fas fa-calendar-alt"></span></button>
                      </div>
                    </div>
                    <div class="form-row col-6" style="top: -30px; padding-left: 5px;"
                    >
                      <ngb-timepicker [(ngModel)]="timeReserva" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                    </div>
                  </div>
                  <button style="width: 100%;" type="button" class="btn btn-secondary" (click)="solicitarTaxi(0)">
                    <span class="fas fa-stop-circle"></span>{{labels.solicitarTaxi.apply}}</button>
                  <!--<button type="button" class="btn btn-primary" (click)="openModal(content)">-->
                    <!--<span class="fas fa-map-marker-alt"></span>{{labels.travels.travel}}</button>-->
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <div>
    <div>
      <ng-template #contentformas let-modal>
        <div class="modal-header" style="background-color: black;">
          <h4 class="modal-title" id="modal-basic-title" style="color: white;">FORMAS DE PAGO</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModalFormas()">
            <span aria-hidden="true" style="color: white;">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: black;">
          <form>
            <ul>
              <li *ngFor="let forma of formasPago" style="color: black; padding: 5px;">
                <div class="row" (click)="getValueForma(forma.id)">
                  <div class="col-1">
                    <input style="margin: 5px !important; transform: scale(2) !important;" type="radio" name="formas" (click)="getValueForma(forma.id)"
                           [checked]="forma.id == servicioTrans.formaPago"
                           value= {{forma.id}}>
                  </div>
                  <div class="col-8">
                    <p style="color: white;">{{forma.formapago == gv.formasPago.efectivo ? labels.general.cash.toUpperCase() :
                      forma.formapago == gv.formasPago.voucherElectronico ? labels.general.vouElectronic.toUpperCase() :
                      forma.formapago == gv.formasPago.voucherManual ? labels.general.vouManual.toUpperCase() :
                      labels.general.card.toUpperCase() + ' - ' + forma.numtar + ' - ' + forma.tipotar }}</p>
                  </div>
                </div>
              </li>
            </ul>
          <hr style="color: white; border-width: 2px; background-color: white;">
            <button class="btn btn-primary" (click)="closeModalFormas()">CANCELAR</button>
            <button class="btn btn-secondary" (click)="solicitarTaxi(1)">ACEPTAR</button>
          </form>
        </div>
      </ng-template>
    </div>
    <div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">FAVORITOS</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--<div class="form-row">-->
              <!--<div class="form-row col-sm-12">-->
                <!--<label class="form-label">-->
                  <!--<span class="fas fa-map-marker-alt" style="margin-right: 5px;"></span>Origen:</label>-->
                <!--<input disabled="true" maxlength="250" type="text" class="form-control" [(ngModel)]="servicioTransOtro.observacion" [ngModelOptions]="{standalone: true}" placeholder="Origen..." (keyup)="servicioTransOtro.observacion = servicioTransOtro.observacion.toUpperCase()">-->
              <!--</div>-->
              <!--<div class="form-row col-sm-12">-->
                <!--<label class="form-label">-->
                  <!--<span class="fas fa-map-marker" style="margin-right: 5px;"></span>Destino:</label>-->
                <!--<input disabled="true" maxlength="250" type="text" class="form-control" [(ngModel)]="servicioTransOtro.observacion" [ngModelOptions]="{standalone: true}" placeholder="Destino..." (keyup)="servicioTransOtro.observacion = servicioTransOtro.observacion.toUpperCase()">-->
              <!--</div>-->
            <!--</div>-->
            <!--<br>-->
            <div>
              <ngx-datatable #table style="min-width: 470px;"
                             [rows]="rows"
                             [loadingIndicator]="loadingIndicator"
                             [columnMode]="'force'"
                             [headerHeight]="43"
                             [footerHeight]="'auto'"
                             [rowHeight]="'auto'"
                             [reorderable]="true"
                             [selected]="selected"
                             [selectionType]="'single'"
                             [externalPaging]="true"
                             [count]="page.totalElements"
                             [offset]="page.pageNumber"
                             [limit]="page.size"
                             [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                             (select)='onSelect($event)'>
                <ngx-datatable-column name="">
                  <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div style="text-align: center;">
                      <input id="che{{rowIndex}}" type="checkbox" class="btn btn-secondary btn-responsive-lg" (change)="checkElement($event, row, rowIndex)"/>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Cod." prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Origen"  prop="origen" [width]="200"></ngx-datatable-column>
                <ngx-datatable-column name="Destino" prop="destino" [width]="200"></ngx-datatable-column>
                <ngx-datatable-column name="Acción">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button style="width: 100%; color: black !important;" [disabled]="carreraPedida" type="button" class="btn btn-primary" (click)="deleteFavorito($event, row, rowIndex)">
                      <span style="color: black !important;" class="fas fa-trash-alt"></span></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
    <form class="formMap">
      <div class="form-row" style="padding: 0px !important; height: 100%;">
        <div class="form-group col-md-12" style="padding: 0px !important; top: -15px;">
          <div *ngIf="unidadAsignada  && banBtnInf2" class="unit-style" id="container" style="position: absolute;
                z-index: 1;
                bottom: 5px;
                width: 400px;
                left: 10px;" (click)="banBtnInf2 = !banBtnInf2">
            <form style="padding: 10px;">
              <label style="padding-bottom: 5px; color: #F9B100; font-size: 13px; font-weight: bold;">UNIDAD - FASTLINE</label>
              <br>
              <div class="row">
                <div class="col-4">
                  <img [src]="imagePath" style="width: 100px; height: 100px; border-radius: 50%; margin: 10px;">
                </div>
                <div class="col-8">
                  <label>Unidad: {{unidad.codigounidad}}</label>
                  <br>
                  <label>Conductor: {{unidad.nombreChofer}}</label>
                  <br>
                  <label>Cel. Conductor: {{unidad.celularChofer}}</label>
                  <br>
                  <label>{{unidad.placa}} - {{unidad.marca}} - {{unidad.modelo}} - {{unidad.color}}</label>
                </div>
              </div>
            </form>
          </div>
          <div *ngIf="banviewemployee && banBtnInf1" class="unit-style" style="position: absolute;
                z-index: 1;
                    top: 55px;
                    width: 300px;
                    left: 55px;" (click)="banBtnInf1 = !banBtnInf1">
            <form style="padding: 10px;">
              <label style="padding-bottom: 5px; color: #2D2E7E; font-size: 13px; font-weight: bold;">FASTLINE</label>
              <br>
              <label>Empresa: {{empleado.empresa.nombreEmpresa}}</label>
              <br>
              <label>Codigo: {{empleado.codEmpleado}}</label>
              <br>
              <label>Empleado: {{empleado.nomCompleto.toUpperCase()}}</label>
              <br>
              <label>Sucursal: {{empleado.nomsucursal}}</label>
              <br>
              <label *ngIf="banArea">Departamento: {{empleado.nomarea}}</label>
            </form>
          </div>
          <button style="position: absolute;
                z-index: 1;
                bottom: 25px;
                width: 200px;
                right: 10px;" type="button" class="btn btn-primary" (click)="openModalFormas(contentformas, 1)" *ngIf="!carreraPedida" [disabled]="carreraPedida">
            <span class="fas fa-stop-circle"></span>{{labels.solicitarTaxi.apply}}</button>
          <button [disabled]="!carreraPedida" style="position: absolute;
                z-index: 1;
                bottom: 75px;
                width: 200px;
                right: 10px;" type="button" class="btn btn-secondary" (click)="cancelTravel()" [disabled]="banCancelTravel" *ngIf="!banCancelTravel">
            <span class="fas fa-map-marker-alt"></span>Cancelar Viaje</button>
          <button style="position: absolute;
                z-index: 1;
                bottom: 125px;
                width: 200px;
                background-color: black;
                color: white;
                right: 10px;" type="button" class="btn" (click)="solicitarPin()" *ngIf="banSolicitarPin && carreraPedida">
            <span class="fas fa-sort-numeric-down"></span>Solicitar PIN</button>
          <input maxlength="240" *ngIf="!carreraPedida" [disabled]="carreraPedida" style="
                font-size: 15px;
                padding: 5px 10px;
                position: absolute;
                z-index: 1;
                top: 12px;
                left: 92px;" list="browsersMap" type="text" class="form-control inputMap" placeholder="{{labels.solicitarTaxi.street1}}..." [(ngModel)]="servicioTrans.origen" [ngModelOptions]="{standalone: true}" (change)="blurMap()" (keyup)="keyUpOrSt1()">
          <datalist id="browsersMap">
            <option *ngFor="let street of arrayOrigen1">
              {{street.calle1.toUpperCase() + ' Y ' + street.calle2.toUpperCase()}}
            </option>
          </datalist>
          <button type="button" class="btn btn-primary"
                style="
                font-size: 15px;
                padding: 7px 10px;
                position: absolute;
                z-index: 1;
                top: 12px;
                left: 55px;" (click)="openNav()">
            <span class="fas fa-bars"></span>
          </button>
          <!--<button type="button" class="btn buttonMap" (click)="agregarFavorito()">-->
            <!--<span class="fas fa-plus"></span>-->
          <!--</button>-->
          <button *ngIf="banviewemployee" type="button" class="btn buttonInfo1" (click)="banBtnInf1 = !banBtnInf1">
            <span class="fas fa-user-tag"></span>
          </button>
          <button *ngIf="unidadAsignada" type="button" class="btn buttonInfo2" (click)="banBtnInf2 = !banBtnInf2">
            <span class="fas fa-id-card"></span>
          </button>
          <button type="button" class="btn btn-secondary"
                  style="position: absolute;
                  z-index: 1;
                  top: 60px;
                  width: 41px;
                  right: 50px;" (click)="centerLocation()" [disabled]="carreraPedida" *ngIf="!carreraPedida">
            <span class="fas fa-compass"></span></button>
          <button type="button" class="btn btn-primary"
                  style="position: absolute;
                  z-index: 1;
                  width: 41px;
                  top: 100px;
                  right: 50px;" (click)="openModal(content, true)" [disabled]="carreraPedida" *ngIf="!carreraPedida">
            <span class="far fa-star"></span></button>
          <!--<button type="button" class="btn"-->
                  <!--style="position: absolute;-->
                  <!--z-index: 1;-->
                  <!--width: 41px;-->
                  <!--top: 140px;-->
                  <!--background-color: black;-->
                  <!--color: white;-->
                  <!--right: 50px;" (click)="openReservas(content)" [disabled]="carreraPedida">-->
            <!--<span class="fas fa-car"></span></button>-->
          <div class="card" style="width: 100%; height: 100%; z-index: 0; position: inherit !important;">
            <div class="card-body" style="padding: 0px;">
              <img *ngIf="!carreraPedida" src="assets/img/compass.png" style="
              z-index: 901;
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -58px;
              margin-left: -18px;
              width: 44px;
              height: 44px;
              -webkit-filter: drop-shadow(2px 2px 2px #222);
              filter: drop-shadow(2px 2px 2px #222);">
              <div class="w-100 h-100 p-3" id="mapid" style="width: 100%; height: 100%; position: absolute !important;"></div>
              <!--<map-box></map-box>-->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
