<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">Atributos Dinámicos para Empleados</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row">
    <div class="col-md-5">

      <form #frmDynaParams="ngForm" class="col-md-12" (ngSubmit)="onSubmit()">
        <div class="form-row">

          <div class="form-row col-12">
            <div class="form-group col-md-6">
              <label class="form-label">{{ labels.general.company }}:</label>
              <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
                (ngModelChange)="onChangeEmpresa()">
                <option *ngFor="let empresa of empresaList" [value]="empresa.id">
                  {{ empresa.nombreEmpresa }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label">Etiqueta:</label>
              <input type="text" name="etiqueta" #etiqueta="ngModel" [(ngModel)]="dynaParam.etiqueta" maxlength="50"
                class="form-control" [ngClass]="{ 'is-invalid': etiqueta.touched && !etiqueta.valid }" required>
              <small class="invalid-feedback">{{ labels.messages.req }}</small>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label">Tipo Dato:</label>
              <select class="custom-select" name="idTipoDato" #idTipoDato="ngModel" [(ngModel)]="dynaParam.idTipoDato"
                (ngModelChange)="onTipoChange()" required>
                <option *ngFor="let tipo of tiposDatoList" [value]="tipo.id">
                  {{ tipo.nomSubCatalogo }}
                </option>
              </select>
            </div>

            <div *ngIf="dynaParam.idTipoDato == gv.tiposDatoCatalogo" class="form-group col-md-6">
              <label class="form-label">Catálogo:</label>
              <select class="custom-select" name="idCatalogo" #idCatalogo="ngModel" [(ngModel)]="dynaParam.idCatalogo"
                (ngModelChange)="onCatalogoChange()" required>
                <option *ngFor="let cat of catalogosUsuarioList" [value]="cat.id">
                  {{ cat.nomCatalogo }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label class="form-label">{{ labels.general.state }}:</label>
              <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
                [(ngModel)]="dynaParam.activo">
                <option [value]=true>ACTIVO</option>
                <option [value]=false>INACTIVO</option>
              </select>
            </div>

            <div class="form-group col-6 d-flex align-items-end">
              <switch-input-list [switchIns]="switchIns" (selectedInput)="getSelectedSwitchValue($event)">
              </switch-input-list>
            </div>
          </div>
        </div>

        <hr>

        <div class="form-row justify-content-start">
          <div class="form-row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmDynaParams.form.valid">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <br>

    <div class="col-md-7">

      <div class="row justify-content-end mt-3 mt-sm-0 pb-2">
        <button *ngIf="!saveEdit" type="button" class="btn btn-danger mb-0 mr-2" (click)="onParamDelete()">
          <span class="fas fa-ban"></span>
        </button>
        <div class="col-3 col-sm-2">
          <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
            [ngModelOptions]="{standalone: true}">
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
          </select>
        </div>
        <div class="col-9 col-sm-6">
          <input class="form-control" type='text' placeholder='Buscar por Etiqueta' (keyup)='onTableFilter($event)'>
        </div>
      </div>

      <div class="table-responsive">
        <ngx-datatable #table style="min-width: 500px" [rows]="filterDynaParamList"
          [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'"
          [rowHeight]="'auto'" [reorderable]="true" [selectionType]="'single'" [externalPaging]="true"
          [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
          [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
          (select)='onSelectRow($event)' (page)='setPage($event)'>
          <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
          </ngx-datatable-column>
          <ngx-datatable-column name="Etiqueta" prop="etiqueta"></ngx-datatable-column>
          <ngx-datatable-column name="Tipo" prop="tipoDato"></ngx-datatable-column>
          <ngx-datatable-column name="Catálogo" prop="catalogo"></ngx-datatable-column>
          <ngx-datatable-column name="obligatorio">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.obligatorio ? 'Obligatorio' : 'No Obligatorio' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{labels.general.state}}">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.activo ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
