<h4 class="font-weight-bold py-3 mb-4">{{ labels.reports.title }}</h4>
<hr class="border-light container-m--x mt-0 mb-4">

<form #frmReportes="ngForm">
    <div class="form-row">
        <div class="form-group col-sm-6 col-md-3">
            <label class="form-label">{{ labels.general.company }}:</label>
            <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEmpresaId"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let empresa of empresaList" [value]="empresa.id">
                    {{ empresa.nombreEmpresa }}
                </option>
            </select>
        </div>
    </div>
</form>
<iframe width="933" height="700"
    src="https://app.powerbi.com/view?r=eyJrIjoiM2RhYzY5MjgtMGMwNi00ZDJhLTljMDAtN2ZmMjliNDIxY2M3IiwidCI6IjgyYTI1OTFjLWM2NGYtNDcyNi1iZDk0LTgwYzMyZTYyNjI2NyIsImMiOjR9"
    frameborder="0" allowFullScreen="true" style="width:100%"></iframe>

<!--iframe width="933" height="700"
    src="https://app.powerbi.com/view?r=eyJrIjoiYTBkNTE1YjMtNmE2ZS00YWNlLThjNTEtMWU3NGFkNDZhMjllIiwidCI6IjgyYTI1OTFjLWM2NGYtNDcyNi1iZDk0LTgwYzMyZTYyNjI2NyIsImMiOjR9"
    frameborder="0" allowFullScreen="true" style="width:100%"></iframe-->
