<div class="d-sm-none">
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <a *ngFor="let nav of navBtnList" [routerLink]="[nav.url]" class="btn"
      [ngClass]="{ 'btn-secondary': nav.selected, 'btn-light': !nav.selected }">{{ nav.label }}</a>
  </div>
</div>

<div class="d-none d-sm-block d-md-none">
  <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
    <a *ngFor="let nav of navBtnList" [routerLink]="[nav.url]" class="btn"
      [ngClass]="{ 'btn-secondary': nav.selected, 'btn-light': !nav.selected }">{{ nav.label }}</a>
  </div>
</div>

<div class="d-none d-md-block">
  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <a *ngFor="let nav of navBtnList" [routerLink]="[nav.url]" class="btn"
      [ngClass]="{ 'btn-secondary': nav.selected, 'btn-light': !nav.selected }">{{ nav.label }}</a>
  </div>
</div>