<div #tableContainer1>
  <ngx-datatable class="mb-1" [rows]="filterEmpleadoList" [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
    [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements"
    [offset]="page.pageNumber" [limit]="page.size"
    [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
    [selected]="selectedRow" (select)='onEmployeeSelectRow($event)' (page)='setEmployeePage($event)'>

    <ngx-datatable-column name="Empleado" prop="nomCompleto" [width]="220" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="Identificación" prop="identificacion" [width]="100" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="Celular" prop="telefonoCelular" [width]="100" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="Correo" prop="correo" [width]="200" [canAutoResize]="false">
    </ngx-datatable-column>
    <ngx-datatable-column name="Cargo" prop="cargo.nombre" [width]="180" [canAutoResize]="false">
    </ngx-datatable-column>
  </ngx-datatable>
</div>