<canvas id="dynaCanvas" class="d-none"></canvas>

<h4 class="font-weight-bold py-3">{{ labels.reports.coorpServicesReport.subtitle }}</h4>

<menu-consulta *ngIf="filter.idEmpresa" [serviceColumns]="serviceColumns" [employeeColumns]="employeeColumns"
    [dynaEmpColumns]="dynaEmpColumns" (onColumSelectionChange)="noticeColumnChanges($event)">
</menu-consulta>

<hr class="border-light container-m--x mt-0 my-4">

<div class="demo-vertical-spacing">
    <div class="row">
        <form #frmFilter="ngForm" class="card col-12 pt-3" (ngSubmit)="onSubmit()">
            <div class="form-row pb-2">
                <div class="form-row col-12">
                    <div class="form-group col-sm-6 col-md-3">
                        <label class="form-label">{{ labels.general.company }}:</label>
                        <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="filter.idEmpresa"
                            (ngModelChange)="onEmpresaChange()">
                            <option *ngFor="let empresa of empresaList" [value]=empresa.id>{{ empresa.nombreEmpresa }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-3">
                        <label class="form-label">{{ labels.reports.coorpServicesReport.empleado.sucursal }}:</label>
                        <select class="custom-select" name="sucursal" #sucursal="ngModel"
                            [(ngModel)]="filter.idSucursal">
                            <option *ngFor="let sucursal of sucursalList" [value]=sucursal.id>{{ sucursal.nomSucursal }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-3">
                        <label class="form-label">{{ labels.reports.coorpServicesReport.empleado.nivel }}:</label>
                        <select class="custom-select" name="nivel" #nivel="ngModel" [(ngModel)]="filter.idNivel"
                            (ngModelChange)="onNivelChange()">
                            <option *ngFor="let nivel of nivelesList" [value]="nivel.id">
                                {{ nivel.nombre }}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-3">
                        <label class="form-label">{{ depaName }}:</label>
                        <select class="custom-select" name="idDepa" #idDepa="ngModel"
                            [(ngModel)]="filter.idDepartamento" [disabled]="!depaList">
                            <option *ngFor="let depa of depaList" [value]="depa.idDepartamento">{{ depa.nombreDepa }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-row col-md-6 pr-md-2">
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2 mb-1 mb-lg-2">
                        <label class="form-label">{{ labels.reports.filter.fechaDesde }}:</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}"
                                    (ngModelChange)="onFechaDesdeChange($event)" name="calenDesde" #calenDesde="ngModel"
                                    [(ngModel)]="calDesde" ngbDatepicker #d="ngbDatepicker"
                                    [ngClass]="{ 'is-invalid': calenDesde.touched && !calenDesde.valid }" required />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-responsive-lg"
                                        (click)="d.toggle()">
                                        <span class="fas fa-calendar-alt"></span></button>
                                </div>
                                <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 pl-md-1 pl-lg-2">
                        <label class="form-label">{{ labels.general.state }}:</label>
                        <select class="custom-select" name="estado" #estado="ngModel" [(ngModel)]="filter.estado">
                            <option *ngFor="let estado of estadosCarrera" [value]="estado.key">{{ estado.value }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2 mb-1 mb-lg-2">
                        <label class="form-label">{{ labels.reports.filter.fechaHasta }}:</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}"
                                    (ngModelChange)="onFechaHastaChange($event)" name="calenHasta" #calenHasta="ngModel"
                                    [(ngModel)]="calHasta" [ngModelOptions]="{standalone: false}" ngbDatepicker
                                    #dH="ngbDatepicker"
                                    [ngClass]="{ 'is-invalid': calenHasta.touched && !calenHasta.valid }" required />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-responsive-lg"
                                        (click)="dH.toggle()">
                                        <span class="fas fa-calendar-alt"></span></button>
                                </div>
                                <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 pl-md-1 pl-lg-2">
                        <label class="form-label">{{ labels.reports.coorpServicesReport.servicio.forma_pago }}:</label>
                        <select class="custom-select" name="formaPago" #formaPago="ngModel"
                            [(ngModel)]="filter.formaPago">
                            <option *ngFor="let forma of formasPago" [value]=forma.key>{{ forma.value }}</option>
                        </select>
                    </div>
                    <div class="form-row col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2">
                        <div class="form-group col-md-12">
                            <fast-time-picker [timeObj]="timeVars[0]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                        </div>
                        <div class="form-group col-md-12">
                            <fast-time-picker [timeObj]="timeVars[1]" (onTimeChange)="getTimeChanges($event)">
                            </fast-time-picker>
                        </div>
                    </div>
                    <div
                        class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 ml-sm-2 pl-md-1 pt-lg-1 ml-md-0 pl-lg-2 ml-lg-2">
                        <label class="form-label">{{ labels.reports.coorpServicesReport.servicio.ciudad }}:</label>
                        <select class="custom-select" name="ciudad" #ciudad="ngModel" [(ngModel)]="filter.ciudad">
                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.key">{{ ciudad.value }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row col-md-6 mt-3 mt-md-0 pl-md-2">
                    <div class="form-row col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2 mb-3 mb-lg-0">
                        <!-- PARA MOSTRAR LOS DATOS DEL EMPLEADO -->
                        <seach-employee class="col-12 pr-0" [enterpriseId]="filter.idEmpresa"
                            [sucId]="filter.idSucursal" [class]="'fr-full-width'"
                            (onDataFilter)="getFilteredData($event)">
                        </seach-employee>
                    </div>
                    <div
                        class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 pl-md-1 pl-lg-2 ml-sm-2 ml-md-0 ml-lg-2 mb-lg-0">
                        <label class="form-label">{{ labels.employees.employee }}:</label>
                        <input type="text" class="form-control" name="nomCompleto" #nomCompleto="ngModel"
                            [(ngModel)]="filteredEmpleado.nomCompleto" readonly="readonly" />
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2 mb-lg-0">
                        <label class="form-label">{{ labels.employees.codeShort }}:</label>
                        <input type="text" class="form-control" name="codEmpleado" #codEmpleado="ngModel"
                            [(ngModel)]="filteredEmpleado.codEmpleado" readonly="readonly" />
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 pl-md-1 pl-lg-2 mb-lg-0">
                        <label class="form-label">{{ labels.general.cellPhoneShort }}:</label>
                        <input type="text" class="form-control" name="telefonoCelular" #telefonoCelular="ngModel"
                            [(ngModel)]="filteredEmpleado.telefonoCelular" readonly="readonly" />
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pr-sm-2 pr-md-1 pr-lg-2 mb-lg-0">
                        <label class="form-label">{{ labels.general.mailShort }}:</label>
                        <input type="text" class="form-control" name="correo" #correo="ngModel"
                            [(ngModel)]="filteredEmpleado.correo" readonly="readonly" />
                    </div>
                    <div class="form-group col-sm-6 col-md-12 col-lg-6 pl-sm-2 pl-md-1 pl-lg-2 mb-lg-0">
                        <label class="form-label">{{ labels.employees.cargo }}:</label>
                        <input type="text" class="form-control" name="cargo" #cargo="ngModel"
                            [(ngModel)]="filteredEmpleado.cargo.nombre" readonly="readonly" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-row pb-3">
                <div class="form-row justify-content-start">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-responsive-lg"
                            [disabled]="!frmFilter.form.valid">
                            <span class="far fa-paper-plane mr-1"></span>{{ labels.reports.filter.askFor }}
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-secondary" (click)="resetForm(frmFilter)">
                            <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-4 row justify-content-center justify-content-md-end pb-2">
        <button *ngIf="reportList && reportList.length > 0" class="btn btn-success" (click)="exportToXls()">
            <span class="fas fa-file-excel"></span>
            Exportar XLS
        </button>
        <div class="dropdown ml-2">
            <button *ngIf="showOptions" class="btn btn-secondary dropdown-toggle py-2" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
                <span class="fas fa-caret-down ml-2"></span>
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" (click)="showDetailModal()">Ver Detalle Recorrido</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" (click)="showAutorizacionDetail()">Ver Detalle de
                    Autorización</button>
            </div>
        </div>
        <!--button class="btn btn-danger ml-2 mr-3" (click)="exportToPdf()">
            <span class="fas fa-file-pdf"></span>
            Exportar PDF
        </button-->
        <div class="col-3 col-sm-2 col-lg-1 mt-2 mt-md-0">
            <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
                [ngModelOptions]="{standalone: true}">
                <option selected value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="col-9 col-sm-6 col-md-4 mt-2 mt-md-0">
            <input class="form-control" type='text'
                placeholder='{{ labels.reports.coorpServicesReport.empleado.nomCompleto }}'
                (keyup)='onTableFilter($event)'>
        </div>
    </div>

    <div #tableContainer>
        <ngx-datatable *ngIf="queryCols" #table [rows]="filterReportList" [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
            [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
            [limit]="page.size"
            [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
            (select)='onSelectRow($event)' (page)='setPage($event)'>

            <ng-container *ngFor="let col of queryCols">
                <ngx-datatable-column *ngIf="col.checked" [width]="155" [canAutoResize]="false" name="{{ col.column }}"
                    prop="{{ col.property }}">
                </ngx-datatable-column>
            </ng-container>
        </ngx-datatable>
    </div>
</div>

<movil-detail [showDetail]="showDetail" [numAutorizacion]="numAutorizacion"></movil-detail>
<autorizacion-detail [showDetail]="showAutoriDetail" [numAutorizacion]="numAutorizacion"></autorizacion-detail>