<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.cargo.subtitle }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row">

    <div class="d-flex flex-column align-items-center col-md-4 col-lg-3 col-xl-2">
      <nivel class="col-12 p-0" [empresaId]="mainEnterpriseId" [nivelesList]="nivelesList" [showEditableControls]="false"
        (nivelClickedIndex)="onNivelClick($event)"></nivel>
    </div>

    <form #frmCargo="ngForm" class="col-md-8 col-lg-9 col-xl-10 pt-3 pt-md-0" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">{{ labels.general.company }}:</label>
          <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
            (ngModelChange)="onChangeEmpresa()">
            <option *ngFor="let empresa of empresaList" [value]="empresa.id">
              {{ empresa.nombreEmpresa }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label class="form-label">{{ depaName }}:</label>
          <select class="custom-select" name="departId" #departId="ngModel"
            [(ngModel)]="cargo.departamento.idDepartamento" (ngModelChange)="onChangeDepa()">
            <option *ngFor="let depa of depaList" [value]="depa.idDepartamento">
              {{ depa.nombreDepa }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{ labels.cargo.code }}:</label>
          <input type="text" maxlength="4" class="form-control" name="codCargo" #codCargo="ngModel"
            [(ngModel)]="cargo.codCargo" [ngClass]="{ 'is-invalid': !codCargo.valid && codCargo.touched }" required
            pattern="[a-zA-Z|0-9]+" (keyup)="cargo.codCargo = cargo.codCargo.toUpperCase()">
          <small *ngIf="!codCargo.valid && codCargo.touched" class="invalid-feedback"> {{
            labels.messages.req }}</small>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{ labels.cargo.name }}:</label>
          <input type="text" maxlength="200" class="form-control" name="nombre" #nombre="ngModel"
            [(ngModel)]="cargo.nombre" [ngClass]="{ 'is-invalid': !nombre.valid && nombre.touched }" required
            (keyup)="cargo.nombre = cargo.nombre.toUpperCase()">
          <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback"> {{ labels.messages.req }}</small>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">{{ labels.general.state }}:</label>
          <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
            [(ngModel)]="cargo.active">
            <option [value]=true>ACTIVO</option>
            <option [value]=false>INACTIVO</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="form-row">
        <div class="form-row col-md-8 col-xl-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmCargo.form.valid">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <br>

  <div class="row justify-content-end mt-3 pb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{ labels.cargo.filterPlaceHolder }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterCargoList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.cargo.code}}" prop="codCargo"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.name}}" prop="nombre"></ngx-datatable-column>
      <ngx-datatable-column name="Departamento" prop="departamento.nombreDepa"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>