<div #autoComplete class="fr-position-relative col-5 pl-0 mb-4">
  <label class="form-label">
    <span class="fas fa-search mr-2"></span>{{ labels.asociados.userFilterLabel }}</label>
  <input list="users" type="text" class="fr-input-auto-complete form-control" [(ngModel)]="filterPattern"
    [ngModelOptions]="{standalone: true}" (keyup)="onFilteringUser()" (blur)="showHideOptions()" placeholder="{{labels.asociados.userFilterPlaceholder}}">
  <div class="fr-auto-complete card">
    <ul class="list-group list-group-flush pb-0">
      <li *ngFor="let user of filteredUsers; let i = index" class="list-group-item d-flex flex-column justify-content-between align-items-center p-0">
        <a href="#" class="fr-primary-text-color px-3 py-2" (click)="onOptionClick($event, i)">
          <div class="fr-primary-text-color">
            {{ user.email }} | {{ user.firstName }} {{ user.lastName }} | {{ user.phone }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>