<div class="fr-niveles d-flex flex-column align-items-start col-12 p-0">
  <div class="d-flex justify-content-between w-100 mb-1">
    <h5>Niveles de Jerarquía</h5>
    <div class="d-flex justify-content-end">
      <a *ngIf="showEditableControls == true" href="#" (click)="addModifyNivel($event)" class="fr-task-btn"><span class="fas"
          [ngClass]="{ 'fa-plus': addCancel, 'fa-ban': !addCancel }"></span></a>
    </div>
  </div>

  <div *ngFor="let nivel of nivelesList; let i = index"
    class="fr-nivel-op fr-position-relative d-flex align-items-center w-100" [ngClass]="{ 'mt-2': i > 0 }">
    <ng-container *ngIf="!nivel.editable else editable">
      <div class="fr-position-absolute fr-right fr-z-index-1 d-flex">
        <a *ngIf="showEditableControls == true" href="#" (click)="addModifyNivel($event, i)"
          class="fr-task-btn fr-btn-default fr-btn-hidden">
          <span class="fas fa-pencil-alt"></span>
        </a>

        <a *ngIf="showEditableControls == true && nivel.depaCount == 0" href="#" (click)="deleteNivel($event, i)"
          class="fr-task-btn fr-btn-default fr-btn-hidden text-danger ml-1">
          <span class="fas fa-trash"></span>
        </a>
      </div>

      <a href="#" (click)="onNivelClick($event, i)" class="fr-indicator card flex-row align-items-center p-2"
        [ngClass]="{ 'fr-ind-selected': nivel.selected }">
        <span class="fr-indicator-num mr-3">{{ nivel.numero }}</span>
        <div class="fr-indicator-label d-flex align-items-center">{{ nivel.nombre }}</div>
      </a>
    </ng-container>

    <ng-template #editable>
      <ng-container *ngIf="showEditableControls == true">
        <a *ngIf="nivel.editable && frmNivel.form.valid" href="#" (click)="saveNivel($event, i)"
          class="fr-task-btn fr-btn-default fr-btn-hidden fr-position-absolute fr-right fr-z-index-1">
          <span class="fas fa-check"></span>
        </a>

        <form #frmNivel="ngForm">
          <div class="fr-indicator card flex-row align-items-center p-2">
            <span class="fr-indicator-num mr-3">{{ nivel.numero }}</span>
            <input type="text" name="nomNivel" #nomNivel="ngModel" [(ngModel)]="nivel.nombre" class="form-control"
              pattern="[A-Za-z| |ñÑáéíóúÁÉÍÓÚüÜ\s]+" required (keyup)="nivel.nombre = nivel.nombre.toUpperCase()">
          </div>
        </form>
      </ng-container>
    </ng-template>
  </div>
</div>