/***************************************************************************
* SPECIFIC STYLES
* AUTOR: FREDI ROMAN
***************************************************************************/
@import "./assets/scss/_variables.scss";
@import "./assets/scss/_autocomplete.scss";
@import "./assets/scss/_fastline_table.scss";
@import "./assets/scss/_flex.scss";
@import "./assets/scss/_fr_switch_input.scss";
@import "./assets/scss/_layout.scss";
@import "./assets/scss/_fr_side_menu.scss";
@import "./assets/scss/_custom_card.scss";
@import "./assets/scss/_carousel.scss";

/***************************************************************************
* GENERAL STYLES
* AUTOR: FREDI ROMAN
***************************************************************************/
body {
  font-size: 13px !important;

  a {
    text-decoration: none !important;
  }
}

.fr-over-hidden {
  overflow: hidden;
}

.fr-over-x-auto {
    overflow-x: auto;
}
.fr-over-visible {
    overflow: visible !important;
}

.fr-position-relative {
  position: relative;
}

.fr-position-absolute {
  position: absolute;
}

.fr-right {
  right: 7px;
}

.fr-z-index-1 {
  z-index: 1;
}

.fr-f-scroll-child {
  flex-grow: 1;
  overflow: auto;

  /* for Firefox */
  min-height: 0;
}

.container-fluid {
  position: relative !important;
}

/***************************************************************************
* NIVELES COMPONENT STYLE
* AUTOR: FREDI ROMAN
***************************************************************************/
.fr-niveles {
  .fr-indicator {
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    background: $secondary-text-color;

    .fr-indicator-num {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background: $secondary-back-color-light;
      color: $primary-text-color;
      font-size: 1rem;
      transition: all .4s ease;
    }

    .fr-indicator-label {
      color: $primary-text-color;
      font-size: .85rem;
      transition: all .3s ease;
    }

    &.fr-ind-selected {
      background: $secondary-back-color-light;
      border-color: $secondary-back-color-light;

      .fr-indicator-num {
        background: $secondary-text-color;
      }

      .fr-indicator-label {
        font-size: .9rem;
      }
    }
  }

  h5 {
    font-size: 1rem;
  }

  .fr-task-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-text-color;
    color: $primary-color;
    -webkit-box-shadow: 1px 2px 4px 2px $btn-shadow !important;
    -moz-box-shadow: 1px 2px 4px 2px $btn-shadow !important;
    box-shadow: 1px 2px 4px 2px $btn-shadow !important;
    transition: all .3s ease;

    span {
      font-size: .7rem;
    }

    &.fr-btn-default {
      color: $tertiary-text-color;
    }
    &.fr-btn-default:hover {
      color: $tertiary-text-color;
      background: $default-back-color-dark;
    }
    &.fr-btn-hidden {
      display: none;
    }
  }

  .fr-task-btn:hover {
    color: $secondary-text-color;
    background: $primary-color;
  }

  .fr-nivel-op:hover {
    .fr-btn-hidden {
      display: inherit;
    }
  }
}

.fr-disabled-link, .fr-disabled-link:hover, .fr-disabled-link:focus {
  cursor: not-allowed;
  color: #a3a4a6 !important;
  opacity: .4 !important;
}

/***************************************************************************
***************************************************************************/

/***************************************************************************
* LOGIN COMPONENT STYLES
* AUTOR: FREDI ROMAN
***************************************************************************/
.fr-login-background {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -100;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fr-primary-color {
  color: $primary-color !important;
}

.fr-primary-back-color {
  background-color: $primary-color !important;
}

.fr-primary-text-color {
  color: $primary-text-color !important;
}

.fr-secon-text-color {
  color: $secondary-text-color !important;
}

.fr-sign-in-up-container {
  border: none !important;
  background-color: transparent !important;
  color: $secondary-text-color;

  hr {
    background: #fff;
  }

  h5 {
    font-size: 1.3rem;
    font-weight: 300;
  }

  h5, h4, span {
    color: $secondary-text-color !important;
  }

  a {
    color: $primary-color !important;
  }

  .text-light {
    color: $secondary-text-color !important;
  }

  button, .nav-link {
    border-radius: 20px;
    height: 2rem;
    line-height: 1rem;
    font-size: .9rem;
  }

  .btn-primary, .btn-primary:active .nav-link.active {
    color: $primary-dark-color !important;
  }

  .btn-secondary, .btn-secondary:active {
    color: $primary-color !important;
  }

  .card {
    border: none;
    background-color: transparent;
    color: $secondary-text-color;

    h5 {
      font-size: 1.3rem;
      font-weight: 300;
    }

    h5, h4, span {
      color: $secondary-text-color !important;
    }

    a {
      color: $primary-color !important;
    }

    .text-light {
      color: $secondary-text-color !important;
    }

    button, .nav-link {
      border-radius: 20px;
      height: 2rem;
      line-height: 1rem;
      font-size: .9rem;
    }

    .btn-primary, .btn-primary:active, .nav-link.active {
      color: $primary-dark-color !important;
    }

    .btn-secondary, .btn-secondary:active {
      color: $primary-color !important;
    }
  }
}

/***************************************************************************/
.fr-terms-font-size {
  font-size: .9rem;
}

.fr-modal-wide {
  max-width: 95% !important;

  @include MQ(XS) {
    max-width: 96% !important;
  }


  @include MQ(HS) {
    max-width: 97% !important;
  }


  @include MQ(M) {
    max-width: 90% !important;
  }

  @include MQ(L) {
    max-width: 85% !important;
  }
}

ngx-spinner {
  .black-overlay {
    background-color: transparent !important;
  }
}

/***************************************************************************/

.fr-generic-back-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background: $primary-dark-color;
}

.p-ilustration {
  width: 30px;
  height: 30px;
  padding-right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-label {
  min-height: $min-row-height;
  width: 37%;
  border-right: 1px solid $primary-shadow-dark;

  &.left {
    border-left: 1px solid $primary-shadow-dark;
  }
}

.fr-back-icon {
  position: absolute;
  transform: rotate(20deg);
  font-size: 9rem;
  top: 30%;
  opacity: .4;
  color: $primary-color;

  &.fr-icon-md {
    font-size: 8rem;
    top: 25%;
  }

  &.fr-icon-sm {
    font-size: 6rem;
    top: 25%;
  }

  &.fr-dark-icon {
    opacity: .3;
    color: $primary-dark-color;
  }
}

li {
  background-color: transparent !important;
}

.fr-border-top-0 {
  border-top: 0px !important;
}

.fr-border-bot-0 {
  border-bottom: 0px !important;
}

.fr-border-bot-1 {
  border-bottom: 1px solid #f1f1f2 !important;
}

.d-value {
  min-height: $min-row-height;
}

.fr-v-align-mid {
  vertical-align: middle !important;
}

.fr-enphasys-text {
  padding: .4rem;
  background: $primary-color;
  color: $secondary-text-color;
  font-size: .55rem;
  font-family: $enphasys-font-family;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;

  &.fr-primary-dark {
    background: $primary-dark-color;
  }

  &.fr-secondary {
    background: $secondary-color;
  }

  &.fr-tertiary {
    background: $tertiary-color;
  }
}

.fr-d-content {
  display: contents !important;
}

.fr-custom-header {
  font-size: .8rem;
}

/***************************************************************************************************/
/***************************************************************************************************/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

.viewmenu {
  display: none !important;
}

.modal.show .modal-dialog {
  width: 100% !important;
}

// Remove outline on desktops
@media (min-width: 720px) {
  ngb-carousel,
  .dropdown-item,
  ngb-datepicker,
  ngb-rating {
    outline: 0 !important;
  }
}

@media (max-width: 770px) {
  .layout-navbar {
    display: none !important;
  }
  .formMap {
    top: 65px !important;
    height: 97% !important;
  }
  .viewmenu {
    display: block !important;
  }
  .layout-navbar, .layout-footer {
    height: 0px !important;
  }
}

.dropdown-menu-right {
  right: auto !important;
}

// *******************************************************************************
// * Page transition

.router-transitions {
  opacity: 1;
  transition: opacity .2s;

  body.app-loading & {
    opacity: .75;
  }
}

// *******************************************************************************
// * Tooltip and popover animations

@include keyframes(ngTooltipAnimation) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


ngb-tooltip-window {
  animation: ngTooltipAnimation .25s;
}

// *******************************************************************************
// * Modal animations

@include keyframes(ngModalBackdropAnimation) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}


@include keyframes(ngMaterialModalBackdropAnimation) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .2;
  }
}


@include keyframes(ngDefaultModalAnimation) {
  0% {
    opacity: 0;
    transform: translateY(150px) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


@include keyframes(ngTopModalAnimation) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@include keyframes(ngSlideModalAnimation) {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@include keyframes(ngRtlSlideModalAnimation) {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@include keyframes(ngFillInModalAnimation) {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


ngb-modal-backdrop.modal-backdrop {
  opacity: .5;
  animation: ngModalBackdropAnimation .15s ease-out;
}

ngb-modal-window {
  &.modal .modal-dialog {
    animation: ngDefaultModalAnimation .15s ease-out;
  }

  &.modal-top .modal-dialog {
    animation: ngTopModalAnimation .15s ease-out;
  }

  &.modal-slide .modal-dialog {
    animation: ngSlideModalAnimation .15s ease-out;
  }

  &.modal-fill-in .modal-dialog {
    animation: ngFillInModalAnimation .15s ease-out;
  }

  [dir=rtl] &.modal-slide .modal-dialog {
    animation: ngRtlSlideModalAnimation .15s ease-out;
  }
}

.material-style ngb-modal-backdrop.modal-backdrop {
  opacity: .2;
  animation: ngMaterialModalBackdropAnimation .15s ease-out;
}

// Prevent horizontal scrollbar
[dir=rtl] .dz-hidden-input {
  right: 0 !important;
  left: auto !important;
}

//.sidenav.bg-secondary {
//    z-index: 100 !important;
//}
//
//.layout-navbar {
//    z-index: 100 !important;
//}

.reqlabel:after {
  content:"*";
  color:red;
  //font-size: 15px;
}

.custom-checkbox .custom-control-label::before {
  border: solid 1px;
  background-size: 65% 65%;
}

.dropdown-toggle::after {
  display: none !important;
}

.modal-content {
  border: none !important;
}
