<div [formGroup]="parentForm">
  <label class="form-label">{{ formInput.inputData.label }}:</label>
  <ng-container [ngSwitch]="formInput.inputData.controlType">

    <ng-container *ngSwitchDefault>
      <div *ngIf="formInput.inputData.prependString else tmpInput" class="input-group">
        <input class="form-control" [ngClass]="{'is-invalid': isInvalid}" [formControlName]="formInput.inputData.key"
          [id]="formInput.inputData.key" [type]="formInput.textInputData.type"
          [pattern]="formInput.textInputData.pattern" [required]="formInput.inputData.required"
          [readonly]="formInput.textInputData.readonly" [placeholder]="formInput.inputData.placeholder"
          (ngModelChange)="onInputChange()" />
        <div class="input-group-append">
          <span class="input-group-text">{{ formInput.inputData.prependString }}</span>
        </div>
        <small class="invalid-feedback" [innerHTML]="formInput.inputData.erroMsg"></small>
      </div>
    </ng-container>

    <ng-template #tmpInput>
      <input class="form-control" [ngClass]="{'is-invalid': isInvalid}" [formControlName]="formInput.inputData.key"
        [id]="formInput.inputData.key" [type]="formInput.textInputData.type" [pattern]="formInput.textInputData.pattern"
        [required]="formInput.inputData.required" [readonly]="formInput.textInputData.readonly"
        [placeholder]="formInput.inputData.placeholder" (ngModelChange)="onInputChange()" />
      <small class="invalid-feedback" [innerHTML]="formInput.inputData.erroMsg"></small>
    </ng-template>

    <div *ngSwitchCase="inputTypes.fecha" class="form-group">
      <div class="input-group">
        <input type="text" [formControlName]="formInput.inputData.key" [id]="formInput.inputData.key"
          class="form-control" ngbDatepicker #dH="ngbDatepicker" [ngClass]="{'is-invalid': isInvalid}"
          [placeholder]="formInput.inputData.placeholder" [required]="formInput.inputData.required" />
        <div class="input-group-append">
          <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="dH.toggle()">
            <span class="fas fa-calendar-alt"></span></button>
        </div>
        <small class="invalid-feedback" [innerHTML]="formInput.inputData.erroMsg"></small>
      </div>
    </div>

    <ng-container *ngSwitchCase="inputTypes.texto_largo">
      <textarea class="form-control" [ngClass]="{'is-invalid': isInvalid}" [formControlName]="formInput.inputData.key"
        [id]="formInput.inputData.key" [pattern]="formInput.textareaData.pattern" [cols]="formInput.textareaData.cols"
        [rows]="formInput.textareaData.rows" [required]="formInput.inputData.required"
        [placeholder]="formInput.inputData.placeholder" (ngModelChange)="onInputChange()"></textarea>
      <small class="invalid-feedback" [innerHTML]="formInput.inputData.erroMsg"></small>
    </ng-container>

    <fast-time-picker *ngSwitchCase="inputTypes.hora" [timeObj]="formInput.timeInputData"
      (onTimeChange)="getTimeChanges($event)"></fast-time-picker>

    <switch-input *ngSwitchCase="inputTypes.booleano" [switchInput]="formInput.booleanInputData"
      (onChange)="onSwitchInputChange($event)"></switch-input>

    <ng-container *ngSwitchCase="inputTypes.subcatalogo">
      <select [formControlName]="formInput.inputData.key" class="custom-select" [ngClass]="{'is-invalid': isInvalid}">
        <option *ngFor="let data of formInput.selectInputData.dataList" [value]="data.value">
          {{ data.label }}
        </option>
      </select>
      <small class="invalid-feedback" [innerHTML]="formInput.inputData.erroMsg"></small>
    </ng-container>
  </ng-container>
</div>