<!-- Modal -->
<div #modalContainer class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-password-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body py-3 d-flex flex-column justify-content-center align-items-center">
        <h6>Por favor confirme su contraseña antes de continuar</h6>
        <form #frmConfirmPwd="ngForm" class="my-3 col-11 col-sm-8 col-lg-5">
          <input type="password" name="pwd" #pwd="ngModel" [(ngModel)]="password" class="form-control" required>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="confirmPwd()">
          <span class="fas fa-check-circle mr-2"></span>CONFIRMAR
        </button>

        <button type="button" class="btn btn-secondary" [attr.data-dismiss]="'modal'">
          <span class="fas fa-ban mr-2"></span>CANCELAR
        </button>
      </div>
    </div>
  </div>
</div>