<h4 class="font-weight-bold py-3 mb-4">{{ labels.services.subtitle1 }}</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <form>
      <!--<h4>{{ labels.services.subtitle1 }}</h4>-->
      <!--<hr class="border-light container-m&#45;&#45;x mt-0 mb-4">-->
      <div class="form-row">
        <div class="form-row col-md-12" [hidden]="!viewEdit">
          <div class="form-group offset-md-4 col-md-2">
            <label class="form-label">{{ labels.general.company }}:</label>
            <input type="text" class="form-control" disabled=true [(ngModel)]="empServ" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-2">
            <label class="form-label">{{ labels.characteristics.codConvenio }}</label>
            <input type="text" class="form-control" disabled=true [(ngModel)]="codConv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-8 offset-md-2">
            <div class="table-responsive">
              <ngx-datatable #table style="min-width: 500px"
                             [rows]="movilizaciones"
                             [loadingIndicator]="loadingIndicatorMov"
                             [columnMode]="'force'"
                             [headerHeight]="43"
                             [footerHeight]="'auto'"
                             [rowHeight]="'auto'"
                             [reorderable]="true"
                             [selectionType]="'checkbox'"
                             [limit]="5"
                             [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}">
                <ngx-datatable-column name="" [width]="5">
                  <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div style="text-align: center;">
                      <input id="che{{rowIndex}}" type="checkbox" class="btn btn-secondary btn-responsive-lg" (change)="checkElement($event, row, rowIndex)"/>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="{{labels.placeholders.code}}" [width]="5" prop="codSubcatalogo"></ngx-datatable-column>
                <ngx-datatable-column name="{{labels.services.service}}" prop="desElemento"></ngx-datatable-column>
                <!--<ngx-datatable-column name="{{labels.services.value}}" [width]="10">-->
                  <!--<ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>-->
                    <!--<input type="number" maxlength="10" min="0" id="inp{{rowIndex}}" (keydown)="keyDown($event)" disabled=true (blur)="updateValue($event, row, rowIndex)" style="width: 100%;"/>-->
                 <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
              </ngx-datatable>
            </div>
          </div>
        </div>
        <div class="form-row col-md-12  " [hidden]="viewEdit">
          <div class="form-group col-md-4">
            <label class="form-label">{{ labels.general.company }}:</label>
            <input type="text" class="form-control" disabled=true [(ngModel)]="empServ" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-2">
            <label class="form-label">{{ labels.characteristics.codConvenio }}</label>
            <input type="text" class="form-control" disabled=true [(ngModel)]="codConv" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-4">
            <label class="form-label">{{ labels.services.service }}:</label>
            <input type="text" class="form-control" disabled=true [(ngModel)]="service" [ngModelOptions]="{standalone: true}">
          </div>
          <!--<div class="form-group col-md-2">-->
            <!--<label class="form-label">{{ labels.services.value }}:</label>-->
            <!--<input id="inpEdit" type="number" maxlength="10" min="0" class="form-control" (keydown)="keyDown($event)" (blur)="updateValueEdit($event)" [(ngModel)]="valor" [ngModelOptions]="{standalone: true}" placeholder="{{ labels.services.value }}...">-->
          <!--</div>-->
          <div class="form-group col-md-2">
            <label class="form-label" >{{ labels.general.state }}:</label>
            <select class="custom-select" [(ngModel)]="estadoBuscar" (ngModelChange)="changeState()" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let estado of estados" [value]="estado.id">
                {{estado.nomSubCatalogo.toUpperCase()}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-row col-md-6">
          <div class="form-row justify-content-start">
            <div class="col-md-4">
              <button id="btnSave" type="button" class="btn btn-primary btn-responsive-lg" (click)="confirmMethod()">
                <span class="far fa-paper-plane"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-secondary" (click)="clear()">
                <span class="fas fa-stop-circle"></span>{{ labels.general.cancel }}</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-secondary" [routerLink]="['/admin/characteristics']">
                <span class="fas fa-arrow-left"></span>{{ labels.general.return }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5"></div>
      <div class="col-sm-2 col-md-2 col-lg-1">
        <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size" [ngModelOptions]="{standalone: true}">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="{{page.totalElements}}">{{page.totalElements}}</option>
        </select>
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.services.service}}...' (keyup)='updateFilter($event)'>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
                     [rows]="rows"
                     [loadingIndicator]="loadingIndicator"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [selected]="selected"
                     [selectionType]="'single'"
                     [externalPaging]="true"
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                     (select)='onSelect($event)'
                     (page)='setPage($event)'>
        <ngx-datatable-column
          [width]="20"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="false"
          [checkboxable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.company}}" prop="convenio.empresa.nombreEmpresa"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.nroConvenio}}"  prop="convenio.codConvenio"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.services.serviceDesc}}" prop="descripcionServicio"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.services.value}}" prop="valorServicio"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.state}}">
          <ng-template  let-row="row" ngx-datatable-cell-template>
            {{row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase()}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
