<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.sucursales.subtitle }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <form [formGroup]="formSucursal" novalidate>
      <!--<h4>{{ labels.sucursales.subtitle }}</h4>-->
      <!--<hr class="border-light container-m&#45;&#45;x mt-0 mb-4">-->
      <div class="form-row">
        <div class="form-group col-md-5">
          <label class="form-label">{{ labels.general.company }}:</label>
          <select class="custom-select" [(ngModel)]="sucursal.SGE_Empresa_idEmpresa" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangeEmpresa()">
            <option *ngFor="let empresa of empresas" [value]="empresa.id">
              {{empresa.nombreEmpresa}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-5">
          <label class="form-label reqlabel">{{ labels.sucursales.codSucursal }}:</label>
          <input type="text" formControlName="cds" maxlength="11"  class="form-control" placeholder="{{labels.sucursales.codSucursal}}..." [(ngModel)]="sucursal.codSucursal" [ngClass]="{ 'is-invalid': submitedSucursales && fc.cds.errors }" (keyup)="sucursal.codSucursal = sucursal.codSucursal.toUpperCase()">
          <small *ngIf="formSucursal.controls.cds.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
          <small class="invalid-feedback">{{ labels.messages.minimoReq3 }}</small>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{ labels.general.state }}:</label>
          <select disabled="{{enableState}}" class="custom-select" [(ngModel)]="sucursal.estado" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeState()">
            <option *ngFor="let estado of estados" [value]="estado.id">
              {{estado.nomSubCatalogo.toUpperCase()}}
            </option>
          </select>
        </div>
        <div class="form-row col-md-12 justify-content-md-center">
          <div class="form-group col-md-5">
            <label class="form-label">{{ labels.general.alternateCode }}:</label>
            <input type="text" maxlength="15"  class="form-control" placeholder="{{labels.general.alternateCode}}..." [(ngModel)]="sucursal.codAlterno" [ngModelOptions]="{standalone: true}" (keyup)="sucursal.codAlterno = sucursal.codAlterno.toUpperCase()">
          </div>
          <div class="form-group col-md-7">
            <label class="form-label reqlabel">{{ labels.sucursales.nomSucursal }}:</label>
            <input type="text" formControlName="cdn" maxlength="200"  class="form-control" placeholder="{{labels.sucursales.nomSucursal}}..." [(ngModel)]="sucursal.nomSucursal" [ngClass]="{ 'is-invalid': submitedSucursales && fc.cdn.errors }" (keyup)="sucursal.nomSucursal = sucursal.nomSucursal.toUpperCase()">
            <small *ngIf="formSucursal.controls.cdn.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
          </div>
        </div>
        <div class="form-row col-md-6 justify-content-md-center">
          <div class="form-group col-md-10">
            <label class="form-label">{{ labels.general.city }} {{ labels.general.domicile }}:</label>
            <select class="custom-select" [(ngModel)]="sucursal.codCiudad" [ngModelOptions]="{standalone: true}" (change)="changeCity($event)">
              <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
                {{ciudad.nomSubCatalogo}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-10">
            <label class="form-label">{{ labels.sucursales.sector }}:</label>
            <select class="custom-select" [(ngModel)]="sucursal.codSector" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let sector of sectores" [value]="sector.id">
                {{sector.nomSubCatalogo}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row col-md-6 justify-content-md-center">
          <div class="form-group col-md-10">
            <label class="form-label reqlabel">{{ labels.general.phone }}:</label>
            <input type="text" formControlName="tlf" mask="(000)-000-000"  class="form-control" placeholder="{{labels.general.phone}}..." [(ngModel)]="sucursal.telefono" [ngClass]="{ 'is-invalid': submitedSucursales && fc.tlf.errors }">
            <small *ngIf="formSucursal.controls.tlf.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
          </div>
          <div class="form-group col-md-10">
            <label class="form-label">{{ labels.general.fax }}:</label>
            <input type="text" mask="(000)-000-000"  class="form-control" placeholder="{{labels.general.fax}}..." [(ngModel)]="sucursal.fax" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="form-label">{{ labels.general.mail }}:</label>
          <input type="text" maxlength="100"  class="form-control" placeholder="{{labels.general.mail}}..." [(ngModel)]="sucursal.correo" [ngModelOptions]="{standalone: true}" [textMask]="emailMaskOptions">
        </div>
        <div class="form-group col-md-3">
          <label class="form-label reqlabel">{{ labels.sucursales.street1 }}:</label>
          <input list="calle1List" type="text" formControlName="str1" maxlength="150"  class="form-control" placeholder="{{labels.sucursales.street1}}..." [(ngModel)]="sucursal.nomCalle1" [ngClass]="{ 'is-invalid': submitedSucursales && fc.str1.errors }" (keyup)="keyUpOrSt1()" (blur)="onBlurStreet()">
          <datalist id="calle1List">
            <option *ngFor="let street of arrayCalle1">
              {{street.calle1.toUpperCase()}}
            </option>
          </datalist>
          <small *ngIf="formSucursal.controls.str1.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label reqlabel">{{ labels.sucursales.street2 }}:</label>
          <input list="calle2List" type="text" formControlName="str2" maxlength="150"  class="form-control" placeholder="{{labels.sucursales.street2}}..." [(ngModel)]="sucursal.nomCalle2" [ngClass]="{ 'is-invalid': submitedSucursales && fc.str2.errors }" (keyup)="keyUpOrSt2()" (blur)="onBlurStreet()">
          <datalist id="calle2List">
            <option *ngFor="let street of arrayCalle2">
              {{street.calle1.toUpperCase()}}
            </option>
          </datalist>
          <small *ngIf="formSucursal.controls.str2.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label reqlabel">{{ labels.sucursales.streetNum }}:</label>
          <input type="text" formControlName="nstr" maxlength="10"  class="form-control" placeholder="{{labels.sucursales.streetNum}}..." [(ngModel)]="sucursal.numeroCalle" [ngClass]="{ 'is-invalid': submitedSucursales && fc.nstr.errors }" (keyup)="sucursal.numeroCalle = sucursal.numeroCalle.toUpperCase()">
          <small *ngIf="formSucursal.controls.nstr.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label reqlabel">{{ labels.sucursales.zone }}:</label>
          <input disabled="true" formControlName="zone" type="text" class="form-control" placeholder="{{labels.sucursales.zone}}..." [(ngModel)]="sucursal.codZona" [ngClass]="{ 'is-invalid': submitedSucursales && fc.zone.errors }">
          <small *ngIf="formSucursal.controls.zone.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="form-label reqlabel">{{ labels.general.address }}:</label>
        <input disabled="true" type="text" formControlName="dsp" maxlength="200"  class="form-control" placeholder="{{labels.general.address}}..." [(ngModel)]="sucursal.direccion" [ngClass]="{ 'is-invalid': submitedSucursales && fc.dsp.errors }" (keyup)="sucursal.direccion = sucursal.direccion.toUpperCase()">
        <small *ngIf="formSucursal.controls.dsp.errors?.required" class="invalid-feedback"> {{ labels.messages.req }}</small>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-row col-md-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="button" class="btn btn-primary btn-responsive-lg" (click)="confirmMethod()">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="clear()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <div class="row">
      <div class="col-3 col-sm-2 col-lg-1">
        <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size" [ngModelOptions]="{standalone: true}">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="{{page.totalElements}}">{{labels.general.totalPage}}</option>
        </select>
      </div>
      <div class="col-9 col-sm-6 col-md-4">
        <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.name}}...' (keyup)='updateFilter($event)'>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px"
                   [rows]="rows"
                   [loadingIndicator]="loadingIndicator"
                   [columnMode]="'force'"
                   [headerHeight]="43"
                   [footerHeight]="'auto'"
                   [rowHeight]="'auto'"
                   [reorderable]="true"
                   [selected]="selected"
                   [selectionType]="'single'"
                   [externalPaging]="true"
                   [count]="page.totalElements"
                   [offset]="page.pageNumber"
                   [limit]="page.size"
                   [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
                   (select)='onSelect($event)'
                   (page)='setPage($event)'>
      <ngx-datatable-column
        [width]="20"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="false"
        [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.company}}" prop="empresa.nombreEmpresa"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.sucursales.codSucursal}}"  prop="codSucursal"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.sucursales.nomSucursal}}" prop="nomSucursal"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template  let-row="row" ngx-datatable-cell-template>
          {{row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase()}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
