<h4 class="font-weight-bold py-3 mb-4">Administración - Usuarios</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>

    <form [formGroup]="formUser" novalidate>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form-label">Nombre</label>
          <input type="text" formControlName="name" maxlength="200"  class="form-control" placeholder="Nombre Completo de Usuario..." value="{{user.nombre}}"  (keyup)="onKey($event, 'nombre')" [ngClass]="{ 'is-invalid': submitedUser&& fu.nombre.errors }">
          <small class="invalid-feedback">Requerido, minimo 3 cáracteres</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Email</label>
          <input type="email" formControlName="email" maxlength="100" class="form-control" placeholder="Email de Usuario..."  value="{{user.email}}" (keyup)="onKey($event, 'email')" [ngClass]="{ 'is-invalid': submitedUser && fu.email.errors }">
          <small class="invalid-feedback">Requerido, minimo 5 cáracteres</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">Telefono</label>
          <input type="phone" formControlName="phone" class="form-control" placeholder="Telefono de Usuario..."  value="{{user.telefono}}" (keyup)="onKey($event, 'telefono')" [ngClass]="{ 'is-invalid': submitedUser && fu.phone.errors }">
          <small class="invalid-feedback">Requerido, minimo 5 cáracteres</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label class="form-label">Estado</label>
          <select class="custom-select" (change)="onKey($event, 'estado')">
            <option [selected]="user.estado=='1'" value="1">Activo</option>
            <option [selected]="user.estado=='0'" value="0">Inactivo</option>
          </select>
          <small class="invalid-feedback">Seleccionar un valor</small>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">Verificado</label>
          <select class="custom-select" (change)="onKey($event, 'verificado')">
            <option [selected]="user.verificado=='0'" value="0">Sin Verificar</option>
            <option [selected]="user.verificado=='1'" value="1">Verificado</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">Grupo</label>
          <select class="custom-select" (change)="onKey($event, 'verificado')">
            <option [selected]="user.grupo=='0'" value="0">Administrador</option>
            <option [selected]="user.grupo=='100'" value="10">Usuario Fastline</option>
            <option [selected]="user.grupo=='100'" value="50">Usuario Empresa</option>
            <option [selected]="user.grupo=='100'" value="100">Usuario sin privilegios</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-row col-lg-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button style="width: 100px; margin: 10px;" type="button" class="btn btn-primary btn-responsive-lg" (click)="save()">
                <span class="far fa-paper-plane"></span> Guardar</button>
            </div>
            <div class="col-6">
              <button style="width: 100px; margin: 10px;" type="button" class="btn btn-secondary" (click)="clear()"><span class="fas fa-stop-circle"></span> Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>

    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-3 mb-3 ml-auto">
        <input class="form-control" type='text' placeholder='Filtrado por nombre...' (keyup)='updateFilter($event)'>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="43"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [reorderable]="true"
        [selected]="selected"
        [selectionType]="'single'"
        [limit]="10"
        [messages]="{emptyMessage:'Sin datos que mostrar', totalMessage: 'total', selectedMessage: 'seleccionado(s)'}"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          [width]="20"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="false"
          [checkboxable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="NOMBRE"  prop="nombre"></ngx-datatable-column>
        <ngx-datatable-column name="EMAIL" prop="email"></ngx-datatable-column>
        <ngx-datatable-column name="TELEFONO" prop="telefono"></ngx-datatable-column>
        <ngx-datatable-column name="GRUPO">
          <ng-template  let-row="row" ngx-datatable-cell-template>
                 {{group(row.grupo)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="ESTADO">
          <ng-template  let-row="row" ngx-datatable-cell-template>
                 {{row.estado == "1" ? "Activo" : "Inactivo"}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>


