<h4 class="font-weight-bold py-3 mb-4">Inicio</h4>

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

<!-- Statistics -->
<div class="card mb-4">
  <h6 class="card-header with-elements">
    <div class="card-header-title">Statistics</div>
    <div class="card-header-elements ml-auto">
      <label class="text m-0">
        <span class="text-light text-tiny font-weight-semibold align-middle">
          SHOW STATS
        </span>
        <span class="switcher switcher-sm d-inline-block align-middle mr-0 ml-2">
          <input type="checkbox" class="switcher-input" checked>
          <span class="switcher-indicator">
            <span class="switcher-yes"></span>
            <span class="switcher-no"></span>
          </span>
        </span>
      </label>
    </div>
  </h6>
  <div class="row no-gutters row-bordered">
    <div class="col-md-8 col-lg-12 col-xl-8">
      <div class="card-body">
        <div style="height: 210px">
          <canvas baseChart height="210"
            [datasets]="chart1Data"
            [labels]="['2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05']"
            [options]="chart1Options"
            [chartType]="'line'"
            [colors]="chart1Colors">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-12 col-xl-4">
      <div class="card-body">

        <!-- Numbers -->
        <div class="row">
          <div class="col-6 col-xl-5 text-muted mb-3">Total sales</div>
          <div class="col-6 col-xl-7 mb-3">
            <span class="text-big">10,332</span>
            <sup class="text-success">+12%</sup>
          </div>
          <div class="col-6 col-xl-5 text-muted mb-3">Income amount</div>
          <div class="col-6 col-xl-7 mb-3">
            <span class="text-big">$1,534</span>
            <sup class="text-danger">-5%</sup>
          </div>
          <div class="col-6 col-xl-5 text-muted mb-3">Total budget</div>
          <div class="col-6 col-xl-7 mb-3">
            <span class="text-big">$10,534</span>
            <sup class="text-success">+12%</sup>
          </div>
          <div class="col-6 col-xl-5 text-muted mb-3">Page views</div>
          <div class="col-6 col-xl-7 mb-3">
            <span class="text-big">21,332</span>
            <sup class="text-danger">-12%</sup>
          </div>
          <div class="col-6 col-xl-5 text-muted mb-3">Completed tasks</div>
          <div class="col-6 col-xl-7 mb-3">
            <span class="text-big">12</span>
            <sup class="text-success">+12%</sup>
          </div>
        </div>
        <!-- / Numbers -->

      </div>
    </div>
  </div>
</div>
<!-- / Statistics -->
<p><button class="btn btn-primary btn-lg">Button Test</button></p>
