<h4 class="font-weight-bold py-3 mb-4">{{labels.subcatalog.title}} - {{descripcion}} - {{codCatalogo}}</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>

    <form [formGroup]="formCatalogItem" novalidate>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label class="form-label reqlabel">{{labels.placeholders.code}}:</label>
          <input maxlength="3" type="text" formControlName="code" class="form-control" placeholder="{{labels.placeholders.code}}" value="{{catalogoitem.codSubcatalogo}}" (keyup)="onKey($event, 'codSubcatalogo')" [ngClass]="{ 'is-invalid': submitedCatalogItem && fc.code.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq3}}</small>
        </div>
        <div class="form-group col-md-8">
          <label class="form-label reqlabel">{{labels.general.name}}:</label>
          <input maxlength="50" type="name" formControlName="name" class="form-control" placeholder="{{labels.general.name}}"  value="{{catalogoitem.nomSubCatalogo}}" (keyup)="onKey($event, 'nomSubCatalogo')" [ngClass]="{ 'is-invalid': submitedCatalogItem && fc.name.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq3}}</small>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{labels.general.state}}:</label>
          <select disabled="{{enableState}}" [(ngModel)]="catalogoitem.estado" class="custom-select" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let estado of estados" [value]="estado.id" [disabled]="estado.id == gv.state.active ? true : false">
              {{estado.nomSubCatalogo.toUpperCase()}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label class="form-label reqlabel">{{labels.general.desc}}:</label>
          <input type="text" formControlName="desc" class="form-control" placeholder="{{labels.general.desc}}"  value="{{catalogoitem.desElemento}}" (keyup)="onKey($event, 'desElemento')" [ngClass]="{ 'is-invalid': submitedCatalogItem && fc.desc.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq2}}</small>
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{labels.subcatalog.numVal}}:</label>
          <input maxlength="11" type="number" class="form-control" placeholder="{{labels.subcatalog.numVal}}"  value="{{catalogoitem.valorNumerico}}" (keyup)="onKey($event, 'valorNumerico')">
        </div>
        <div class="form-group col-md-2">
          <label class="form-label">{{labels.subcatalog.alphaVal}}:</label>
          <input maxlength="11" type="name" class="form-control" placeholder="{{labels.subcatalog.alphaVal}}"  value="{{catalogoitem.valorAlfanumerico}}" (keyup)="onKey($event, 'valorAlfanumerico')">
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-row col-md-6">
          <div class="form-row justify-content-start">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary btn-responsive-lg" (click)="confirmMethod()">
                <span class="far fa-paper-plane"></span>{{labels.general.save}}</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-secondary" (click)="clear()">
                <span class="fas fa-stop-circle"></span>{{labels.general.cancel}}</button>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-secondary" [routerLink]="['/admin/catalog']">
                <span class="fas fa-arrow-left"></span>{{ labels.general.return }}</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-6"></div>
      <div class="col-sm-2 col-md-2 col-lg-1">
        <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size" [ngModelOptions]="{standalone: true}">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="{{page.totalElements}}">{{labels.general.totalPage}}</option>
        </select>
      </div>
      <div div class="col-sm-5">
        <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.name}}...' (keyup)='updateFilter($event)'>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="43"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [reorderable]="true"
        [selected]="selected"
        [selectionType]="'single'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
        (select)='onSelect($event)'
        (page)='setPage($event)'>
        <ngx-datatable-column
          [width]="20"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="false"
          [checkboxable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.placeholders.code}}" prop="codSubcatalogo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.name}}" prop="nomSubCatalogo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.desc}}"  prop="desElemento"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.subcatalog.numVal}}"  prop="valorNumerico"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.subcatalog.alphaVal}}"  prop="valorAlfanumerico"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.state}}">
          <ng-template  let-row="row" ngx-datatable-cell-template>
                 {{row.estado == gv.state.active ? labels.general.active.toLocaleUpperCase() : labels.general.inactive.toLocaleUpperCase()}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
