<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{labels.secuenciaVoucher.title}}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">

  <div>
    <form [formGroup]="formSecuencia" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="form-label">{{ labels.general.company }}:</label>
          <select [disabled]="banCompany" class="custom-select" [(ngModel)]="secuenciaVoucher.SGE_Empresa_idEmpresa"
            [ngModelOptions]="{standalone: true}" (ngModelChange)="changeCompany()">
            <option *ngFor="let empresa of empresas" [value]="empresa.id">
              {{empresa.nombreEmpresa}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">{{labels.characteristics.agreement}}:</label>
          <input disabled="true" type="text" class="form-control" placeholder="{{labels.characteristics.agreement}}"
            value="{{secuenciaVoucher.SGE_Convenio_idConvenio}}">
        </div>
        <div class="form-group col-md-3">
          <label class="form-label">{{labels.general.state}}:</label>
          <select disabled="true" class="custom-select" (change)="onKey($event, 'estado')">
            <option *ngFor="let estado of estados" [value]="estado.id">
              {{estado.nomSubCatalogo.toUpperCase()}}
            </option>
          </select>
          <small class="invalid-feedback">{{labels.messages.req}}</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.secuenciaVoucher.valMin}}:</label>
          <input mask="0000000" type="text" formControlName="name" class="form-control"
            placeholder="{{labels.secuenciaVoucher.valMin}}" value="{{secuenciaVoucher.valorMinimo}}"
            [ngClass]="{ 'is-invalid': submitedSecuencia && fc.name.errors }" (keyup)="onKey($event, 'valorMinimo')">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.secuenciaVoucher.valMax}}:</label>
          <input mask="0000000" type="text" formControlName="desc" class="form-control"
            placeholder="{{labels.secuenciaVoucher.valMax}}" value="{{secuenciaVoucher.valorMaximo}}"
            [ngClass]="{ 'is-invalid': submitedSecuencia && fc.desc.errors }" (keyup)="onKey($event, 'valorMaximo')">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label">{{labels.secuenciaVoucher.valAct}}:</label>
          <input disabled="true" type="text" class="form-control" placeholder="{{labels.secuenciaVoucher.valAct}}"
            [(ngModel)]="valoractual" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-row col-md-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="button" class="btn btn-primary btn-responsive-lg" (click)="save()">
                <span class="far fa-paper-plane"></span>{{labels.general.save}}</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="clear()">
                <span class="fas fa-stop-circle"></span>{{labels.general.cancel}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>

    <div class="row">
      <div class="col-3 col-sm-2 col-lg-1">
        <select class="custom-select" (change)="loadData()" [(ngModel)]="page.size"
          [ngModelOptions]="{standalone: true}">
          <option selected value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="{{page.totalElements}}">{{labels.general.totalPage}}</option>
        </select>
      </div>
      <div class="col-9 col-sm-6 col-md-4">
        <input class="form-control" type='text' placeholder='{{labels.general.filterBy}} {{labels.general.company}}...'
          (keyup)='updateFilter($event)'>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px" [rows]="rows" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
        [selected]="selected" [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements"
        [offset]="page.pageNumber" [limit]="page.size"
        [messages]="{emptyMessage: labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
        (select)='onSelect($event)' (page)='setPage($event)'>
        <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.placeholders.code}}" prop="id"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.company}}" prop="empresa.nombreEmpresa"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.characteristics.agreement}}" prop="convenio.codConvenio">
        </ngx-datatable-column>
        <ngx-datatable-column name="{{labels.secuenciaVoucher.valMin}}" prop="valorMinimo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.secuenciaVoucher.valMax}}" prop="valorMaximo"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.secuenciaVoucher.valAct}}" prop="valorActual"></ngx-datatable-column>
        <ngx-datatable-column name="{{labels.general.state}}">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.estado == gv.state.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase()}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
