<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">{{ labels.feriado.subtitle }}</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <form #frmFeriado="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-row col-md-8">
          <div class="form-group col-md-6">
            <label class="form-label">{{ labels.general.company }}:</label>
            <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
              (ngModelChange)="changeEnterprise()">
              <option *ngFor="let empresa of empresaList" [value]="empresa.id">
                {{ empresa.nombreEmpresa }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label">{{ labels.sucursales.branch }}:</label>
            <select class="custom-select" name="sucursal" #sucursal="ngModel" [(ngModel)]="feriado.sucursal.id"
              (ngModelChange)="changeSucursal()">
              <option *ngFor="let sucursal of sucursalList" [value]="sucursal.id">
                {{ sucursal.nomSucursal }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label">{{ labels.feriado.fechaFeriado }}:</label>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{ labels.placeholders.date }}"
                  (ngModelChange)="onDateChange($event)" name="fechaFeriado" #fechaFeriado="ngModel"
                  [(ngModel)]="feriado.fechaFeriado" [ngModelOptions]="{standalone: false}" ngbDatepicker
                  #d="ngbDatepicker" [ngClass]="{ 'is-invalid': fechaFeriado.touched && !fechaFeriado.valid }"
                  required />
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary btn-responsive-lg" (click)="d.toggle()">
                    <span class="fas fa-calendar-alt"></span></button>
                </div>
                <small class="invalid-feedback">{{ labels.messages.fecha }}</small>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="form-label">{{ labels.general.state }}:</label>
            <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
              [(ngModel)]="feriado.active">
              <option [value]=true>ACTIVO</option>
              <option [value]=false>INACTIVO</option>
            </select>
          </div>
        </div>
        <div class="form-row col-md-4">
          <div class="form-group col-12 d-flex align-items-center">
            <switch-input-list class="w-100" [title]="'Generador Automático'" [switchIns]="switchIns"
              (selectedInput)="getSelectedSwitchValue($event)"></switch-input-list>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-row col-md-6">
          <div class="form-row justify-content-start">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmFeriado.form.valid">
                <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}
              </button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">
                <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>

  <div class="row justify-content-end pb-2">
    <button *ngIf="!saveEdit" type="button" class="btn btn-danger mb-0 mr-2" (click)="onDeleteFeriado()">
      <span class="fas fa-ban"></span>
    </button>
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{page.totalElements}}">{{page.totalElements}}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='{{ labels.feriado.filterPlaceHolder }}'
        (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterFeriadoList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.company}}" prop="sucursal.empresa.nombreEmpresa">
      </ngx-datatable-column>
      <ngx-datatable-column name="{{labels.sucursales.branch}}" prop="sucursal.nomSucursal"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.feriado.fechaFeriado}}" prop="fechaFeriado"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>