<nav class="footer" [ngClass]="currentBg()">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3">
      <span class="footer-text font-weight-bolder">Fastline Cia. Ltda.</span> ©
    </div>
    <!--<div>-->
      <!--<a [routerLink]="['/help']" class="footer-link pt-3">Ayuda</a>-->
      <!--<a [routerLink]="['/contact']" class="footer-link pt-3 ml-4">Contacto</a>-->
    <!--</div>-->
  </div>
</nav>
