a {
    color: #0a0b0d;
    transition: all .3s ease;

    span {
        font-size: .6rem;
        transition: all .3s ease;
    }

    h5 {
        font-size: .76rem;
    }

    &.focused {
        background: rgba(238, 238, 238, 0.5);
    }

    .fr-open-item {
        transform: rotate(180deg);
    }
}

a:hover {
    background: rgba(238, 238, 238, 0.5);
}