<a class="card fr-no-border-card flex-row align-items-center p-2 {{ accordionItem.cssClass }}" role="tab"
  data-toggle="collapse" href="#acc{{ accordionItem.id.substring(0, 4) }}" aria-expanded="i == 0" (click)="onFocus()">
  <span *ngIf="accordionItem.subItems.length > 0" class="{{ itemIconClass }} fas fa-chevron-down"></span>
  <h5 class="mb-0 pl-2">
    {{ accordionItem.nombre }}
  </h5>
</a>

<div *ngIf="accordionItem.subItems.length > 0" id="acc{{ accordionItem.id.substring(0, 4) }}" class="collapse"
  [ngClass]="{ 'show': show }" role="tabpanel">
  <fr-accordion [accordionList]="accordionItem.subItems" [isChild]="true" [removeClassTo]="removeClassTo"
    [selectedItemId]="selectedItemId" (onFocusItem)="getFocusedChildItem($event)"></fr-accordion>
</div>