<div class="row py-3">
  <h4 class="font-weight-bold col-md-6">Niveles de la Organización</h4>

  <div class="col-md-6 d-flex justify-content-end">
    <nav-btn-group [navBtnList]="navBtnList"></nav-btn-group>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div class="row">

    <div class="d-flex flex-column align-items-center col-md-4 col-lg-3 col-xl-2">
      <nivel class="col-12 p-0" [empresaId]="mainEnterpriseId" [nivelesList]="nivelesList"
        (nivelClickedIndex)="onNivelClick($event)" (onAddNivel)="onAddNivel($event)" [showEditableControls]="true">
      </nivel>
    </div>

    <form #frmDepart="ngForm" class="col-md-8 col-lg-9 col-xl-10 pt-3 pt-md-0" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group" [ngClass]="{
            'col-md-8': !departamento.nivel.id || departamento.nivel.numero == 1,
            'col-md-5': departamento.nivel.numero > 1
          }">
          <label class="form-label">{{ labels.general.company }}:</label>
          <select class="custom-select" name="empresa" #empresa="ngModel" [(ngModel)]="mainEnterpriseId"
            (ngModelChange)="changeEnterprise()">
            <option *ngFor="let empresa of empresaList" [value]="empresa.id">
              {{ empresa.nombreEmpresa }}
            </option>
          </select>
        </div>

        <div *ngIf="departamento.nivel.numero > 1" class="form-group col-md-5">
          <label class="form-label">{{ depaName }}:</label>
          <select class="custom-select" name="departPadre" #departPadre="ngModel"
            [(ngModel)]="departamento.departamentoPadre.idDepartamento">
            <option *ngFor="let parentDepa of parentDepartList" [value]="parentDepa.idDepartamento">
              {{ parentDepa.nombreDepa }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-2" [ngClass]="{
            'col-md-4': !departamento.nivel.id || departamento.nivel.numero == 1,
            'col-md-2': departamento.nivel.numero > 1
          }">
          <label class="form-label">{{ labels.general.state }}:</label>
          <select disabled="{{ saveEdit }}" class="custom-select" name="active" #active="ngModel"
            [(ngModel)]="departamento.active">
            <option [value]=true>ACTIVO</option>
            <option [value]=false>INACTIVO</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label reqlabel">Código:</label>
          <input type="text" maxlength="10" class="form-control" name="codigoDepa" #codigoDepa="ngModel"
            [(ngModel)]="departamento.codigoDepa" [ngClass]="{ 'is-invalid': !codigoDepa.valid && codigoDepa.touched }"
            pattern="[a-zA-Z|0-9]+" required (keyup)="departamento.codigoDepa = departamento.codigoDepa.toUpperCase()">
          <small *ngIf="!codigoDepa.valid && codigoDepa.touched" class="invalid-feedback">
            {{ labels.messages.req }}</small>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label reqlabel">Nombre:</label>
          <input type="text" maxlength="60" class="form-control" name="nombreDepa" #nombreDepa="ngModel"
            [(ngModel)]="departamento.nombreDepa" [ngClass]="{ 'is-invalid': !nombreDepa.valid && nombreDepa.touched }"
            pattern="[A-Za-z| |ñÑáéíóúÁÉÍÓÚüÜ\s]+" required
            (keyup)="departamento.nombreDepa = departamento.nombreDepa.toUpperCase()">
          <small *ngIf="!nombreDepa.valid && nombreDepa.touched" class="invalid-feedback">
            {{ labels.messages.req }}</small>
        </div>

        <div class="form-group col-md-4">
          <label class="form-label">Código Alterno:</label>
          <input type="text" maxlength="4" class="form-control" name="codigoAlterno" #codigoAlterno="ngModel"
            [(ngModel)]="departamento.codigoAlterno"
            (keyup)="departamento.codigoAlterno = departamento.codigoAlterno.toUpperCase()"
            [ngClass]="{ 'is-invalid': !codigoAlterno.valid && codigoAlterno.touched }" pattern="[a-zA-Z|0-9]+">
          <small *ngIf="!codigoAlterno.valid && codigoAlterno.touched" class="invalid-feedback">
            {{ labels.messages.req }}</small>
        </div>
      </div>

      <hr>

      <div class="form-row justify-content-start">
        <div class="form-row">
          <div class="col-6">
            <button type="submit" class="btn btn-primary btn-responsive-lg" [disabled]="!frmDepart.form.valid">
              <span class="far fa-paper-plane mr-1"></span>{{ labels.general.save }}</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-secondary" (click)="resetForm()">
              <span class="fas fa-stop-circle mr-1"></span>{{ labels.general.cancel }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row justify-content-end mt-3 pb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <select class="custom-select" (change)="reloadTableData()" [(ngModel)]="page.size"
        [ngModelOptions]="{standalone: true}">
        <option selected value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="{{ page.totalElements }}">{{ labels.general.totalPage }}</option>
      </select>
    </div>
    <div class="col-9 col-sm-6 col-md-4">
      <input class="form-control" type='text' placeholder='Departamento' (keyup)='onTableFilter($event)'>
    </div>
  </div>

  <div class="table-responsive mt-4">
    <ngx-datatable #table style="min-width: 500px" [rows]="filterDepartamentoList" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="43" [footerHeight]="'auto'" [rowHeight]="'auto'" [reorderable]="true"
      [selectionType]="'single'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
      [limit]="page.size"
      [messages]="{emptyMessage:labels.messages.noDataTable, totalMessage: 'total', selectedMessage: labels.messages.selectedMessage}"
      (select)='onSelectRow($event)' (page)='setPage($event)'>
      <ngx-datatable-column [width]="20" [sortable]="true" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="Código" prop="codigoDepa"></ngx-datatable-column>
      <ngx-datatable-column name="Nombre" prop="nombreDepa"></ngx-datatable-column>
      <ngx-datatable-column name="Codigo Alterno" prop="codigoAlterno"></ngx-datatable-column>
      <ngx-datatable-column *ngIf="showParentCol" name="{{ depaName }}" prop="departamentoPadre.nombreDepa">
      </ngx-datatable-column>
      <ngx-datatable-column name="Nivel" prop="nivel.nombre"></ngx-datatable-column>
      <ngx-datatable-column name="{{labels.general.state}}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.active ? labels.general.active.toUpperCase() : labels.general.inactive.toUpperCase() }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>