<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url('assets/img/bg/1.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="card-body p-sm-5">

        <div class="media align-items-center">
          <img [src]="'assets/img/avatars/support.png'" alt="" class="d-block ui-w-60 rounded-circle">
          <div class="media-body ml-3">
            <div class="text-light small font-weight-semibold line-height-1 mb-1">BIENVENIDO</div>
            <div class="text-large font-weight-bolder line-height-1">{{user.name}}</div>
          </div>
        </div>

        <hr class="my-4">

        <!-- Form -->
        <form *ngIf="!user.sms">
          <p class="text-muted small">Casí listo, solo un paso más. Para continuar debe validar su número de celular por mensaje de texto</p>
          <div class="input-group">
            <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control" placeholder="Número de Celular" [textMask]="phoneMaskOptions">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary icon-btn" (click)="sendSms()"><i class="ion ion-md-arrow-forward"></i></button>
            </div>
          </div>
        </form>
        <!-- / Form -->

        <!-- Form -->
        <form *ngIf="user.sms">
          <p class="text-muted small">Ingrese el código recivido por mensaje de texto</p>
          <div class="input-group">
            <input [(ngModel)]="user.code" name="code" type="text" class="form-control" placeholder="Código" [textMask]="codeMaskOptions">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary icon-btn" (click)="activateUser()"><i class="ion ion-md-arrow-forward"></i></button>
            </div>
          </div>
        </form>
        <!-- / Form -->
        <br>
        <p *ngFor="let alert of alerts">
          <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </p>

      </div>
      <div class="card-footer text-center text-muted small px-sm-5">
        Necesita ayuda ingrese a <a href="javascript:void(0)">admin.fatstline.com.ec</a>
      </div>
    </div>

  </div>
</div>
