<h4 class="font-weight-bold py-3 mb-8 offset-md-2">{{labels.perfil.perfilTitle}}</h4>
<div>
  <hr style="color: gray; border: 2px solid rgba(0,0,0,.1);" class="offset-md-2 col-md-8">
</div>

<div class="demo-vertical-spacing">
  <div>
    <form [formGroup]="formPerfil" novalidate>
      <div class="form-row">
        <div class="form-group col-md-4 offset-md-2">
          <label class="form-label reqlabel">{{labels.general.mail}}:</label>
          <input disabled type="text" maxlength="80"  class="form-control" placeholder="{{labels.general.mail}}..."
                 [(ngModel)]="perfil.mail" formControlName="mail"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.mail.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.general.cellPhone}}:</label>
          <input disabled mask='(000)-000-0000' type="text" class="form-control" placeholder="{{labels.general.cellPhone}}..."
                 [(ngModel)]="perfil.celular" formControlName="phone"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.phone.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4 offset-md-2">
          <label class="form-label reqlabel">{{labels.general.names}}:</label>
          <input type="text" maxlength="100"  class="form-control" placeholder="{{labels.general.names}}..."
                 [(ngModel)]="perfil.nombres" formControlName="name"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.name.errors }"
                 (keyup)="perfil.nombres = perfil.nombres.toUpperCase()">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.general.surnames}}:</label>
          <input type="text" maxlength="100"  class="form-control" placeholder="{{labels.general.surnames}}..."
                 [(ngModel)]="perfil.apellidos" formControlName="last"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.last.errors }"
                 (keyup)="perfil.apellidos = perfil.apellidos.toUpperCase()">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4 offset-md-2">
          <label class="form-label reqlabel">{{labels.employees.identification}}:</label>
          <input disabled type="text" mask="000000000000000"  class="form-control" placeholder="{{labels.employees.identification}}..."
                 [(ngModel)]="perfil.identificacion" formControlName="ident"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.ident.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq5}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.login.oldPassword}}:</label>
          <input type="password" minlength="7" maxlength="64"  class="form-control" placeholder="{{labels.login.oldPassword}}..."
                 [(ngModel)]="perfil.oldPassword" formControlName="pass"
                 [ngClass]="{ 'is-invalid': submitedPerfil && fc.pass.errors }">
          <small class="invalid-feedback">{{labels.messages.minimoReq7}}</small>
        </div>
        <div class="form-group col-md-4 offset-md-2">
          <label class="form-label reqlabel">{{labels.login.newPassword}}:</label>
          <input type="password" minlength="7" maxlength="64"  class="form-control" placeholder="{{labels.login.newPassword}}..."
                 [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
          <small class="invalid-feedback">{{labels.messages.minimoReq3}}</small>
        </div>
        <div class="form-group col-md-4">
          <label class="form-label reqlabel">{{labels.login.pass}}:</label>
          <input type="password" minlength="7" maxlength="64"  class="form-control" placeholder="{{labels.login.pass}}..."
                 [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
          <small class="invalid-feedback">{{labels.messages.minimoReq3}}</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button style="width: 100px; margin: 10px;" type="button" class="btn btn-primary btn-responsive-lg" (click)="save()">
            <span class="far fa-paper-plane"></span>{{labels.general.save}}</button>
          <button style="width: 100px; margin: 10px;" type="button" class="btn btn-secondary" (click)="clear()">
            <span class="fas fa-stop-circle"></span>{{labels.general.cancel}}</button>
        </div>
      </div>
    </form>
  </div>
</div>


